<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="tahun">
	{$tahun_editcontrol}
	</control>
	<control 
	field="app_id">
	{$app_id_editcontrol}
	</control>
	<control 
	field="step">
	{$step_editcontrol}
	</control>
	<control 
	field="operator">
	{$operator_editcontrol}
	</control>
	<control 
	field="review">
	{$review_editcontrol}
	</control>
	<control 
	field="manager">
	{$manager_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
