<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Users, View record [
Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN userid_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_userid {$fielddispclass_userid}">
			<b>Userid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_userid {$fielddispclass_userid}">
			{$userid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END userid_fieldblock}
	{BEGIN nama_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_nama {$fielddispclass_nama}">
			<b>Nama</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_nama {$fielddispclass_nama}">
			{$nama_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END nama_fieldblock}
	{BEGIN created_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_created {$fielddispclass_created}">
			<b>Created</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_created {$fielddispclass_created}">
			{$created_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END created_fieldblock}
	{BEGIN disabled_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_disabled {$fielddispclass_disabled}">
			<b>Disabled</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_disabled {$fielddispclass_disabled}">
			{$disabled_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END disabled_fieldblock}
	{BEGIN passwd_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_passwd {$fielddispclass_passwd}">
			<b>Passwd</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_passwd {$fielddispclass_passwd}">
			{$passwd_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END passwd_fieldblock}
	{BEGIN id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id {$fielddispclass_id}">
			<b>Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_id {$fielddispclass_id}">
			{$id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END id_fieldblock}
	{BEGIN kd_kantor_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kd_kantor {$fielddispclass_kd_kantor}">
			<b>Kd Kantor</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kd_kantor {$fielddispclass_kd_kantor}">
			{$kd_kantor_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_kantor_fieldblock}
	{BEGIN kd_kanwil_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kd_kanwil {$fielddispclass_kd_kanwil}">
			<b>Kd Kanwil</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kd_kanwil {$fielddispclass_kd_kanwil}">
			{$kd_kanwil_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_kanwil_fieldblock}
	{BEGIN kd_tp_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kd_tp {$fielddispclass_kd_tp}">
			<b>Kd Tp</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kd_tp {$fielddispclass_kd_tp}">
			{$kd_tp_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_tp_fieldblock}
	{BEGIN kd_kanwil_bank_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kd_kanwil_bank {$fielddispclass_kd_kanwil_bank}">
			<b>Kd Kanwil Bank</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kd_kanwil_bank {$fielddispclass_kd_kanwil_bank}">
			{$kd_kanwil_bank_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_kanwil_bank_fieldblock}
	{BEGIN kd_kppbb_bank_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kd_kppbb_bank {$fielddispclass_kd_kppbb_bank}">
			<b>Kd Kppbb Bank</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kd_kppbb_bank {$fielddispclass_kd_kppbb_bank}">
			{$kd_kppbb_bank_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_kppbb_bank_fieldblock}
	{BEGIN kd_bank_tunggal_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kd_bank_tunggal {$fielddispclass_kd_bank_tunggal}">
			<b>Kd Bank Tunggal</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kd_bank_tunggal {$fielddispclass_kd_bank_tunggal}">
			{$kd_bank_tunggal_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_bank_tunggal_fieldblock}
	{BEGIN kd_bank_persepsi_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kd_bank_persepsi {$fielddispclass_kd_bank_persepsi}">
			<b>Kd Bank Persepsi</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kd_bank_persepsi {$fielddispclass_kd_bank_persepsi}">
			{$kd_bank_persepsi_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_bank_persepsi_fieldblock}
	{BEGIN nip_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_nip {$fielddispclass_nip}">
			<b>Nip</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_nip {$fielddispclass_nip}">
			{$nip_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END nip_fieldblock}
	{BEGIN jabatan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_jabatan {$fielddispclass_jabatan}">
			<b>Jabatan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_jabatan {$fielddispclass_jabatan}">
			{$jabatan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END jabatan_fieldblock}
	{BEGIN handphone_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_handphone {$fielddispclass_handphone}">
			<b>Handphone</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_handphone {$fielddispclass_handphone}">
			{$handphone_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END handphone_fieldblock}
	{BEGIN create_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
			<b>Create Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_create_uid {$fielddispclass_create_uid}">
			{$create_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}
	{BEGIN update_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_update_uid {$fielddispclass_update_uid}">
			<b>Update Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_update_uid {$fielddispclass_update_uid}">
			{$update_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END update_uid_fieldblock}
	{BEGIN updated_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_updated {$fielddispclass_updated}">
			<b>Updated</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_updated {$fielddispclass_updated}">
			{$updated_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END updated_fieldblock}
	{BEGIN last_login_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_last_login {$fielddispclass_last_login}">
			<b>Last Login</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_last_login {$fielddispclass_last_login}">
			{$last_login_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END last_login_fieldblock}
	{BEGIN is_login_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_is_login {$fielddispclass_is_login}">
			<b>Is Login</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_is_login {$fielddispclass_is_login}">
			{$is_login_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END is_login_fieldblock}
	{BEGIN is_logout_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_is_logout {$fielddispclass_is_logout}">
			<b>Is Logout</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_is_logout {$fielddispclass_is_logout}">
			{$is_logout_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END is_logout_fieldblock}
	{BEGIN last_ip_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_last_ip {$fielddispclass_last_ip}">
			<b>Last Ip</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_last_ip {$fielddispclass_last_ip}">
			{$last_ip_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END last_ip_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
