<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_userid}
			<a href="#" id="addSearchControl_userid" class="addSearchControl" {$addSearchControl_userid_attrs}>Userid</a><br>
		{END addSearch_userid}
		{BEGIN addSearch_nama}
			<a href="#" id="addSearchControl_nama" class="addSearchControl" {$addSearchControl_nama_attrs}>Nama</a><br>
		{END addSearch_nama}
		{BEGIN addSearch_created}
			<a href="#" id="addSearchControl_created" class="addSearchControl" {$addSearchControl_created_attrs}>Created</a><br>
		{END addSearch_created}
		{BEGIN addSearch_disabled}
			<a href="#" id="addSearchControl_disabled" class="addSearchControl" {$addSearchControl_disabled_attrs}>Disabled</a><br>
		{END addSearch_disabled}
		{BEGIN addSearch_passwd}
			<a href="#" id="addSearchControl_passwd" class="addSearchControl" {$addSearchControl_passwd_attrs}>Passwd</a><br>
		{END addSearch_passwd}
		{BEGIN addSearch_id}
			<a href="#" id="addSearchControl_id" class="addSearchControl" {$addSearchControl_id_attrs}>Id</a><br>
		{END addSearch_id}
		{BEGIN addSearch_kd_kantor}
			<a href="#" id="addSearchControl_kd_kantor" class="addSearchControl" {$addSearchControl_kd_kantor_attrs}>Kd Kantor</a><br>
		{END addSearch_kd_kantor}
		{BEGIN addSearch_kd_kanwil}
			<a href="#" id="addSearchControl_kd_kanwil" class="addSearchControl" {$addSearchControl_kd_kanwil_attrs}>Kd Kanwil</a><br>
		{END addSearch_kd_kanwil}
		{BEGIN addSearch_kd_tp}
			<a href="#" id="addSearchControl_kd_tp" class="addSearchControl" {$addSearchControl_kd_tp_attrs}>Kd Tp</a><br>
		{END addSearch_kd_tp}
		{BEGIN addSearch_kd_kanwil_bank}
			<a href="#" id="addSearchControl_kd_kanwil_bank" class="addSearchControl" {$addSearchControl_kd_kanwil_bank_attrs}>Kd Kanwil Bank</a><br>
		{END addSearch_kd_kanwil_bank}
		{BEGIN addSearch_kd_kppbb_bank}
			<a href="#" id="addSearchControl_kd_kppbb_bank" class="addSearchControl" {$addSearchControl_kd_kppbb_bank_attrs}>Kd Kppbb Bank</a><br>
		{END addSearch_kd_kppbb_bank}
		{BEGIN addSearch_kd_bank_tunggal}
			<a href="#" id="addSearchControl_kd_bank_tunggal" class="addSearchControl" {$addSearchControl_kd_bank_tunggal_attrs}>Kd Bank Tunggal</a><br>
		{END addSearch_kd_bank_tunggal}
		{BEGIN addSearch_kd_bank_persepsi}
			<a href="#" id="addSearchControl_kd_bank_persepsi" class="addSearchControl" {$addSearchControl_kd_bank_persepsi_attrs}>Kd Bank Persepsi</a><br>
		{END addSearch_kd_bank_persepsi}
		{BEGIN addSearch_nip}
			<a href="#" id="addSearchControl_nip" class="addSearchControl" {$addSearchControl_nip_attrs}>Nip</a><br>
		{END addSearch_nip}
		{BEGIN addSearch_jabatan}
			<a href="#" id="addSearchControl_jabatan" class="addSearchControl" {$addSearchControl_jabatan_attrs}>Jabatan</a><br>
		{END addSearch_jabatan}
		{BEGIN addSearch_handphone}
			<a href="#" id="addSearchControl_handphone" class="addSearchControl" {$addSearchControl_handphone_attrs}>Handphone</a><br>
		{END addSearch_handphone}
		{BEGIN addSearch_create_uid}
			<a href="#" id="addSearchControl_create_uid" class="addSearchControl" {$addSearchControl_create_uid_attrs}>Create Uid</a><br>
		{END addSearch_create_uid}
		{BEGIN addSearch_update_uid}
			<a href="#" id="addSearchControl_update_uid" class="addSearchControl" {$addSearchControl_update_uid_attrs}>Update Uid</a><br>
		{END addSearch_update_uid}
		{BEGIN addSearch_updated}
			<a href="#" id="addSearchControl_updated" class="addSearchControl" {$addSearchControl_updated_attrs}>Updated</a><br>
		{END addSearch_updated}
		{BEGIN addSearch_last_login}
			<a href="#" id="addSearchControl_last_login" class="addSearchControl" {$addSearchControl_last_login_attrs}>Last Login</a><br>
		{END addSearch_last_login}
		{BEGIN addSearch_is_login}
			<a href="#" id="addSearchControl_is_login" class="addSearchControl" {$addSearchControl_is_login_attrs}>Is Login</a><br>
		{END addSearch_is_login}
		{BEGIN addSearch_is_logout}
			<a href="#" id="addSearchControl_is_logout" class="addSearchControl" {$addSearchControl_is_logout_attrs}>Is Logout</a><br>
		{END addSearch_is_logout}
		{BEGIN addSearch_last_ip}
			<a href="#" id="addSearchControl_last_ip" class="addSearchControl" {$addSearchControl_last_ip_attrs}>Last Ip</a><br>
		{END addSearch_last_ip}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
