<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Users: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Userid</th>
			<th class="runner-cc ">Nama</th>
			<th class="runner-cc ">Created</th>
			<th class="runner-cc ">Disabled</th>
			<th class="runner-cc ">Passwd</th>
			<th class="runner-cc ">Id</th>
			<th class="runner-cc ">Kd Kantor</th>
			<th class="runner-cc ">Kd Kanwil</th>
			<th class="runner-cc ">Kd Tp</th>
			<th class="runner-cc ">Kd Kanwil Bank</th>
			<th class="runner-cc ">Kd Kppbb Bank</th>
			<th class="runner-cc ">Kd Bank Tunggal</th>
			<th class="runner-cc ">Kd Bank Persepsi</th>
			<th class="runner-cc ">Nip</th>
			<th class="runner-cc ">Jabatan</th>
			<th class="runner-cc ">Handphone</th>
			<th class="runner-cc ">Create Uid</th>
			<th class="runner-cc ">Update Uid</th>
			<th class="runner-cc ">Updated</th>
			<th class="runner-cc ">Last Login</th>
			<th class="runner-cc ">Is Login</th>
			<th class="runner-cc ">Is Logout</th>
			<th class="runner-cc runner-clast">Last Ip</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$userid_mastervalue}</td>
			<td class="runner-cc ">{$nama_mastervalue}</td>
			<td class="runner-cc ">{$created_mastervalue}</td>
			<td class="runner-cc ">{$disabled_mastervalue}</td>
			<td class="runner-cc ">{$passwd_mastervalue}</td>
			<td class="runner-cc ">{$id_mastervalue}</td>
			<td class="runner-cc ">{$kd_kantor_mastervalue}</td>
			<td class="runner-cc ">{$kd_kanwil_mastervalue}</td>
			<td class="runner-cc ">{$kd_tp_mastervalue}</td>
			<td class="runner-cc ">{$kd_kanwil_bank_mastervalue}</td>
			<td class="runner-cc ">{$kd_kppbb_bank_mastervalue}</td>
			<td class="runner-cc ">{$kd_bank_tunggal_mastervalue}</td>
			<td class="runner-cc ">{$kd_bank_persepsi_mastervalue}</td>
			<td class="runner-cc ">{$nip_mastervalue}</td>
			<td class="runner-cc ">{$jabatan_mastervalue}</td>
			<td class="runner-cc ">{$handphone_mastervalue}</td>
			<td class="runner-cc ">{$create_uid_mastervalue}</td>
			<td class="runner-cc ">{$update_uid_mastervalue}</td>
			<td class="runner-cc ">{$updated_mastervalue}</td>
			<td class="runner-cc ">{$last_login_mastervalue}</td>
			<td class="runner-cc ">{$is_login_mastervalue}</td>
			<td class="runner-cc ">{$is_logout_mastervalue}</td>
			<td class="runner-cc runner-clast">{$last_ip_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>