<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="userid">
	{$userid_editcontrol}
	</control>
	<control field="nama">
	{$nama_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="disabled">
	{$disabled_editcontrol}
	</control>
	<control field="passwd">
	{$passwd_editcontrol}
	</control>
	<control field="kd_kantor">
	{$kd_kantor_editcontrol}
	</control>
	<control field="kd_kanwil">
	{$kd_kanwil_editcontrol}
	</control>
	<control field="kd_tp">
	{$kd_tp_editcontrol}
	</control>
	<control field="kd_kanwil_bank">
	{$kd_kanwil_bank_editcontrol}
	</control>
	<control field="kd_kppbb_bank">
	{$kd_kppbb_bank_editcontrol}
	</control>
	<control field="kd_bank_tunggal">
	{$kd_bank_tunggal_editcontrol}
	</control>
	<control field="kd_bank_persepsi">
	{$kd_bank_persepsi_editcontrol}
	</control>
	<control field="nip">
	{$nip_editcontrol}
	</control>
	<control field="jabatan">
	{$jabatan_editcontrol}
	</control>
	<control field="handphone">
	{$handphone_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="last_login">
	{$last_login_editcontrol}
	</control>
	<control field="is_login">
	{$is_login_editcontrol}
	</control>
	<control field="is_logout">
	{$is_logout_editcontrol}
	</control>
	<control field="last_ip">
	{$last_ip_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>