<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_master}
<table class="runner-c runner-c-master" cellpadding="0" >
<tr class="{$cheaderclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN mastertable_block}
<td  class="runner-cc runner-bl runner-b-masterinfoprint" {$brickclass_masterinfoprint}><span>{$showmasterfile}
</span></td>
{END mastertable_block}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_master}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Pad Terima Line</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN id_fieldheader}
	<b>Id</b>
	{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
	{BEGIN terima_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN terima_id_fieldheader}
	<b>Terima Id</b>
	{END terima_id_fieldheader}
</th>
{END terima_id_fieldheadercolumn}
	{BEGIN spt_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spt_id_fieldheader}
	<b>Spt Id</b>
	{END spt_id_fieldheader}
</th>
{END spt_id_fieldheadercolumn}
	{BEGIN rekening_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN rekening_id_fieldheader}
	<b>Rekening Id</b>
	{END rekening_id_fieldheader}
</th>
{END rekening_id_fieldheadercolumn}
	{BEGIN pajak_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN pajak_id_fieldheader}
	<b>Pajak Id</b>
	{END pajak_id_fieldheader}
</th>
{END pajak_id_fieldheadercolumn}
	{BEGIN amount_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN amount_fieldheader}
	<b>Amount</b>
	{END amount_fieldheader}
</th>
{END amount_fieldheadercolumn}
	{BEGIN enabled_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN enabled_fieldheader}
	<b>Enabled</b>
	{END enabled_fieldheader}
</th>
{END enabled_fieldheadercolumn}
	{BEGIN create_date_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN create_date_fieldheader}
	<b>Create Date</b>
	{END create_date_fieldheader}
</th>
{END create_date_fieldheadercolumn}
	{BEGIN create_uid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN create_uid_fieldheader}
	<b>Create Uid</b>
	{END create_uid_fieldheader}
</th>
{END create_uid_fieldheadercolumn}
	{BEGIN write_date_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN write_date_fieldheader}
	<b>Write Date</b>
	{END write_date_fieldheader}
</th>
{END write_date_fieldheadercolumn}
	{BEGIN write_uid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN write_uid_fieldheader}
	<b>Write Uid</b>
	{END write_uid_fieldheader}
</th>
{END write_uid_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN id_fieldcolumn}
<td  class="runner-cc {$id_class}" {$id_style}>
	{$id_value}
</td>
{END id_fieldcolumn}
	{BEGIN terima_id_fieldcolumn}
<td  class="runner-cc {$terima_id_class}" {$terima_id_style}>
	{$terima_id_value}
</td>
{END terima_id_fieldcolumn}
	{BEGIN spt_id_fieldcolumn}
<td  class="runner-cc {$spt_id_class}" {$spt_id_style}>
	{$spt_id_value}
</td>
{END spt_id_fieldcolumn}
	{BEGIN rekening_id_fieldcolumn}
<td  class="runner-cc {$rekening_id_class}" {$rekening_id_style}>
	{$rekening_id_value}
</td>
{END rekening_id_fieldcolumn}
	{BEGIN pajak_id_fieldcolumn}
<td  class="runner-cc {$pajak_id_class}" {$pajak_id_style}>
	{$pajak_id_value}
</td>
{END pajak_id_fieldcolumn}
	{BEGIN amount_fieldcolumn}
<td  class="runner-cc {$amount_class}" {$amount_style}>
	{$amount_value}
</td>
{END amount_fieldcolumn}
	{BEGIN enabled_fieldcolumn}
<td  class="runner-cc {$enabled_class}" {$enabled_style}>
	{$enabled_value}
</td>
{END enabled_fieldcolumn}
	{BEGIN create_date_fieldcolumn}
<td  class="runner-cc {$create_date_class}" {$create_date_style}>
	{$create_date_value}
</td>
{END create_date_fieldcolumn}
	{BEGIN create_uid_fieldcolumn}
<td  class="runner-cc {$create_uid_class}" {$create_uid_style}>
	{$create_uid_value}
</td>
{END create_uid_fieldcolumn}
	{BEGIN write_date_fieldcolumn}
<td  class="runner-cc {$write_date_class}" {$write_date_style}>
	{$write_date_value}
</td>
{END write_date_fieldcolumn}
	{BEGIN write_uid_fieldcolumn}
<td  class="runner-cc {$write_uid_class}" {$write_uid_style}>
	{$write_uid_value}
</td>
{END write_uid_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN id_fieldfootercolumn}
<td class="runner-cc "></td>
{END id_fieldfootercolumn}
{BEGIN terima_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END terima_id_fieldfootercolumn}
{BEGIN spt_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END spt_id_fieldfootercolumn}
{BEGIN rekening_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END rekening_id_fieldfootercolumn}
{BEGIN pajak_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END pajak_id_fieldfootercolumn}
{BEGIN amount_fieldfootercolumn}
<td class="runner-cc "></td>
{END amount_fieldfootercolumn}
{BEGIN enabled_fieldfootercolumn}
<td class="runner-cc "></td>
{END enabled_fieldfootercolumn}
{BEGIN create_date_fieldfootercolumn}
<td class="runner-cc "></td>
{END create_date_fieldfootercolumn}
{BEGIN create_uid_fieldfootercolumn}
<td class="runner-cc "></td>
{END create_uid_fieldfootercolumn}
{BEGIN write_date_fieldfootercolumn}
<td class="runner-cc "></td>
{END write_date_fieldfootercolumn}
{BEGIN write_uid_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END write_uid_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
