<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="zona_id">
	{$zona_id_editcontrol}
	</control>
	<control field="manfaat_id">
	{$manfaat_id_editcontrol}
	</control>
	<control field="volume">
	{$volume_editcontrol}
	</control>
	<control field="hda">
	{$hda_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="kelompok_usaha_id">
	{$kelompok_usaha_id_editcontrol}
	</control>
	<control field="golongan">
	{$golongan_editcontrol}
	</control>
	<control field="id_old3">
	{$id_old3_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>