<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id">
	{$id_editcontrol}
	</control>
	<control field="typenm">
	{$typenm_editcontrol}
	</control>
	<control field="tmt">
	{$tmt_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="create_date">
	{$create_date_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="write_date">
	{$write_date_editcontrol}
	</control>
	<control field="write_uid">
	{$write_uid_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>