<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="spt_id">
	{$spt_id_editcontrol}
	</control>
	<control 
	field="sumur_ke">
	{$sumur_ke_editcontrol}
	</control>
	<control 
	field="sipa_no">
	{$sipa_no_editcontrol}
	</control>
	<control 
	field="awal">
	{$awal_editcontrol}
	</control>
	<control 
	field="akhir">
	{$akhir_editcontrol}
	</control>
	<control 
	field="volume">
	{$volume_editcontrol}
	</control>
	<control 
	field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control 
	field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control 
	field="updated">
	{$updated_editcontrol}
	</control>
	<control 
	field="created">
	{$created_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
