<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="tahun">
	{$tahun_editcontrol}
	</control>
	<control field="tanggal">
	{$tanggal_editcontrol}
	</control>
	<control field="teguran_no">
	{$teguran_no_editcontrol}
	</control>
	<control field="invoice_id">
	{$invoice_id_editcontrol}
	</control>
	<control field="keterangan">
	{$keterangan_editcontrol}
	</control>
	<control field="cetak_ke">
	{$cetak_ke_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>