<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="jenis_pajak_id">
	{$jenis_pajak_id_editcontrol}
	</control>
	<control field="media">
	{$media_editcontrol}
	</control>
	<control field="singkatan">
	{$singkatan_editcontrol}
	</control>
	<control field="masa">
	{$masa_editcontrol}
	</control>
	<control field="keterangan">
	{$keterangan_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>