<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Pad Customer Usaha: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Id</th>
			<th class="runner-cc ">Konterid</th>
			<th class="runner-cc ">Reg Date</th>
			<th class="runner-cc ">Customer Id</th>
			<th class="runner-cc ">Usaha Id</th>
			<th class="runner-cc ">So</th>
			<th class="runner-cc ">Kecamatan Id</th>
			<th class="runner-cc ">Kelurahan Id</th>
			<th class="runner-cc ">Notes</th>
			<th class="runner-cc ">Enabled</th>
			<th class="runner-cc ">Create Uid</th>
			<th class="runner-cc ">Customer Status Id</th>
			<th class="runner-cc ">Aktifnotes</th>
			<th class="runner-cc ">Tmt</th>
			<th class="runner-cc ">Air Zona Id</th>
			<th class="runner-cc ">Air Manfaat Id</th>
			<th class="runner-cc ">Def Pajak Id</th>
			<th class="runner-cc ">Opnm</th>
			<th class="runner-cc ">Opalamat</th>
			<th class="runner-cc ">Latitude</th>
			<th class="runner-cc ">Longitude</th>
			<th class="runner-cc ">Created</th>
			<th class="runner-cc ">Updated</th>
			<th class="runner-cc ">Update Uid</th>
			<th class="runner-cc ">Kd Restojmlmeja</th>
			<th class="runner-cc ">Kd Restojmlkursi</th>
			<th class="runner-cc ">Kd Restojmltamu</th>
			<th class="runner-cc ">Kd Filmkursi</th>
			<th class="runner-cc ">Kd Filmpertunjukan</th>
			<th class="runner-cc ">Kd Filmtarif</th>
			<th class="runner-cc ">Kd Bilyarmeja</th>
			<th class="runner-cc ">Kd Bilyartarif</th>
			<th class="runner-cc ">Kd Bilyarkegiatan</th>
			<th class="runner-cc ">Kd Diskopengunjung</th>
			<th class="runner-cc ">Kd Diskotarif</th>
			<th class="runner-cc ">Mall Id</th>
			<th class="runner-cc ">Cash Register</th>
			<th class="runner-cc ">Pelaporan</th>
			<th class="runner-cc ">Pembukuan</th>
			<th class="runner-cc ">Bandara</th>
			<th class="runner-cc ">Wajib Pajak</th>
			<th class="runner-cc ">Jumlah Karyawan</th>
			<th class="runner-cc ">Tanggal Tutup</th>
			<th class="runner-cc ">Parkir Luas</th>
			<th class="runner-cc ">Parkir Masuk</th>
			<th class="runner-cc ">Parkir Tarif Mobil</th>
			<th class="runner-cc ">Parkir Tambahan</th>
			<th class="runner-cc ">Parkir Kapasitas Mobil</th>
			<th class="runner-cc ">Parkir Mobil Hari</th>
			<th class="runner-cc ">Parkir Keluar</th>
			<th class="runner-cc ">Parkir Motor Luas</th>
			<th class="runner-cc ">Parkir Motor Masuk</th>
			<th class="runner-cc ">Parkir Motor Keluar</th>
			<th class="runner-cc ">Parkir Tarif Motor</th>
			<th class="runner-cc ">Parkir Motor Tambahan</th>
			<th class="runner-cc ">Parkir Kapasitas Motor</th>
			<th class="runner-cc ">Parkir Motor Hari</th>
			<th class="runner-cc ">Kelompok Usaha Id</th>
			<th class="runner-cc ">Zona Id</th>
			<th class="runner-cc ">Manfaat Id</th>
			<th class="runner-cc ">Golongan Id</th>
			<th class="runner-cc runner-clast">Id Old</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$id_mastervalue}</td>
			<td class="runner-cc ">{$konterid_mastervalue}</td>
			<td class="runner-cc ">{$reg_date_mastervalue}</td>
			<td class="runner-cc ">{$customer_id_mastervalue}</td>
			<td class="runner-cc ">{$usaha_id_mastervalue}</td>
			<td class="runner-cc ">{$so_mastervalue}</td>
			<td class="runner-cc ">{$kecamatan_id_mastervalue}</td>
			<td class="runner-cc ">{$kelurahan_id_mastervalue}</td>
			<td class="runner-cc ">{$notes_mastervalue}</td>
			<td class="runner-cc ">{$enabled_mastervalue}</td>
			<td class="runner-cc ">{$create_uid_mastervalue}</td>
			<td class="runner-cc ">{$customer_status_id_mastervalue}</td>
			<td class="runner-cc ">{$aktifnotes_mastervalue}</td>
			<td class="runner-cc ">{$tmt_mastervalue}</td>
			<td class="runner-cc ">{$air_zona_id_mastervalue}</td>
			<td class="runner-cc ">{$air_manfaat_id_mastervalue}</td>
			<td class="runner-cc ">{$def_pajak_id_mastervalue}</td>
			<td class="runner-cc ">{$opnm_mastervalue}</td>
			<td class="runner-cc ">{$opalamat_mastervalue}</td>
			<td class="runner-cc ">{$latitude_mastervalue}</td>
			<td class="runner-cc ">{$longitude_mastervalue}</td>
			<td class="runner-cc ">{$created_mastervalue}</td>
			<td class="runner-cc ">{$updated_mastervalue}</td>
			<td class="runner-cc ">{$update_uid_mastervalue}</td>
			<td class="runner-cc ">{$kd_restojmlmeja_mastervalue}</td>
			<td class="runner-cc ">{$kd_restojmlkursi_mastervalue}</td>
			<td class="runner-cc ">{$kd_restojmltamu_mastervalue}</td>
			<td class="runner-cc ">{$kd_filmkursi_mastervalue}</td>
			<td class="runner-cc ">{$kd_filmpertunjukan_mastervalue}</td>
			<td class="runner-cc ">{$kd_filmtarif_mastervalue}</td>
			<td class="runner-cc ">{$kd_bilyarmeja_mastervalue}</td>
			<td class="runner-cc ">{$kd_bilyartarif_mastervalue}</td>
			<td class="runner-cc ">{$kd_bilyarkegiatan_mastervalue}</td>
			<td class="runner-cc ">{$kd_diskopengunjung_mastervalue}</td>
			<td class="runner-cc ">{$kd_diskotarif_mastervalue}</td>
			<td class="runner-cc ">{$mall_id_mastervalue}</td>
			<td class="runner-cc ">{$cash_register_mastervalue}</td>
			<td class="runner-cc ">{$pelaporan_mastervalue}</td>
			<td class="runner-cc ">{$pembukuan_mastervalue}</td>
			<td class="runner-cc ">{$bandara_mastervalue}</td>
			<td class="runner-cc ">{$wajib_pajak_mastervalue}</td>
			<td class="runner-cc ">{$jumlah_karyawan_mastervalue}</td>
			<td class="runner-cc ">{$tanggal_tutup_mastervalue}</td>
			<td class="runner-cc ">{$parkir_luas_mastervalue}</td>
			<td class="runner-cc ">{$parkir_masuk_mastervalue}</td>
			<td class="runner-cc ">{$parkir_tarif_mobil_mastervalue}</td>
			<td class="runner-cc ">{$parkir_tambahan_mastervalue}</td>
			<td class="runner-cc ">{$parkir_kapasitas_mobil_mastervalue}</td>
			<td class="runner-cc ">{$parkir_mobil_hari_mastervalue}</td>
			<td class="runner-cc ">{$parkir_keluar_mastervalue}</td>
			<td class="runner-cc ">{$parkir_motor_luas_mastervalue}</td>
			<td class="runner-cc ">{$parkir_motor_masuk_mastervalue}</td>
			<td class="runner-cc ">{$parkir_motor_keluar_mastervalue}</td>
			<td class="runner-cc ">{$parkir_tarif_motor_mastervalue}</td>
			<td class="runner-cc ">{$parkir_motor_tambahan_mastervalue}</td>
			<td class="runner-cc ">{$parkir_kapasitas_motor_mastervalue}</td>
			<td class="runner-cc ">{$parkir_motor_hari_mastervalue}</td>
			<td class="runner-cc ">{$kelompok_usaha_id_mastervalue}</td>
			<td class="runner-cc ">{$zona_id_mastervalue}</td>
			<td class="runner-cc ">{$manfaat_id_mastervalue}</td>
			<td class="runner-cc ">{$golongan_id_mastervalue}</td>
			<td class="runner-cc runner-clast">{$id_old_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>