<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="customer_usaha_id">
	{$customer_usaha_id_editcontrol}
	</control>
	<control 
	field="sumur_ke">
	{$sumur_ke_editcontrol}
	</control>
	<control 
	field="sipa_no">
	{$sipa_no_editcontrol}
	</control>
	<control 
	field="max_volume">
	{$max_volume_editcontrol}
	</control>
	<control 
	field="disabled">
	{$disabled_editcontrol}
	</control>
	<control 
	field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control 
	field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control 
	field="updated">
	{$updated_editcontrol}
	</control>
	<control 
	field="created">
	{$created_editcontrol}
	</control>
	<control 
	field="customer_id">
	{$customer_id_editcontrol}
	</control>
	<control 
	field="konterid">
	{$konterid_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
