<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="tahun">
	{$tahun_editcontrol}
	</control>
	<control 
	field="sspdno">
	{$sspdno_editcontrol}
	</control>
	<control 
	field="sspdtgl">
	{$sspdtgl_editcontrol}
	</control>
	<control 
	field="sspdjam">
	{$sspdjam_editcontrol}
	</control>
	<control 
	field="invoice_id">
	{$invoice_id_editcontrol}
	</control>
	<control 
	field="keterangan">
	{$keterangan_editcontrol}
	</control>
	<control 
	field="bulan_telat">
	{$bulan_telat_editcontrol}
	</control>
	<control 
	field="hitung_bunga">
	{$hitung_bunga_editcontrol}
	</control>
	<control 
	field="denda">
	{$denda_editcontrol}
	</control>
	<control 
	field="bunga">
	{$bunga_editcontrol}
	</control>
	<control 
	field="jml_bayar">
	{$jml_bayar_editcontrol}
	</control>
	<control 
	field="sisa">
	{$sisa_editcontrol}
	</control>
	<control 
	field="jenis_bayar">
	{$jenis_bayar_editcontrol}
	</control>
	<control 
	field="printed">
	{$printed_editcontrol}
	</control>
	<control 
	field="tp_id">
	{$tp_id_editcontrol}
	</control>
	<control 
	field="is_validated">
	{$is_validated_editcontrol}
	</control>
	<control 
	field="is_valid">
	{$is_valid_editcontrol}
	</control>
	<control 
	field="enabled">
	{$enabled_editcontrol}
	</control>
	<control 
	field="created">
	{$created_editcontrol}
	</control>
	<control 
	field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control 
	field="updated">
	{$updated_editcontrol}
	</control>
	<control 
	field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control 
	field="petugas_id">
	{$petugas_id_editcontrol}
	</control>
	<control 
	field="pejabat_id">
	{$pejabat_id_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
