<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="jalan_kelas_id">
	{$jalan_kelas_id_editcontrol}
	</control>
	<control field="kode">
	{$kode_editcontrol}
	</control>
	<control field="nama">
	{$nama_editcontrol}
	</control>
	<control field="tmt">
	{$tmt_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="create_date">
	{$create_date_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>