<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="kode">
	{$kode_editcontrol}
	</control>
	<control field="nama">
	{$nama_editcontrol}
	</control>
	<control field="levelid">
	{$levelid_editcontrol}
	</control>
	<control field="issummary">
	{$issummary_editcontrol}
	</control>
	<control field="defsign">
	{$defsign_editcontrol}
	</control>
	<control field="isppkd">
	{$isppkd_editcontrol}
	</control>
	<control field="tmt">
	{$tmt_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="insidentil">
	{$insidentil_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>