<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Pad Spt Reklame</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN id_fieldheader}
	<b>Id</b>
	{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
	{BEGIN spt_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN spt_id_fieldheader}
	<b>Spt Id</b>
	{END spt_id_fieldheader}
</th>
{END spt_id_fieldheadercolumn}
	{BEGIN media_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN media_id_fieldheader}
	<b>Media Id</b>
	{END media_id_fieldheader}
</th>
{END media_id_fieldheadercolumn}
	{BEGIN kelas_jalan_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN kelas_jalan_id_fieldheader}
	<b>Kelas Jalan Id</b>
	{END kelas_jalan_id_fieldheader}
</th>
{END kelas_jalan_id_fieldheadercolumn}
	{BEGIN panjang_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN panjang_fieldheader}
	<b>Panjang</b>
	{END panjang_fieldheader}
</th>
{END panjang_fieldheadercolumn}
	{BEGIN lebar_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN lebar_fieldheader}
	<b>Lebar</b>
	{END lebar_fieldheader}
</th>
{END lebar_fieldheadercolumn}
	{BEGIN tinggi_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN tinggi_fieldheader}
	<b>Tinggi</b>
	{END tinggi_fieldheader}
</th>
{END tinggi_fieldheadercolumn}
	{BEGIN muka_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN muka_fieldheader}
	<b>Muka</b>
	{END muka_fieldheader}
</th>
{END muka_fieldheadercolumn}
	{BEGIN sisi_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN sisi_fieldheader}
	<b>Sisi</b>
	{END sisi_fieldheader}
</th>
{END sisi_fieldheadercolumn}
	{BEGIN banyak_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN banyak_fieldheader}
	<b>Banyak</b>
	{END banyak_fieldheader}
</th>
{END banyak_fieldheadercolumn}
	{BEGIN lama_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN lama_fieldheader}
	<b>Lama</b>
	{END lama_fieldheader}
</th>
{END lama_fieldheadercolumn}
	{BEGIN nsr_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN nsr_fieldheader}
	<b>Nsr</b>
	{END nsr_fieldheader}
</th>
{END nsr_fieldheadercolumn}
	{BEGIN alamat_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN alamat_fieldheader}
	<b>Alamat</b>
	{END alamat_fieldheader}
</th>
{END alamat_fieldheadercolumn}
	{BEGIN update_uid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN update_uid_fieldheader}
	<b>Update Uid</b>
	{END update_uid_fieldheader}
</th>
{END update_uid_fieldheadercolumn}
	{BEGIN create_uid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN create_uid_fieldheader}
	<b>Create Uid</b>
	{END create_uid_fieldheader}
</th>
{END create_uid_fieldheadercolumn}
	{BEGIN updated_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN updated_fieldheader}
	<b>Updated</b>
	{END updated_fieldheader}
</th>
{END updated_fieldheadercolumn}
	{BEGIN created_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN created_fieldheader}
	<b>Created</b>
	{END created_fieldheader}
</th>
{END created_fieldheadercolumn}
	{BEGIN status_baliho_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN status_baliho_fieldheader}
	<b>Status Baliho</b>
	{END status_baliho_fieldheader}
</th>
{END status_baliho_fieldheadercolumn}
	{BEGIN tambahan_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN tambahan_fieldheader}
	<b>Tambahan</b>
	{END tambahan_fieldheader}
</th>
{END tambahan_fieldheadercolumn}
	{BEGIN jalan_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN jalan_id_fieldheader}
	<b>Jalan Id</b>
	{END jalan_id_fieldheader}
</th>
{END jalan_id_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN id_fieldcolumn}
<td  class="runner-cc {$id_class}" {$id_style}>
	{$id_value}
</td>
{END id_fieldcolumn}
	{BEGIN spt_id_fieldcolumn}
<td  class="runner-cc {$spt_id_class}" {$spt_id_style}>
	{$spt_id_value}
</td>
{END spt_id_fieldcolumn}
	{BEGIN media_id_fieldcolumn}
<td  class="runner-cc {$media_id_class}" {$media_id_style}>
	{$media_id_value}
</td>
{END media_id_fieldcolumn}
	{BEGIN kelas_jalan_id_fieldcolumn}
<td  class="runner-cc {$kelas_jalan_id_class}" {$kelas_jalan_id_style}>
	{$kelas_jalan_id_value}
</td>
{END kelas_jalan_id_fieldcolumn}
	{BEGIN panjang_fieldcolumn}
<td  class="runner-cc {$panjang_class}" {$panjang_style}>
	{$panjang_value}
</td>
{END panjang_fieldcolumn}
	{BEGIN lebar_fieldcolumn}
<td  class="runner-cc {$lebar_class}" {$lebar_style}>
	{$lebar_value}
</td>
{END lebar_fieldcolumn}
	{BEGIN tinggi_fieldcolumn}
<td  class="runner-cc {$tinggi_class}" {$tinggi_style}>
	{$tinggi_value}
</td>
{END tinggi_fieldcolumn}
	{BEGIN muka_fieldcolumn}
<td  class="runner-cc {$muka_class}" {$muka_style}>
	{$muka_value}
</td>
{END muka_fieldcolumn}
	{BEGIN sisi_fieldcolumn}
<td  class="runner-cc {$sisi_class}" {$sisi_style}>
	{$sisi_value}
</td>
{END sisi_fieldcolumn}
	{BEGIN banyak_fieldcolumn}
<td  class="runner-cc {$banyak_class}" {$banyak_style}>
	{$banyak_value}
</td>
{END banyak_fieldcolumn}
	{BEGIN lama_fieldcolumn}
<td  class="runner-cc {$lama_class}" {$lama_style}>
	{$lama_value}
</td>
{END lama_fieldcolumn}
	{BEGIN nsr_fieldcolumn}
<td  class="runner-cc {$nsr_class}" {$nsr_style}>
	{$nsr_value}
</td>
{END nsr_fieldcolumn}
	{BEGIN alamat_fieldcolumn}
<td  class="runner-cc {$alamat_class}" {$alamat_style}>
	{$alamat_value}
</td>
{END alamat_fieldcolumn}
	{BEGIN update_uid_fieldcolumn}
<td  class="runner-cc {$update_uid_class}" {$update_uid_style}>
	{$update_uid_value}
</td>
{END update_uid_fieldcolumn}
	{BEGIN create_uid_fieldcolumn}
<td  class="runner-cc {$create_uid_class}" {$create_uid_style}>
	{$create_uid_value}
</td>
{END create_uid_fieldcolumn}
	{BEGIN updated_fieldcolumn}
<td  class="runner-cc {$updated_class}" {$updated_style}>
	{$updated_value}
</td>
{END updated_fieldcolumn}
	{BEGIN created_fieldcolumn}
<td  class="runner-cc {$created_class}" {$created_style}>
	{$created_value}
</td>
{END created_fieldcolumn}
	{BEGIN status_baliho_fieldcolumn}
<td  class="runner-cc {$status_baliho_class}" {$status_baliho_style}>
	{$status_baliho_value}
</td>
{END status_baliho_fieldcolumn}
	{BEGIN tambahan_fieldcolumn}
<td  class="runner-cc {$tambahan_class}" {$tambahan_style}>
	{$tambahan_value}
</td>
{END tambahan_fieldcolumn}
	{BEGIN jalan_id_fieldcolumn}
<td  class="runner-cc {$jalan_id_class}" {$jalan_id_style}>
	{$jalan_id_value}
</td>
{END jalan_id_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN id_fieldfootercolumn}
<td class="runner-cc "></td>
{END id_fieldfootercolumn}
{BEGIN spt_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END spt_id_fieldfootercolumn}
{BEGIN media_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END media_id_fieldfootercolumn}
{BEGIN kelas_jalan_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END kelas_jalan_id_fieldfootercolumn}
{BEGIN panjang_fieldfootercolumn}
<td class="runner-cc "></td>
{END panjang_fieldfootercolumn}
{BEGIN lebar_fieldfootercolumn}
<td class="runner-cc "></td>
{END lebar_fieldfootercolumn}
{BEGIN tinggi_fieldfootercolumn}
<td class="runner-cc "></td>
{END tinggi_fieldfootercolumn}
{BEGIN muka_fieldfootercolumn}
<td class="runner-cc "></td>
{END muka_fieldfootercolumn}
{BEGIN sisi_fieldfootercolumn}
<td class="runner-cc "></td>
{END sisi_fieldfootercolumn}
{BEGIN banyak_fieldfootercolumn}
<td class="runner-cc "></td>
{END banyak_fieldfootercolumn}
{BEGIN lama_fieldfootercolumn}
<td class="runner-cc "></td>
{END lama_fieldfootercolumn}
{BEGIN nsr_fieldfootercolumn}
<td class="runner-cc "></td>
{END nsr_fieldfootercolumn}
{BEGIN alamat_fieldfootercolumn}
<td class="runner-cc "></td>
{END alamat_fieldfootercolumn}
{BEGIN update_uid_fieldfootercolumn}
<td class="runner-cc "></td>
{END update_uid_fieldfootercolumn}
{BEGIN create_uid_fieldfootercolumn}
<td class="runner-cc "></td>
{END create_uid_fieldfootercolumn}
{BEGIN updated_fieldfootercolumn}
<td class="runner-cc "></td>
{END updated_fieldfootercolumn}
{BEGIN created_fieldfootercolumn}
<td class="runner-cc "></td>
{END created_fieldfootercolumn}
{BEGIN status_baliho_fieldfootercolumn}
<td class="runner-cc "></td>
{END status_baliho_fieldfootercolumn}
{BEGIN tambahan_fieldfootercolumn}
<td class="runner-cc "></td>
{END tambahan_fieldfootercolumn}
{BEGIN jalan_id_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END jalan_id_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
