<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Pad Pemda - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_id {$fielddispclass_id}">
				Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id {$fielddispclass_id}">
			<input type="checkbox" {$id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id {$fielddispclass_id}">
			{$searchtype_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id {$fielddispclass_id}">
			{$id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id {$fielddispclass_id}">
			{$id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_fieldblock}
	{BEGIN type_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_type {$fielddispclass_type}">
				Type
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_type {$fielddispclass_type}">
			<input type="checkbox" {$type_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_type {$fielddispclass_type}">
			{$searchtype_type}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_type {$fielddispclass_type}">
			{$type_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_type {$fielddispclass_type}">
			{$type_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END type_fieldblock}
	{BEGIN kepala_nama_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kepala_nama {$fielddispclass_kepala_nama}">
				Kepala Nama
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_kepala_nama {$fielddispclass_kepala_nama}">
			<input type="checkbox" {$kepala_nama_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_kepala_nama {$fielddispclass_kepala_nama}">
			{$searchtype_kepala_nama}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_kepala_nama {$fielddispclass_kepala_nama}">
			{$kepala_nama_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_kepala_nama {$fielddispclass_kepala_nama}">
			{$kepala_nama_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END kepala_nama_fieldblock}
	{BEGIN alamat_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_alamat {$fielddispclass_alamat}">
				Alamat
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_alamat {$fielddispclass_alamat}">
			<input type="checkbox" {$alamat_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_alamat {$fielddispclass_alamat}">
			{$searchtype_alamat}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_alamat {$fielddispclass_alamat}">
			{$alamat_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_alamat {$fielddispclass_alamat}">
			{$alamat_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END alamat_fieldblock}
	{BEGIN telp_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_telp {$fielddispclass_telp}">
				Telp
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_telp {$fielddispclass_telp}">
			<input type="checkbox" {$telp_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_telp {$fielddispclass_telp}">
			{$searchtype_telp}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_telp {$fielddispclass_telp}">
			{$telp_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_telp {$fielddispclass_telp}">
			{$telp_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END telp_fieldblock}
	{BEGIN pemda_nama_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pemda_nama {$fielddispclass_pemda_nama}">
				Pemda Nama
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pemda_nama {$fielddispclass_pemda_nama}">
			<input type="checkbox" {$pemda_nama_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pemda_nama {$fielddispclass_pemda_nama}">
			{$searchtype_pemda_nama}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pemda_nama {$fielddispclass_pemda_nama}">
			{$pemda_nama_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pemda_nama {$fielddispclass_pemda_nama}">
			{$pemda_nama_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pemda_nama_fieldblock}
	{BEGIN ibukota_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ibukota {$fielddispclass_ibukota}">
				Ibukota
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ibukota {$fielddispclass_ibukota}">
			<input type="checkbox" {$ibukota_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ibukota {$fielddispclass_ibukota}">
			{$searchtype_ibukota}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ibukota {$fielddispclass_ibukota}">
			{$ibukota_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ibukota {$fielddispclass_ibukota}">
			{$ibukota_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ibukota_fieldblock}
	{BEGIN tmt_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_tmt {$fielddispclass_tmt}">
				Tmt
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tmt {$fielddispclass_tmt}">
			<input type="checkbox" {$tmt_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tmt {$fielddispclass_tmt}">
			{$searchtype_tmt}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tmt {$fielddispclass_tmt}">
			{$tmt_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tmt {$fielddispclass_tmt}">
			{$tmt_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tmt_fieldblock}
	{BEGIN jabatan_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_jabatan {$fielddispclass_jabatan}">
				Jabatan
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jabatan {$fielddispclass_jabatan}">
			<input type="checkbox" {$jabatan_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jabatan {$fielddispclass_jabatan}">
			{$searchtype_jabatan}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jabatan {$fielddispclass_jabatan}">
			{$jabatan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jabatan {$fielddispclass_jabatan}">
			{$jabatan_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END jabatan_fieldblock}
	{BEGIN ppkd_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ppkd_id {$fielddispclass_ppkd_id}">
				Ppkd Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ppkd_id {$fielddispclass_ppkd_id}">
			<input type="checkbox" {$ppkd_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ppkd_id {$fielddispclass_ppkd_id}">
			{$searchtype_ppkd_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ppkd_id {$fielddispclass_ppkd_id}">
			{$ppkd_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ppkd_id {$fielddispclass_ppkd_id}">
			{$ppkd_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ppkd_id_fieldblock}
	{BEGIN reklame_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_reklame_id {$fielddispclass_reklame_id}">
				Reklame Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_reklame_id {$fielddispclass_reklame_id}">
			<input type="checkbox" {$reklame_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_reklame_id {$fielddispclass_reklame_id}">
			{$searchtype_reklame_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_reklame_id {$fielddispclass_reklame_id}">
			{$reklame_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_reklame_id {$fielddispclass_reklame_id}">
			{$reklame_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END reklame_id_fieldblock}
	{BEGIN pendapatan_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pendapatan_id {$fielddispclass_pendapatan_id}">
				Pendapatan Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pendapatan_id {$fielddispclass_pendapatan_id}">
			<input type="checkbox" {$pendapatan_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pendapatan_id {$fielddispclass_pendapatan_id}">
			{$searchtype_pendapatan_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pendapatan_id {$fielddispclass_pendapatan_id}">
			{$pendapatan_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pendapatan_id {$fielddispclass_pendapatan_id}">
			{$pendapatan_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pendapatan_id_fieldblock}
	{BEGIN pemda_nama_singkat_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pemda_nama_singkat {$fielddispclass_pemda_nama_singkat}">
				Pemda Nama Singkat
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pemda_nama_singkat {$fielddispclass_pemda_nama_singkat}">
			<input type="checkbox" {$pemda_nama_singkat_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pemda_nama_singkat {$fielddispclass_pemda_nama_singkat}">
			{$searchtype_pemda_nama_singkat}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pemda_nama_singkat {$fielddispclass_pemda_nama_singkat}">
			{$pemda_nama_singkat_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pemda_nama_singkat {$fielddispclass_pemda_nama_singkat}">
			{$pemda_nama_singkat_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pemda_nama_singkat_fieldblock}
	{BEGIN airtanah_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_airtanah_id {$fielddispclass_airtanah_id}">
				Airtanah Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_airtanah_id {$fielddispclass_airtanah_id}">
			<input type="checkbox" {$airtanah_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_airtanah_id {$fielddispclass_airtanah_id}">
			{$searchtype_airtanah_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_airtanah_id {$fielddispclass_airtanah_id}">
			{$airtanah_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_airtanah_id {$fielddispclass_airtanah_id}">
			{$airtanah_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END airtanah_id_fieldblock}
	{BEGIN self_dok_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_self_dok_id {$fielddispclass_self_dok_id}">
				Self Dok Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_self_dok_id {$fielddispclass_self_dok_id}">
			<input type="checkbox" {$self_dok_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_self_dok_id {$fielddispclass_self_dok_id}">
			{$searchtype_self_dok_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_self_dok_id {$fielddispclass_self_dok_id}">
			{$self_dok_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_self_dok_id {$fielddispclass_self_dok_id}">
			{$self_dok_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END self_dok_id_fieldblock}
	{BEGIN office_dok_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_office_dok_id {$fielddispclass_office_dok_id}">
				Office Dok Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_office_dok_id {$fielddispclass_office_dok_id}">
			<input type="checkbox" {$office_dok_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_office_dok_id {$fielddispclass_office_dok_id}">
			{$searchtype_office_dok_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_office_dok_id {$fielddispclass_office_dok_id}">
			{$office_dok_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_office_dok_id {$fielddispclass_office_dok_id}">
			{$office_dok_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END office_dok_id_fieldblock}
	{BEGIN tgl_jatuhtempo_self_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_tgl_jatuhtempo_self {$fielddispclass_tgl_jatuhtempo_self}">
				Tgl Jatuhtempo Self
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tgl_jatuhtempo_self {$fielddispclass_tgl_jatuhtempo_self}">
			<input type="checkbox" {$tgl_jatuhtempo_self_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tgl_jatuhtempo_self {$fielddispclass_tgl_jatuhtempo_self}">
			{$searchtype_tgl_jatuhtempo_self}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tgl_jatuhtempo_self {$fielddispclass_tgl_jatuhtempo_self}">
			{$tgl_jatuhtempo_self_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tgl_jatuhtempo_self {$fielddispclass_tgl_jatuhtempo_self}">
			{$tgl_jatuhtempo_self_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tgl_jatuhtempo_self_fieldblock}
	{BEGIN spt_denda_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spt_denda {$fielddispclass_spt_denda}">
				Spt Denda
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_spt_denda {$fielddispclass_spt_denda}">
			<input type="checkbox" {$spt_denda_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_spt_denda {$fielddispclass_spt_denda}">
			{$searchtype_spt_denda}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_spt_denda {$fielddispclass_spt_denda}">
			{$spt_denda_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_spt_denda {$fielddispclass_spt_denda}">
			{$spt_denda_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END spt_denda_fieldblock}
	{BEGIN tgl_spt_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_tgl_spt {$fielddispclass_tgl_spt}">
				Tgl Spt
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tgl_spt {$fielddispclass_tgl_spt}">
			<input type="checkbox" {$tgl_spt_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tgl_spt {$fielddispclass_tgl_spt}">
			{$searchtype_tgl_spt}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tgl_spt {$fielddispclass_tgl_spt}">
			{$tgl_spt_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tgl_spt {$fielddispclass_tgl_spt}">
			{$tgl_spt_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tgl_spt_fieldblock}
	{BEGIN pad_bunga_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pad_bunga {$fielddispclass_pad_bunga}">
				Pad Bunga
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pad_bunga {$fielddispclass_pad_bunga}">
			<input type="checkbox" {$pad_bunga_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pad_bunga {$fielddispclass_pad_bunga}">
			{$searchtype_pad_bunga}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pad_bunga {$fielddispclass_pad_bunga}">
			{$pad_bunga_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pad_bunga {$fielddispclass_pad_bunga}">
			{$pad_bunga_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pad_bunga_fieldblock}
	{BEGIN fax_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_fax {$fielddispclass_fax}">
				Fax
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_fax {$fielddispclass_fax}">
			<input type="checkbox" {$fax_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_fax {$fielddispclass_fax}">
			{$searchtype_fax}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_fax {$fielddispclass_fax}">
			{$fax_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_fax {$fielddispclass_fax}">
			{$fax_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END fax_fieldblock}
	{BEGIN website_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_website {$fielddispclass_website}">
				Website
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_website {$fielddispclass_website}">
			<input type="checkbox" {$website_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_website {$fielddispclass_website}">
			{$searchtype_website}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_website {$fielddispclass_website}">
			{$website_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_website {$fielddispclass_website}">
			{$website_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END website_fieldblock}
	{BEGIN email_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_email {$fielddispclass_email}">
				Email
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_email {$fielddispclass_email}">
			<input type="checkbox" {$email_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_email {$fielddispclass_email}">
			{$searchtype_email}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_email {$fielddispclass_email}">
			{$email_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END email_fieldblock}
	{BEGIN daerah_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_daerah {$fielddispclass_daerah}">
				Daerah
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_daerah {$fielddispclass_daerah}">
			<input type="checkbox" {$daerah_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_daerah {$fielddispclass_daerah}">
			{$searchtype_daerah}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_daerah {$fielddispclass_daerah}">
			{$daerah_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_daerah {$fielddispclass_daerah}">
			{$daerah_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END daerah_fieldblock}
	{BEGIN alamat_lengkap_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_alamat_lengkap {$fielddispclass_alamat_lengkap}">
				Alamat Lengkap
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_alamat_lengkap {$fielddispclass_alamat_lengkap}">
			<input type="checkbox" {$alamat_lengkap_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_alamat_lengkap {$fielddispclass_alamat_lengkap}">
			{$searchtype_alamat_lengkap}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_alamat_lengkap {$fielddispclass_alamat_lengkap}">
			{$alamat_lengkap_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_alamat_lengkap {$fielddispclass_alamat_lengkap}">
			{$alamat_lengkap_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END alamat_lengkap_fieldblock}
	{BEGIN ppj_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ppj_id {$fielddispclass_ppj_id}">
				Ppj Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ppj_id {$fielddispclass_ppj_id}">
			<input type="checkbox" {$ppj_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ppj_id {$fielddispclass_ppj_id}">
			{$searchtype_ppj_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ppj_id {$fielddispclass_ppj_id}">
			{$ppj_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ppj_id {$fielddispclass_ppj_id}">
			{$ppj_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ppj_id_fieldblock}
	{BEGIN hotel_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_hotel_id {$fielddispclass_hotel_id}">
				Hotel Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_hotel_id {$fielddispclass_hotel_id}">
			<input type="checkbox" {$hotel_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_hotel_id {$fielddispclass_hotel_id}">
			{$searchtype_hotel_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_hotel_id {$fielddispclass_hotel_id}">
			{$hotel_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_hotel_id {$fielddispclass_hotel_id}">
			{$hotel_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END hotel_id_fieldblock}
	{BEGIN walet_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_walet_id {$fielddispclass_walet_id}">
				Walet Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_walet_id {$fielddispclass_walet_id}">
			<input type="checkbox" {$walet_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_walet_id {$fielddispclass_walet_id}">
			{$searchtype_walet_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_walet_id {$fielddispclass_walet_id}">
			{$walet_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_walet_id {$fielddispclass_walet_id}">
			{$walet_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END walet_id_fieldblock}
	{BEGIN restauran_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_restauran_id {$fielddispclass_restauran_id}">
				Restauran Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_restauran_id {$fielddispclass_restauran_id}">
			<input type="checkbox" {$restauran_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_restauran_id {$fielddispclass_restauran_id}">
			{$searchtype_restauran_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_restauran_id {$fielddispclass_restauran_id}">
			{$restauran_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_restauran_id {$fielddispclass_restauran_id}">
			{$restauran_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END restauran_id_fieldblock}
	{BEGIN hiburan_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_hiburan_id {$fielddispclass_hiburan_id}">
				Hiburan Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_hiburan_id {$fielddispclass_hiburan_id}">
			<input type="checkbox" {$hiburan_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_hiburan_id {$fielddispclass_hiburan_id}">
			{$searchtype_hiburan_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_hiburan_id {$fielddispclass_hiburan_id}">
			{$hiburan_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_hiburan_id {$fielddispclass_hiburan_id}">
			{$hiburan_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END hiburan_id_fieldblock}
	{BEGIN parkir_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_parkir_id {$fielddispclass_parkir_id}">
				Parkir Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_parkir_id {$fielddispclass_parkir_id}">
			<input type="checkbox" {$parkir_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_parkir_id {$fielddispclass_parkir_id}">
			{$searchtype_parkir_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_parkir_id {$fielddispclass_parkir_id}">
			{$parkir_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_parkir_id {$fielddispclass_parkir_id}">
			{$parkir_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END parkir_id_fieldblock}
	{BEGIN enabled_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_enabled {$fielddispclass_enabled}">
				Enabled
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_enabled {$fielddispclass_enabled}">
			<input type="checkbox" {$enabled_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_enabled {$fielddispclass_enabled}">
			{$searchtype_enabled}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_enabled {$fielddispclass_enabled}">
			{$enabled_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_enabled {$fielddispclass_enabled}">
			{$enabled_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END enabled_fieldblock}
	{BEGIN surat_no_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_surat_no {$fielddispclass_surat_no}">
				Surat No
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_surat_no {$fielddispclass_surat_no}">
			<input type="checkbox" {$surat_no_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_surat_no {$fielddispclass_surat_no}">
			{$searchtype_surat_no}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_surat_no {$fielddispclass_surat_no}">
			{$surat_no_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_surat_no {$fielddispclass_surat_no}">
			{$surat_no_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END surat_no_fieldblock}
	{BEGIN ijin_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin_kd {$fielddispclass_ijin_kd}">
				Ijin Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ijin_kd {$fielddispclass_ijin_kd}">
			<input type="checkbox" {$ijin_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ijin_kd {$fielddispclass_ijin_kd}">
			{$searchtype_ijin_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ijin_kd {$fielddispclass_ijin_kd}">
			{$ijin_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ijin_kd {$fielddispclass_ijin_kd}">
			{$ijin_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ijin_kd_fieldblock}
	{BEGIN hotel_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_hotel_kd {$fielddispclass_hotel_kd}">
				Hotel Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_hotel_kd {$fielddispclass_hotel_kd}">
			<input type="checkbox" {$hotel_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_hotel_kd {$fielddispclass_hotel_kd}">
			{$searchtype_hotel_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_hotel_kd {$fielddispclass_hotel_kd}">
			{$hotel_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_hotel_kd {$fielddispclass_hotel_kd}">
			{$hotel_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END hotel_kd_fieldblock}
	{BEGIN restoran_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_restoran_kd {$fielddispclass_restoran_kd}">
				Restoran Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_restoran_kd {$fielddispclass_restoran_kd}">
			<input type="checkbox" {$restoran_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_restoran_kd {$fielddispclass_restoran_kd}">
			{$searchtype_restoran_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_restoran_kd {$fielddispclass_restoran_kd}">
			{$restoran_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_restoran_kd {$fielddispclass_restoran_kd}">
			{$restoran_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END restoran_kd_fieldblock}
	{BEGIN hiburan_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_hiburan_kd {$fielddispclass_hiburan_kd}">
				Hiburan Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_hiburan_kd {$fielddispclass_hiburan_kd}">
			<input type="checkbox" {$hiburan_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_hiburan_kd {$fielddispclass_hiburan_kd}">
			{$searchtype_hiburan_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_hiburan_kd {$fielddispclass_hiburan_kd}">
			{$hiburan_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_hiburan_kd {$fielddispclass_hiburan_kd}">
			{$hiburan_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END hiburan_kd_fieldblock}
	{BEGIN ppj_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ppj_kd {$fielddispclass_ppj_kd}">
				Ppj Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ppj_kd {$fielddispclass_ppj_kd}">
			<input type="checkbox" {$ppj_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ppj_kd {$fielddispclass_ppj_kd}">
			{$searchtype_ppj_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ppj_kd {$fielddispclass_ppj_kd}">
			{$ppj_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ppj_kd {$fielddispclass_ppj_kd}">
			{$ppj_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ppj_kd_fieldblock}
	{BEGIN parkir_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_parkir_kd {$fielddispclass_parkir_kd}">
				Parkir Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_parkir_kd {$fielddispclass_parkir_kd}">
			<input type="checkbox" {$parkir_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_parkir_kd {$fielddispclass_parkir_kd}">
			{$searchtype_parkir_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_parkir_kd {$fielddispclass_parkir_kd}">
			{$parkir_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_parkir_kd {$fielddispclass_parkir_kd}">
			{$parkir_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END parkir_kd_fieldblock}
	{BEGIN airtanah_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_airtanah_kd {$fielddispclass_airtanah_kd}">
				Airtanah Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_airtanah_kd {$fielddispclass_airtanah_kd}">
			<input type="checkbox" {$airtanah_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_airtanah_kd {$fielddispclass_airtanah_kd}">
			{$searchtype_airtanah_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_airtanah_kd {$fielddispclass_airtanah_kd}">
			{$airtanah_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_airtanah_kd {$fielddispclass_airtanah_kd}">
			{$airtanah_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END airtanah_kd_fieldblock}
	{BEGIN reklame_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_reklame_kd {$fielddispclass_reklame_kd}">
				Reklame Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_reklame_kd {$fielddispclass_reklame_kd}">
			<input type="checkbox" {$reklame_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_reklame_kd {$fielddispclass_reklame_kd}">
			{$searchtype_reklame_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_reklame_kd {$fielddispclass_reklame_kd}">
			{$reklame_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_reklame_kd {$fielddispclass_reklame_kd}">
			{$reklame_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END reklame_kd_fieldblock}
	{BEGIN restauran_kd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_restauran_kd {$fielddispclass_restauran_kd}">
				Restauran Kd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_restauran_kd {$fielddispclass_restauran_kd}">
			<input type="checkbox" {$restauran_kd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_restauran_kd {$fielddispclass_restauran_kd}">
			{$searchtype_restauran_kd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_restauran_kd {$fielddispclass_restauran_kd}">
			{$restauran_kd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_restauran_kd {$fielddispclass_restauran_kd}">
			{$restauran_kd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END restauran_kd_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
