<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="tahun">
	{$tahun_editcontrol}
	</control>
	<control field="usaha_id">
	{$usaha_id_editcontrol}
	</control>
	<control field="kohirno">
	{$kohirno_editcontrol}
	</control>
	<control field="kohirtgl">
	{$kohirtgl_editcontrol}
	</control>
	<control field="spt_id">
	{$spt_id_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="petugas_id">
	{$petugas_id_editcontrol}
	</control>
	<control field="pejabat_id">
	{$pejabat_id_editcontrol}
	</control>
	<control field="type_id">
	{$type_id_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>