<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_master}
<table class="runner-c runner-c-master" cellpadding="0" >
<tr class="{$cheaderclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN mastertable_block}
<td  class="runner-cc runner-bl runner-b-masterinfoprint" {$brickclass_masterinfoprint}><span>{$showmasterfile}
</span></td>
{END mastertable_block}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_master}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Pad Customer Detail</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN id_fieldheader}
	<b>Id</b>
	{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
	{BEGIN usaha_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN usaha_id_fieldheader}
	<b>Usaha Id</b>
	{END usaha_id_fieldheader}
</th>
{END usaha_id_fieldheadercolumn}
	{BEGIN nourut_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN nourut_fieldheader}
	<b>Nourut</b>
	{END nourut_fieldheader}
</th>
{END nourut_fieldheadercolumn}
	{BEGIN notes_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN notes_fieldheader}
	<b>Notes</b>
	{END notes_fieldheader}
</th>
{END notes_fieldheadercolumn}
	{BEGIN tarif_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN tarif_fieldheader}
	<b>Tarif</b>
	{END tarif_fieldheader}
</th>
{END tarif_fieldheadercolumn}
	{BEGIN kamar_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN kamar_fieldheader}
	<b>Kamar</b>
	{END kamar_fieldheader}
</th>
{END kamar_fieldheadercolumn}
	{BEGIN volume_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN volume_fieldheader}
	<b>Volume</b>
	{END volume_fieldheader}
</th>
{END volume_fieldheadercolumn}
	{BEGIN created_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN created_fieldheader}
	<b>Created</b>
	{END created_fieldheader}
</th>
{END created_fieldheadercolumn}
	{BEGIN updated_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN updated_fieldheader}
	<b>Updated</b>
	{END updated_fieldheader}
</th>
{END updated_fieldheadercolumn}
	{BEGIN create_uid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN create_uid_fieldheader}
	<b>Create Uid</b>
	{END create_uid_fieldheader}
</th>
{END create_uid_fieldheadercolumn}
	{BEGIN update_uid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN update_uid_fieldheader}
	<b>Update Uid</b>
	{END update_uid_fieldheader}
</th>
{END update_uid_fieldheadercolumn}
	{BEGIN customer_id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN customer_id_fieldheader}
	<b>Customer Id</b>
	{END customer_id_fieldheader}
</th>
{END customer_id_fieldheadercolumn}
	{BEGIN konterid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN konterid_fieldheader}
	<b>Konterid</b>
	{END konterid_fieldheader}
</th>
{END konterid_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN id_fieldcolumn}
<td  class="runner-cc {$id_class}" {$id_style}>
	{$id_value}
</td>
{END id_fieldcolumn}
	{BEGIN usaha_id_fieldcolumn}
<td  class="runner-cc {$usaha_id_class}" {$usaha_id_style}>
	{$usaha_id_value}
</td>
{END usaha_id_fieldcolumn}
	{BEGIN nourut_fieldcolumn}
<td  class="runner-cc {$nourut_class}" {$nourut_style}>
	{$nourut_value}
</td>
{END nourut_fieldcolumn}
	{BEGIN notes_fieldcolumn}
<td  class="runner-cc {$notes_class}" {$notes_style}>
	{$notes_value}
</td>
{END notes_fieldcolumn}
	{BEGIN tarif_fieldcolumn}
<td  class="runner-cc {$tarif_class}" {$tarif_style}>
	{$tarif_value}
</td>
{END tarif_fieldcolumn}
	{BEGIN kamar_fieldcolumn}
<td  class="runner-cc {$kamar_class}" {$kamar_style}>
	{$kamar_value}
</td>
{END kamar_fieldcolumn}
	{BEGIN volume_fieldcolumn}
<td  class="runner-cc {$volume_class}" {$volume_style}>
	{$volume_value}
</td>
{END volume_fieldcolumn}
	{BEGIN created_fieldcolumn}
<td  class="runner-cc {$created_class}" {$created_style}>
	{$created_value}
</td>
{END created_fieldcolumn}
	{BEGIN updated_fieldcolumn}
<td  class="runner-cc {$updated_class}" {$updated_style}>
	{$updated_value}
</td>
{END updated_fieldcolumn}
	{BEGIN create_uid_fieldcolumn}
<td  class="runner-cc {$create_uid_class}" {$create_uid_style}>
	{$create_uid_value}
</td>
{END create_uid_fieldcolumn}
	{BEGIN update_uid_fieldcolumn}
<td  class="runner-cc {$update_uid_class}" {$update_uid_style}>
	{$update_uid_value}
</td>
{END update_uid_fieldcolumn}
	{BEGIN customer_id_fieldcolumn}
<td  class="runner-cc {$customer_id_class}" {$customer_id_style}>
	{$customer_id_value}
</td>
{END customer_id_fieldcolumn}
	{BEGIN konterid_fieldcolumn}
<td  class="runner-cc {$konterid_class}" {$konterid_style}>
	{$konterid_value}
</td>
{END konterid_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN id_fieldfootercolumn}
<td class="runner-cc "></td>
{END id_fieldfootercolumn}
{BEGIN usaha_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END usaha_id_fieldfootercolumn}
{BEGIN nourut_fieldfootercolumn}
<td class="runner-cc "></td>
{END nourut_fieldfootercolumn}
{BEGIN notes_fieldfootercolumn}
<td class="runner-cc "></td>
{END notes_fieldfootercolumn}
{BEGIN tarif_fieldfootercolumn}
<td class="runner-cc "></td>
{END tarif_fieldfootercolumn}
{BEGIN kamar_fieldfootercolumn}
<td class="runner-cc "></td>
{END kamar_fieldfootercolumn}
{BEGIN volume_fieldfootercolumn}
<td class="runner-cc "></td>
{END volume_fieldfootercolumn}
{BEGIN created_fieldfootercolumn}
<td class="runner-cc "></td>
{END created_fieldfootercolumn}
{BEGIN updated_fieldfootercolumn}
<td class="runner-cc "></td>
{END updated_fieldfootercolumn}
{BEGIN create_uid_fieldfootercolumn}
<td class="runner-cc "></td>
{END create_uid_fieldfootercolumn}
{BEGIN update_uid_fieldfootercolumn}
<td class="runner-cc "></td>
{END update_uid_fieldfootercolumn}
{BEGIN customer_id_fieldfootercolumn}
<td class="runner-cc "></td>
{END customer_id_fieldfootercolumn}
{BEGIN konterid_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END konterid_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
