<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="spt_id">
	{$spt_id_editcontrol}
	</control>
	<control 
	field="vol">
	{$vol_editcontrol}
	</control>
	<control 
	field="hda">
	{$hda_editcontrol}
	</control>
	<control 
	field="jumlah">
	{$jumlah_editcontrol}
	</control>
	<control 
	field="tarif">
	{$tarif_editcontrol}
	</control>
	<control 
	field="created">
	{$created_editcontrol}
	</control>
	<control 
	field="updated">
	{$updated_editcontrol}
	</control>
	<control 
	field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control 
	field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
