<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Pad Reklame, View record [
Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN id_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id {$fielddispclass_id}">
			<b>Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_id {$fielddispclass_id}">
			{$id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END id_fieldblock}
	{BEGIN kode_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kode {$fielddispclass_kode}">
			<b>Kode</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kode {$fielddispclass_kode}">
			{$kode_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kode_fieldblock}
	{BEGIN kecamatan_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kecamatan_id {$fielddispclass_kecamatan_id}">
			<b>Kecamatan Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kecamatan_id {$fielddispclass_kecamatan_id}">
			{$kecamatan_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kecamatan_id_fieldblock}
	{BEGIN kelurahan_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kelurahan_id {$fielddispclass_kelurahan_id}">
			<b>Kelurahan Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kelurahan_id {$fielddispclass_kelurahan_id}">
			{$kelurahan_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kelurahan_id_fieldblock}
	{BEGIN latitude_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_latitude {$fielddispclass_latitude}">
			<b>Latitude</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_latitude {$fielddispclass_latitude}">
			{$latitude_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END latitude_fieldblock}
	{BEGIN longitude_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_longitude {$fielddispclass_longitude}">
			<b>Longitude</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_longitude {$fielddispclass_longitude}">
			{$longitude_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END longitude_fieldblock}
	{BEGIN pemilik_nama_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pemilik_nama {$fielddispclass_pemilik_nama}">
			<b>Pemilik Nama</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_pemilik_nama {$fielddispclass_pemilik_nama}">
			{$pemilik_nama_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pemilik_nama_fieldblock}
	{BEGIN pemilik_alamat_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pemilik_alamat {$fielddispclass_pemilik_alamat}">
			<b>Pemilik Alamat</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_pemilik_alamat {$fielddispclass_pemilik_alamat}">
			{$pemilik_alamat_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pemilik_alamat_fieldblock}
	{BEGIN pemilik_kecamatan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pemilik_kecamatan {$fielddispclass_pemilik_kecamatan}">
			<b>Pemilik Kecamatan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_pemilik_kecamatan {$fielddispclass_pemilik_kecamatan}">
			{$pemilik_kecamatan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pemilik_kecamatan_fieldblock}
	{BEGIN pemilik_kelurahan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pemilik_kelurahan {$fielddispclass_pemilik_kelurahan}">
			<b>Pemilik Kelurahan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_pemilik_kelurahan {$fielddispclass_pemilik_kelurahan}">
			{$pemilik_kelurahan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pemilik_kelurahan_fieldblock}
	{BEGIN pemilik_kota_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pemilik_kota {$fielddispclass_pemilik_kota}">
			<b>Pemilik Kota</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_pemilik_kota {$fielddispclass_pemilik_kota}">
			{$pemilik_kota_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pemilik_kota_fieldblock}
	{BEGIN updated_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_updated {$fielddispclass_updated}">
			<b>Updated</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_updated {$fielddispclass_updated}">
			{$updated_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END updated_fieldblock}
	{BEGIN created_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_created {$fielddispclass_created}">
			<b>Created</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_created {$fielddispclass_created}">
			{$created_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END created_fieldblock}
	{BEGIN update_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_update_uid {$fielddispclass_update_uid}">
			<b>Update Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_update_uid {$fielddispclass_update_uid}">
			{$update_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END update_uid_fieldblock}
	{BEGIN create_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
			<b>Create Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_create_uid {$fielddispclass_create_uid}">
			{$create_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
