<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Pad Kohir - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_id {$fielddispclass_id}">
				Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id {$fielddispclass_id}">
			<input type="checkbox" {$id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id {$fielddispclass_id}">
			{$searchtype_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id {$fielddispclass_id}">
			{$id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id {$fielddispclass_id}">
			{$id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_fieldblock}
	{BEGIN tahun_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_tahun {$fielddispclass_tahun}">
				Tahun
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tahun {$fielddispclass_tahun}">
			<input type="checkbox" {$tahun_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tahun {$fielddispclass_tahun}">
			{$searchtype_tahun}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tahun {$fielddispclass_tahun}">
			{$tahun_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tahun {$fielddispclass_tahun}">
			{$tahun_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tahun_fieldblock}
	{BEGIN usaha_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_usaha_id {$fielddispclass_usaha_id}">
				Usaha Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_usaha_id {$fielddispclass_usaha_id}">
			<input type="checkbox" {$usaha_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_usaha_id {$fielddispclass_usaha_id}">
			{$searchtype_usaha_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_usaha_id {$fielddispclass_usaha_id}">
			{$usaha_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_usaha_id {$fielddispclass_usaha_id}">
			{$usaha_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END usaha_id_fieldblock}
	{BEGIN kohirno_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kohirno {$fielddispclass_kohirno}">
				Kohirno
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_kohirno {$fielddispclass_kohirno}">
			<input type="checkbox" {$kohirno_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_kohirno {$fielddispclass_kohirno}">
			{$searchtype_kohirno}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_kohirno {$fielddispclass_kohirno}">
			{$kohirno_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_kohirno {$fielddispclass_kohirno}">
			{$kohirno_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END kohirno_fieldblock}
	{BEGIN kohirtgl_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kohirtgl {$fielddispclass_kohirtgl}">
				Kohirtgl
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_kohirtgl {$fielddispclass_kohirtgl}">
			<input type="checkbox" {$kohirtgl_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_kohirtgl {$fielddispclass_kohirtgl}">
			{$searchtype_kohirtgl}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_kohirtgl {$fielddispclass_kohirtgl}">
			{$kohirtgl_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_kohirtgl {$fielddispclass_kohirtgl}">
			{$kohirtgl_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END kohirtgl_fieldblock}
	{BEGIN spt_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spt_id {$fielddispclass_spt_id}">
				Spt Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_spt_id {$fielddispclass_spt_id}">
			<input type="checkbox" {$spt_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_spt_id {$fielddispclass_spt_id}">
			{$searchtype_spt_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_spt_id {$fielddispclass_spt_id}">
			{$spt_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_spt_id {$fielddispclass_spt_id}">
			{$spt_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END spt_id_fieldblock}
	{BEGIN enabled_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_enabled {$fielddispclass_enabled}">
				Enabled
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_enabled {$fielddispclass_enabled}">
			<input type="checkbox" {$enabled_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_enabled {$fielddispclass_enabled}">
			{$searchtype_enabled}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_enabled {$fielddispclass_enabled}">
			{$enabled_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_enabled {$fielddispclass_enabled}">
			{$enabled_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END enabled_fieldblock}
	{BEGIN created_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_created {$fielddispclass_created}">
				Created
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_created {$fielddispclass_created}">
			<input type="checkbox" {$created_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_created {$fielddispclass_created}">
			{$searchtype_created}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_created {$fielddispclass_created}">
			{$created_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_created {$fielddispclass_created}">
			{$created_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END created_fieldblock}
	{BEGIN create_uid_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
				Create Uid
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_create_uid {$fielddispclass_create_uid}">
			<input type="checkbox" {$create_uid_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_create_uid {$fielddispclass_create_uid}">
			{$searchtype_create_uid}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_create_uid {$fielddispclass_create_uid}">
			{$create_uid_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_create_uid {$fielddispclass_create_uid}">
			{$create_uid_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}
	{BEGIN updated_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_updated {$fielddispclass_updated}">
				Updated
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_updated {$fielddispclass_updated}">
			<input type="checkbox" {$updated_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_updated {$fielddispclass_updated}">
			{$searchtype_updated}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_updated {$fielddispclass_updated}">
			{$updated_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_updated {$fielddispclass_updated}">
			{$updated_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END updated_fieldblock}
	{BEGIN update_uid_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_update_uid {$fielddispclass_update_uid}">
				Update Uid
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_update_uid {$fielddispclass_update_uid}">
			<input type="checkbox" {$update_uid_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_update_uid {$fielddispclass_update_uid}">
			{$searchtype_update_uid}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_update_uid {$fielddispclass_update_uid}">
			{$update_uid_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_update_uid {$fielddispclass_update_uid}">
			{$update_uid_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END update_uid_fieldblock}
	{BEGIN petugas_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_petugas_id {$fielddispclass_petugas_id}">
				Petugas Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_petugas_id {$fielddispclass_petugas_id}">
			<input type="checkbox" {$petugas_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_petugas_id {$fielddispclass_petugas_id}">
			{$searchtype_petugas_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_petugas_id {$fielddispclass_petugas_id}">
			{$petugas_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_petugas_id {$fielddispclass_petugas_id}">
			{$petugas_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END petugas_id_fieldblock}
	{BEGIN pejabat_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pejabat_id {$fielddispclass_pejabat_id}">
				Pejabat Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pejabat_id {$fielddispclass_pejabat_id}">
			<input type="checkbox" {$pejabat_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pejabat_id {$fielddispclass_pejabat_id}">
			{$searchtype_pejabat_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pejabat_id {$fielddispclass_pejabat_id}">
			{$pejabat_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pejabat_id {$fielddispclass_pejabat_id}">
			{$pejabat_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pejabat_id_fieldblock}
	{BEGIN type_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_type_id {$fielddispclass_type_id}">
				Type Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_type_id {$fielddispclass_type_id}">
			<input type="checkbox" {$type_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_type_id {$fielddispclass_type_id}">
			{$searchtype_type_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_type_id {$fielddispclass_type_id}">
			{$type_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_type_id {$fielddispclass_type_id}">
			{$type_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END type_id_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
