<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="type">
	{$type_editcontrol}
	</control>
	<control field="kepala_nama">
	{$kepala_nama_editcontrol}
	</control>
	<control field="alamat">
	{$alamat_editcontrol}
	</control>
	<control field="telp">
	{$telp_editcontrol}
	</control>
	<control field="pemda_nama">
	{$pemda_nama_editcontrol}
	</control>
	<control field="ibukota">
	{$ibukota_editcontrol}
	</control>
	<control field="tmt">
	{$tmt_editcontrol}
	</control>
	<control field="jabatan">
	{$jabatan_editcontrol}
	</control>
	<control field="ppkd_id">
	{$ppkd_id_editcontrol}
	</control>
	<control field="reklame_id">
	{$reklame_id_editcontrol}
	</control>
	<control field="pendapatan_id">
	{$pendapatan_id_editcontrol}
	</control>
	<control field="pemda_nama_singkat">
	{$pemda_nama_singkat_editcontrol}
	</control>
	<control field="airtanah_id">
	{$airtanah_id_editcontrol}
	</control>
	<control field="self_dok_id">
	{$self_dok_id_editcontrol}
	</control>
	<control field="office_dok_id">
	{$office_dok_id_editcontrol}
	</control>
	<control field="tgl_jatuhtempo_self">
	{$tgl_jatuhtempo_self_editcontrol}
	</control>
	<control field="spt_denda">
	{$spt_denda_editcontrol}
	</control>
	<control field="tgl_spt">
	{$tgl_spt_editcontrol}
	</control>
	<control field="pad_bunga">
	{$pad_bunga_editcontrol}
	</control>
	<control field="fax">
	{$fax_editcontrol}
	</control>
	<control field="website">
	{$website_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="daerah">
	{$daerah_editcontrol}
	</control>
	<control field="alamat_lengkap">
	{$alamat_lengkap_editcontrol}
	</control>
	<control field="ppj_id">
	{$ppj_id_editcontrol}
	</control>
	<control field="hotel_id">
	{$hotel_id_editcontrol}
	</control>
	<control field="walet_id">
	{$walet_id_editcontrol}
	</control>
	<control field="restauran_id">
	{$restauran_id_editcontrol}
	</control>
	<control field="hiburan_id">
	{$hiburan_id_editcontrol}
	</control>
	<control field="parkir_id">
	{$parkir_id_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="surat_no">
	{$surat_no_editcontrol}
	</control>
	<control field="ijin_kd">
	{$ijin_kd_editcontrol}
	</control>
	<control field="hotel_kd">
	{$hotel_kd_editcontrol}
	</control>
	<control field="restoran_kd">
	{$restoran_kd_editcontrol}
	</control>
	<control field="hiburan_kd">
	{$hiburan_kd_editcontrol}
	</control>
	<control field="ppj_kd">
	{$ppj_kd_editcontrol}
	</control>
	<control field="parkir_kd">
	{$parkir_kd_editcontrol}
	</control>
	<control field="airtanah_kd">
	{$airtanah_kd_editcontrol}
	</control>
	<control field="reklame_kd">
	{$reklame_kd_editcontrol}
	</control>
	<control field="restauran_kd">
	{$restauran_kd_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>