<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Pad Pegawai</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN id_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN id_fieldheader}
	<b>Id</b>
	{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
	{BEGIN nip_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN nip_fieldheader}
	<b>Nip</b>
	{END nip_fieldheader}
</th>
{END nip_fieldheadercolumn}
	{BEGIN nama_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN nama_fieldheader}
	<b>Nama</b>
	{END nama_fieldheader}
</th>
{END nama_fieldheadercolumn}
	{BEGIN jabatan_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN jabatan_fieldheader}
	<b>Jabatan</b>
	{END jabatan_fieldheader}
</th>
{END jabatan_fieldheadercolumn}
	{BEGIN golongan_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN golongan_fieldheader}
	<b>Golongan</b>
	{END golongan_fieldheader}
</th>
{END golongan_fieldheadercolumn}
	{BEGIN pangkat_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN pangkat_fieldheader}
	<b>Pangkat</b>
	{END pangkat_fieldheader}
</th>
{END pangkat_fieldheadercolumn}
	{BEGIN tmt_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN tmt_fieldheader}
	<b>Tmt</b>
	{END tmt_fieldheader}
</th>
{END tmt_fieldheadercolumn}
	{BEGIN enabled_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN enabled_fieldheader}
	<b>Enabled</b>
	{END enabled_fieldheader}
</th>
{END enabled_fieldheadercolumn}
	{BEGIN nomor_telp_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN nomor_telp_fieldheader}
	<b>Nomor Telp</b>
	{END nomor_telp_fieldheader}
</th>
{END nomor_telp_fieldheadercolumn}
	{BEGIN bagian_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN bagian_fieldheader}
	<b>Bagian</b>
	{END bagian_fieldheader}
</th>
{END bagian_fieldheadercolumn}
	{BEGIN created_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN created_fieldheader}
	<b>Created</b>
	{END created_fieldheader}
</th>
{END created_fieldheadercolumn}
	{BEGIN updated_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN updated_fieldheader}
	<b>Updated</b>
	{END updated_fieldheader}
</th>
{END updated_fieldheadercolumn}
	{BEGIN create_uid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN create_uid_fieldheader}
	<b>Create Uid</b>
	{END create_uid_fieldheader}
</th>
{END create_uid_fieldheadercolumn}
	{BEGIN update_uid_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN update_uid_fieldheader}
	<b>Update Uid</b>
	{END update_uid_fieldheader}
</th>
{END update_uid_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN id_fieldcolumn}
<td  class="runner-cc {$id_class}" {$id_style}>
	{$id_value}
</td>
{END id_fieldcolumn}
	{BEGIN nip_fieldcolumn}
<td  class="runner-cc {$nip_class}" {$nip_style}>
	{$nip_value}
</td>
{END nip_fieldcolumn}
	{BEGIN nama_fieldcolumn}
<td  class="runner-cc {$nama_class}" {$nama_style}>
	{$nama_value}
</td>
{END nama_fieldcolumn}
	{BEGIN jabatan_fieldcolumn}
<td  class="runner-cc {$jabatan_class}" {$jabatan_style}>
	{$jabatan_value}
</td>
{END jabatan_fieldcolumn}
	{BEGIN golongan_fieldcolumn}
<td  class="runner-cc {$golongan_class}" {$golongan_style}>
	{$golongan_value}
</td>
{END golongan_fieldcolumn}
	{BEGIN pangkat_fieldcolumn}
<td  class="runner-cc {$pangkat_class}" {$pangkat_style}>
	{$pangkat_value}
</td>
{END pangkat_fieldcolumn}
	{BEGIN tmt_fieldcolumn}
<td  class="runner-cc {$tmt_class}" {$tmt_style}>
	{$tmt_value}
</td>
{END tmt_fieldcolumn}
	{BEGIN enabled_fieldcolumn}
<td  class="runner-cc {$enabled_class}" {$enabled_style}>
	{$enabled_value}
</td>
{END enabled_fieldcolumn}
	{BEGIN nomor_telp_fieldcolumn}
<td  class="runner-cc {$nomor_telp_class}" {$nomor_telp_style}>
	{$nomor_telp_value}
</td>
{END nomor_telp_fieldcolumn}
	{BEGIN bagian_fieldcolumn}
<td  class="runner-cc {$bagian_class}" {$bagian_style}>
	{$bagian_value}
</td>
{END bagian_fieldcolumn}
	{BEGIN created_fieldcolumn}
<td  class="runner-cc {$created_class}" {$created_style}>
	{$created_value}
</td>
{END created_fieldcolumn}
	{BEGIN updated_fieldcolumn}
<td  class="runner-cc {$updated_class}" {$updated_style}>
	{$updated_value}
</td>
{END updated_fieldcolumn}
	{BEGIN create_uid_fieldcolumn}
<td  class="runner-cc {$create_uid_class}" {$create_uid_style}>
	{$create_uid_value}
</td>
{END create_uid_fieldcolumn}
	{BEGIN update_uid_fieldcolumn}
<td  class="runner-cc {$update_uid_class}" {$update_uid_style}>
	{$update_uid_value}
</td>
{END update_uid_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN id_fieldfootercolumn}
<td class="runner-cc "></td>
{END id_fieldfootercolumn}
{BEGIN nip_fieldfootercolumn}
<td class="runner-cc "></td>
{END nip_fieldfootercolumn}
{BEGIN nama_fieldfootercolumn}
<td class="runner-cc "></td>
{END nama_fieldfootercolumn}
{BEGIN jabatan_fieldfootercolumn}
<td class="runner-cc "></td>
{END jabatan_fieldfootercolumn}
{BEGIN golongan_fieldfootercolumn}
<td class="runner-cc "></td>
{END golongan_fieldfootercolumn}
{BEGIN pangkat_fieldfootercolumn}
<td class="runner-cc "></td>
{END pangkat_fieldfootercolumn}
{BEGIN tmt_fieldfootercolumn}
<td class="runner-cc "></td>
{END tmt_fieldfootercolumn}
{BEGIN enabled_fieldfootercolumn}
<td class="runner-cc "></td>
{END enabled_fieldfootercolumn}
{BEGIN nomor_telp_fieldfootercolumn}
<td class="runner-cc "></td>
{END nomor_telp_fieldfootercolumn}
{BEGIN bagian_fieldfootercolumn}
<td class="runner-cc "></td>
{END bagian_fieldfootercolumn}
{BEGIN created_fieldfootercolumn}
<td class="runner-cc "></td>
{END created_fieldfootercolumn}
{BEGIN updated_fieldfootercolumn}
<td class="runner-cc "></td>
{END updated_fieldfootercolumn}
{BEGIN create_uid_fieldfootercolumn}
<td class="runner-cc "></td>
{END create_uid_fieldfootercolumn}
{BEGIN update_uid_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END update_uid_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
