<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="rp">
	{$rp_editcontrol}
	</control>
	<control field="pb">
	{$pb_editcontrol}
	</control>
	<control field="formno">
	{$formno_editcontrol}
	</control>
	<control field="reg_date">
	{$reg_date_editcontrol}
	</control>
	<control field="customernm">
	{$customernm_editcontrol}
	</control>
	<control field="kecamatan_id">
	{$kecamatan_id_editcontrol}
	</control>
	<control field="kelurahan_id">
	{$kelurahan_id_editcontrol}
	</control>
	<control field="kabupaten">
	{$kabupaten_editcontrol}
	</control>
	<control field="alamat">
	{$alamat_editcontrol}
	</control>
	<control field="kodepos">
	{$kodepos_editcontrol}
	</control>
	<control field="telphone">
	{$telphone_editcontrol}
	</control>
	<control field="wpnama">
	{$wpnama_editcontrol}
	</control>
	<control field="wpalamat">
	{$wpalamat_editcontrol}
	</control>
	<control field="wpkelurahan">
	{$wpkelurahan_editcontrol}
	</control>
	<control field="wpkecamatan">
	{$wpkecamatan_editcontrol}
	</control>
	<control field="wpkabupaten">
	{$wpkabupaten_editcontrol}
	</control>
	<control field="wptelp">
	{$wptelp_editcontrol}
	</control>
	<control field="wpkodepos">
	{$wpkodepos_editcontrol}
	</control>
	<control field="pnama">
	{$pnama_editcontrol}
	</control>
	<control field="palamat">
	{$palamat_editcontrol}
	</control>
	<control field="pkelurahan">
	{$pkelurahan_editcontrol}
	</control>
	<control field="pkecamatan">
	{$pkecamatan_editcontrol}
	</control>
	<control field="pkabupaten">
	{$pkabupaten_editcontrol}
	</control>
	<control field="ptelp">
	{$ptelp_editcontrol}
	</control>
	<control field="pkodepos">
	{$pkodepos_editcontrol}
	</control>
	<control field="ijin1">
	{$ijin1_editcontrol}
	</control>
	<control field="ijin1no">
	{$ijin1no_editcontrol}
	</control>
	<control field="ijin1tgl">
	{$ijin1tgl_editcontrol}
	</control>
	<control field="ijin1tglakhir">
	{$ijin1tglakhir_editcontrol}
	</control>
	<control field="ijin2">
	{$ijin2_editcontrol}
	</control>
	<control field="ijin2no">
	{$ijin2no_editcontrol}
	</control>
	<control field="ijin2tgl">
	{$ijin2tgl_editcontrol}
	</control>
	<control field="ijin2tglakhir">
	{$ijin2tglakhir_editcontrol}
	</control>
	<control field="ijin3">
	{$ijin3_editcontrol}
	</control>
	<control field="ijin3no">
	{$ijin3no_editcontrol}
	</control>
	<control field="ijin3tgl">
	{$ijin3tgl_editcontrol}
	</control>
	<control field="ijin3tglakhir">
	{$ijin3tglakhir_editcontrol}
	</control>
	<control field="ijin4">
	{$ijin4_editcontrol}
	</control>
	<control field="ijin4no">
	{$ijin4no_editcontrol}
	</control>
	<control field="ijin4tgl">
	{$ijin4tgl_editcontrol}
	</control>
	<control field="ijin4tglakhir">
	{$ijin4tglakhir_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="create_date">
	{$create_date_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="write_date">
	{$write_date_editcontrol}
	</control>
	<control field="write_uid">
	{$write_uid_editcontrol}
	</control>
	<control field="op_nm">
	{$op_nm_editcontrol}
	</control>
	<control field="op_alamat">
	{$op_alamat_editcontrol}
	</control>
	<control field="op_usaha_id">
	{$op_usaha_id_editcontrol}
	</control>
	<control field="op_so">
	{$op_so_editcontrol}
	</control>
	<control field="op_kecamatan_id">
	{$op_kecamatan_id_editcontrol}
	</control>
	<control field="op_kelurahan_id">
	{$op_kelurahan_id_editcontrol}
	</control>
	<control field="op_latitude">
	{$op_latitude_editcontrol}
	</control>
	<control field="op_longitude">
	{$op_longitude_editcontrol}
	</control>
	<control field="kd_restojmlmeja">
	{$kd_restojmlmeja_editcontrol}
	</control>
	<control field="kd_restojmlkursi">
	{$kd_restojmlkursi_editcontrol}
	</control>
	<control field="kd_restojmltamu">
	{$kd_restojmltamu_editcontrol}
	</control>
	<control field="kd_filmkursi">
	{$kd_filmkursi_editcontrol}
	</control>
	<control field="kd_filmpertunjukan">
	{$kd_filmpertunjukan_editcontrol}
	</control>
	<control field="kd_filmtarif">
	{$kd_filmtarif_editcontrol}
	</control>
	<control field="kd_bilyarmeja">
	{$kd_bilyarmeja_editcontrol}
	</control>
	<control field="kd_bilyartarif">
	{$kd_bilyartarif_editcontrol}
	</control>
	<control field="kd_bilyarkegiatan">
	{$kd_bilyarkegiatan_editcontrol}
	</control>
	<control field="kd_diskopengunjung">
	{$kd_diskopengunjung_editcontrol}
	</control>
	<control field="kd_diskotarif">
	{$kd_diskotarif_editcontrol}
	</control>
	<control field="kd_waletvolume">
	{$kd_waletvolume_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="op_pajak_id">
	{$op_pajak_id_editcontrol}
	</control>
	<control field="npwpd">
	{$npwpd_editcontrol}
	</control>
	<control field="passwd">
	{$passwd_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>