<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Pad Sspd: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Id</th>
			<th class="runner-cc ">Tahun</th>
			<th class="runner-cc ">Sspdno</th>
			<th class="runner-cc ">Sspdtgl</th>
			<th class="runner-cc ">Sspdjam</th>
			<th class="runner-cc ">Invoice Id</th>
			<th class="runner-cc ">Keterangan</th>
			<th class="runner-cc ">Bulan Telat</th>
			<th class="runner-cc ">Hitung Bunga</th>
			<th class="runner-cc ">Denda</th>
			<th class="runner-cc ">Bunga</th>
			<th class="runner-cc ">Jml Bayar</th>
			<th class="runner-cc ">Sisa</th>
			<th class="runner-cc ">Jenis Bayar</th>
			<th class="runner-cc ">Printed</th>
			<th class="runner-cc ">Tp Id</th>
			<th class="runner-cc ">Is Validated</th>
			<th class="runner-cc ">Is Valid</th>
			<th class="runner-cc ">Enabled</th>
			<th class="runner-cc ">Created</th>
			<th class="runner-cc ">Create Uid</th>
			<th class="runner-cc ">Updated</th>
			<th class="runner-cc ">Update Uid</th>
			<th class="runner-cc ">Petugas Id</th>
			<th class="runner-cc runner-clast">Pejabat Id</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$id_mastervalue}</td>
			<td class="runner-cc ">{$tahun_mastervalue}</td>
			<td class="runner-cc ">{$sspdno_mastervalue}</td>
			<td class="runner-cc ">{$sspdtgl_mastervalue}</td>
			<td class="runner-cc ">{$sspdjam_mastervalue}</td>
			<td class="runner-cc ">{$invoice_id_mastervalue}</td>
			<td class="runner-cc ">{$keterangan_mastervalue}</td>
			<td class="runner-cc ">{$bulan_telat_mastervalue}</td>
			<td class="runner-cc ">{$hitung_bunga_mastervalue}</td>
			<td class="runner-cc ">{$denda_mastervalue}</td>
			<td class="runner-cc ">{$bunga_mastervalue}</td>
			<td class="runner-cc ">{$jml_bayar_mastervalue}</td>
			<td class="runner-cc ">{$sisa_mastervalue}</td>
			<td class="runner-cc ">{$jenis_bayar_mastervalue}</td>
			<td class="runner-cc ">{$printed_mastervalue}</td>
			<td class="runner-cc ">{$tp_id_mastervalue}</td>
			<td class="runner-cc ">{$is_validated_mastervalue}</td>
			<td class="runner-cc ">{$is_valid_mastervalue}</td>
			<td class="runner-cc ">{$enabled_mastervalue}</td>
			<td class="runner-cc ">{$created_mastervalue}</td>
			<td class="runner-cc ">{$create_uid_mastervalue}</td>
			<td class="runner-cc ">{$updated_mastervalue}</td>
			<td class="runner-cc ">{$update_uid_mastervalue}</td>
			<td class="runner-cc ">{$petugas_id_mastervalue}</td>
			<td class="runner-cc runner-clast">{$pejabat_id_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>