<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Pad Spt Reklame, View record [
Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN id_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id {$fielddispclass_id}">
			<b>Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_id {$fielddispclass_id}">
			{$id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END id_fieldblock}
	{BEGIN spt_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_spt_id {$fielddispclass_spt_id}">
			<b>Spt Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_spt_id {$fielddispclass_spt_id}">
			{$spt_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END spt_id_fieldblock}
	{BEGIN media_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_media_id {$fielddispclass_media_id}">
			<b>Media Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_media_id {$fielddispclass_media_id}">
			{$media_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END media_id_fieldblock}
	{BEGIN kelas_jalan_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_kelas_jalan_id {$fielddispclass_kelas_jalan_id}">
			<b>Kelas Jalan Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_kelas_jalan_id {$fielddispclass_kelas_jalan_id}">
			{$kelas_jalan_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kelas_jalan_id_fieldblock}
	{BEGIN panjang_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_panjang {$fielddispclass_panjang}">
			<b>Panjang</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_panjang {$fielddispclass_panjang}">
			{$panjang_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END panjang_fieldblock}
	{BEGIN lebar_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_lebar {$fielddispclass_lebar}">
			<b>Lebar</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_lebar {$fielddispclass_lebar}">
			{$lebar_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END lebar_fieldblock}
	{BEGIN tinggi_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tinggi {$fielddispclass_tinggi}">
			<b>Tinggi</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tinggi {$fielddispclass_tinggi}">
			{$tinggi_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tinggi_fieldblock}
	{BEGIN muka_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_muka {$fielddispclass_muka}">
			<b>Muka</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_muka {$fielddispclass_muka}">
			{$muka_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END muka_fieldblock}
	{BEGIN sisi_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sisi {$fielddispclass_sisi}">
			<b>Sisi</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_sisi {$fielddispclass_sisi}">
			{$sisi_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sisi_fieldblock}
	{BEGIN banyak_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_banyak {$fielddispclass_banyak}">
			<b>Banyak</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_banyak {$fielddispclass_banyak}">
			{$banyak_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END banyak_fieldblock}
	{BEGIN lama_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_lama {$fielddispclass_lama}">
			<b>Lama</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_lama {$fielddispclass_lama}">
			{$lama_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END lama_fieldblock}
	{BEGIN nsr_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_nsr {$fielddispclass_nsr}">
			<b>Nsr</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_nsr {$fielddispclass_nsr}">
			{$nsr_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END nsr_fieldblock}
	{BEGIN alamat_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_alamat {$fielddispclass_alamat}">
			<b>Alamat</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_alamat {$fielddispclass_alamat}">
			{$alamat_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END alamat_fieldblock}
	{BEGIN update_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_update_uid {$fielddispclass_update_uid}">
			<b>Update Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_update_uid {$fielddispclass_update_uid}">
			{$update_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END update_uid_fieldblock}
	{BEGIN create_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
			<b>Create Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_create_uid {$fielddispclass_create_uid}">
			{$create_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}
	{BEGIN updated_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_updated {$fielddispclass_updated}">
			<b>Updated</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_updated {$fielddispclass_updated}">
			{$updated_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END updated_fieldblock}
	{BEGIN created_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_created {$fielddispclass_created}">
			<b>Created</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_created {$fielddispclass_created}">
			{$created_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END created_fieldblock}
	{BEGIN status_baliho_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_status_baliho {$fielddispclass_status_baliho}">
			<b>Status Baliho</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_status_baliho {$fielddispclass_status_baliho}">
			{$status_baliho_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END status_baliho_fieldblock}
	{BEGIN tambahan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tambahan {$fielddispclass_tambahan}">
			<b>Tambahan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tambahan {$fielddispclass_tambahan}">
			{$tambahan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tambahan_fieldblock}
	{BEGIN jalan_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_jalan_id {$fielddispclass_jalan_id}">
			<b>Jalan Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_jalan_id {$fielddispclass_jalan_id}">
			{$jalan_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END jalan_id_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
