<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="tahun">
	{$tahun_editcontrol}
	</control>
	<control field="periksa_no">
	{$periksa_no_editcontrol}
	</control>
	<control field="periksa_tgl">
	{$periksa_tgl_editcontrol}
	</control>
	<control field="invoice_id">
	{$invoice_id_editcontrol}
	</control>
	<control field="lhp_no">
	{$lhp_no_editcontrol}
	</control>
	<control field="keterangan">
	{$keterangan_editcontrol}
	</control>
	<control field="pokok">
	{$pokok_editcontrol}
	</control>
	<control field="denda">
	{$denda_editcontrol}
	</control>
	<control field="bunga">
	{$bunga_editcontrol}
	</control>
	<control field="total">
	{$total_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>