<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="spt_type_id">
	{$spt_type_id_editcontrol}
	</control>
	<control field="usaha_id">
	{$usaha_id_editcontrol}
	</control>
	<control field="sptnm">
	{$sptnm_editcontrol}
	</control>
	<control field="sknm">
	{$sknm_editcontrol}
	</control>
	<control field="nhnm">
	{$nhnm_editcontrol}
	</control>
	<control field="sspdnm">
	{$sspdnm_editcontrol}
	</control>
	<control field="stpnm">
	{$stpnm_editcontrol}
	</control>
	<control field="kartudtnm">
	{$kartudtnm_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>