<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Pad Sspd, View record [
Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN id_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id {$fielddispclass_id}">
			<b>Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_id {$fielddispclass_id}">
			{$id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END id_fieldblock}
	{BEGIN tahun_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tahun {$fielddispclass_tahun}">
			<b>Tahun</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tahun {$fielddispclass_tahun}">
			{$tahun_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tahun_fieldblock}
	{BEGIN sspdno_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sspdno {$fielddispclass_sspdno}">
			<b>Sspdno</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_sspdno {$fielddispclass_sspdno}">
			{$sspdno_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sspdno_fieldblock}
	{BEGIN sspdtgl_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sspdtgl {$fielddispclass_sspdtgl}">
			<b>Sspdtgl</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_sspdtgl {$fielddispclass_sspdtgl}">
			{$sspdtgl_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sspdtgl_fieldblock}
	{BEGIN sspdjam_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sspdjam {$fielddispclass_sspdjam}">
			<b>Sspdjam</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_sspdjam {$fielddispclass_sspdjam}">
			{$sspdjam_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sspdjam_fieldblock}
	{BEGIN invoice_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_invoice_id {$fielddispclass_invoice_id}">
			<b>Invoice Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_invoice_id {$fielddispclass_invoice_id}">
			{$invoice_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END invoice_id_fieldblock}
	{BEGIN keterangan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_keterangan {$fielddispclass_keterangan}">
			<b>Keterangan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_keterangan {$fielddispclass_keterangan}">
			{$keterangan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END keterangan_fieldblock}
	{BEGIN bulan_telat_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_bulan_telat {$fielddispclass_bulan_telat}">
			<b>Bulan Telat</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_bulan_telat {$fielddispclass_bulan_telat}">
			{$bulan_telat_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END bulan_telat_fieldblock}
	{BEGIN hitung_bunga_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_hitung_bunga {$fielddispclass_hitung_bunga}">
			<b>Hitung Bunga</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_hitung_bunga {$fielddispclass_hitung_bunga}">
			{$hitung_bunga_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END hitung_bunga_fieldblock}
	{BEGIN denda_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_denda {$fielddispclass_denda}">
			<b>Denda</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_denda {$fielddispclass_denda}">
			{$denda_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END denda_fieldblock}
	{BEGIN bunga_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_bunga {$fielddispclass_bunga}">
			<b>Bunga</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_bunga {$fielddispclass_bunga}">
			{$bunga_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END bunga_fieldblock}
	{BEGIN jml_bayar_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_jml_bayar {$fielddispclass_jml_bayar}">
			<b>Jml Bayar</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_jml_bayar {$fielddispclass_jml_bayar}">
			{$jml_bayar_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END jml_bayar_fieldblock}
	{BEGIN sisa_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sisa {$fielddispclass_sisa}">
			<b>Sisa</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_sisa {$fielddispclass_sisa}">
			{$sisa_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END sisa_fieldblock}
	{BEGIN jenis_bayar_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_jenis_bayar {$fielddispclass_jenis_bayar}">
			<b>Jenis Bayar</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_jenis_bayar {$fielddispclass_jenis_bayar}">
			{$jenis_bayar_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END jenis_bayar_fieldblock}
	{BEGIN printed_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_printed {$fielddispclass_printed}">
			<b>Printed</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_printed {$fielddispclass_printed}">
			{$printed_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END printed_fieldblock}
	{BEGIN tp_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tp_id {$fielddispclass_tp_id}">
			<b>Tp Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tp_id {$fielddispclass_tp_id}">
			{$tp_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tp_id_fieldblock}
	{BEGIN is_validated_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_is_validated {$fielddispclass_is_validated}">
			<b>Is Validated</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_is_validated {$fielddispclass_is_validated}">
			{$is_validated_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END is_validated_fieldblock}
	{BEGIN is_valid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_is_valid {$fielddispclass_is_valid}">
			<b>Is Valid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_is_valid {$fielddispclass_is_valid}">
			{$is_valid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END is_valid_fieldblock}
	{BEGIN enabled_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_enabled {$fielddispclass_enabled}">
			<b>Enabled</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_enabled {$fielddispclass_enabled}">
			{$enabled_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END enabled_fieldblock}
	{BEGIN created_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_created {$fielddispclass_created}">
			<b>Created</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_created {$fielddispclass_created}">
			{$created_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END created_fieldblock}
	{BEGIN create_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
			<b>Create Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_create_uid {$fielddispclass_create_uid}">
			{$create_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}
	{BEGIN updated_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_updated {$fielddispclass_updated}">
			<b>Updated</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_updated {$fielddispclass_updated}">
			{$updated_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END updated_fieldblock}
	{BEGIN update_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_update_uid {$fielddispclass_update_uid}">
			<b>Update Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_update_uid {$fielddispclass_update_uid}">
			{$update_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END update_uid_fieldblock}
	{BEGIN petugas_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_petugas_id {$fielddispclass_petugas_id}">
			<b>Petugas Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_petugas_id {$fielddispclass_petugas_id}">
			{$petugas_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END petugas_id_fieldblock}
	{BEGIN pejabat_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pejabat_id {$fielddispclass_pejabat_id}">
			<b>Pejabat Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_pejabat_id {$fielddispclass_pejabat_id}">
			{$pejabat_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pejabat_id_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
