<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterlistheader" {$brickclass_masterlistheader}><span><b><span dir="LTR">Pad Jenis Pajak: [{$showKeys}]</span></b></span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



	<table class="runner-c runner-c-mastergrid runner-b-masterlistfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Id</th>
			<th class="runner-cc ">Usaha Id</th>
			<th class="runner-cc ">Nama</th>
			<th class="runner-cc ">Rekening Id</th>
			<th class="runner-cc ">Rekening Kd Sub</th>
			<th class="runner-cc ">Rekdenda Id</th>
			<th class="runner-cc ">Masapajak</th>
			<th class="runner-cc ">Jatuhtempo</th>
			<th class="runner-cc ">Multiple</th>
			<th class="runner-cc ">Jalan Kelas Id</th>
			<th class="runner-cc ">Tmt</th>
			<th class="runner-cc ">Enabled</th>
			<th class="runner-cc ">Created</th>
			<th class="runner-cc ">Create Uid</th>
			<th class="runner-cc ">Updated</th>
			<th class="runner-cc runner-clast">Update Uid</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$id_mastervalue}</td>
			<td class="runner-cc ">{$usaha_id_mastervalue}</td>
			<td class="runner-cc ">{$nama_mastervalue}</td>
			<td class="runner-cc ">{$rekening_id_mastervalue}</td>
			<td class="runner-cc ">{$rekening_kd_sub_mastervalue}</td>
			<td class="runner-cc ">{$rekdenda_id_mastervalue}</td>
			<td class="runner-cc ">{$masapajak_mastervalue}</td>
			<td class="runner-cc ">{$jatuhtempo_mastervalue}</td>
			<td class="runner-cc ">{$multiple_mastervalue}</td>
			<td class="runner-cc ">{$jalan_kelas_id_mastervalue}</td>
			<td class="runner-cc ">{$tmt_mastervalue}</td>
			<td class="runner-cc ">{$enabled_mastervalue}</td>
			<td class="runner-cc ">{$created_mastervalue}</td>
			<td class="runner-cc ">{$create_uid_mastervalue}</td>
			<td class="runner-cc ">{$updated_mastervalue}</td>
			<td class="runner-cc runner-clast">{$update_uid_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
 




{END container_mastergrid}

</div>