<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_id}
			<a href="#" id="addSearchControl_id" class="addSearchControl" {$addSearchControl_id_attrs}>Id</a><br>
		{END addSearch_id}
		{BEGIN addSearch_spt_id}
			<a href="#" id="addSearchControl_spt_id" class="addSearchControl" {$addSearchControl_spt_id_attrs}>Spt Id</a><br>
		{END addSearch_spt_id}
		{BEGIN addSearch_sumur_ke}
			<a href="#" id="addSearchControl_sumur_ke" class="addSearchControl" {$addSearchControl_sumur_ke_attrs}>Sumur Ke</a><br>
		{END addSearch_sumur_ke}
		{BEGIN addSearch_sipa_no}
			<a href="#" id="addSearchControl_sipa_no" class="addSearchControl" {$addSearchControl_sipa_no_attrs}>Sipa No</a><br>
		{END addSearch_sipa_no}
		{BEGIN addSearch_awal}
			<a href="#" id="addSearchControl_awal" class="addSearchControl" {$addSearchControl_awal_attrs}>Awal</a><br>
		{END addSearch_awal}
		{BEGIN addSearch_akhir}
			<a href="#" id="addSearchControl_akhir" class="addSearchControl" {$addSearchControl_akhir_attrs}>Akhir</a><br>
		{END addSearch_akhir}
		{BEGIN addSearch_volume}
			<a href="#" id="addSearchControl_volume" class="addSearchControl" {$addSearchControl_volume_attrs}>Volume</a><br>
		{END addSearch_volume}
		{BEGIN addSearch_update_uid}
			<a href="#" id="addSearchControl_update_uid" class="addSearchControl" {$addSearchControl_update_uid_attrs}>Update Uid</a><br>
		{END addSearch_update_uid}
		{BEGIN addSearch_create_uid}
			<a href="#" id="addSearchControl_create_uid" class="addSearchControl" {$addSearchControl_create_uid_attrs}>Create Uid</a><br>
		{END addSearch_create_uid}
		{BEGIN addSearch_updated}
			<a href="#" id="addSearchControl_updated" class="addSearchControl" {$addSearchControl_updated_attrs}>Updated</a><br>
		{END addSearch_updated}
		{BEGIN addSearch_created}
			<a href="#" id="addSearchControl_created" class="addSearchControl" {$addSearchControl_created_attrs}>Created</a><br>
		{END addSearch_created}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
