<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="rekening_id">
	{$rekening_id_editcontrol}
	</control>
	<control 
	field="status_anggaran">
	{$status_anggaran_editcontrol}
	</control>
	<control 
	field="target">
	{$target_editcontrol}
	</control>
	<control 
	field="bulan1">
	{$bulan1_editcontrol}
	</control>
	<control 
	field="bulan2">
	{$bulan2_editcontrol}
	</control>
	<control 
	field="bulan3">
	{$bulan3_editcontrol}
	</control>
	<control 
	field="bulan4">
	{$bulan4_editcontrol}
	</control>
	<control 
	field="bulan5">
	{$bulan5_editcontrol}
	</control>
	<control 
	field="bulan6">
	{$bulan6_editcontrol}
	</control>
	<control 
	field="bulan7">
	{$bulan7_editcontrol}
	</control>
	<control 
	field="bulan8">
	{$bulan8_editcontrol}
	</control>
	<control 
	field="bulan9">
	{$bulan9_editcontrol}
	</control>
	<control 
	field="bulan10">
	{$bulan10_editcontrol}
	</control>
	<control 
	field="bulan11">
	{$bulan11_editcontrol}
	</control>
	<control 
	field="bulan12">
	{$bulan12_editcontrol}
	</control>
	<control 
	field="jumlah">
	{$jumlah_editcontrol}
	</control>
	<control 
	field="created">
	{$created_editcontrol}
	</control>
	<control 
	field="updated">
	{$updated_editcontrol}
	</control>
	<control 
	field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control 
	field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control 
	field="tahun">
	{$tahun_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
