<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Pad Stpd, View record [
Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN id_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id {$fielddispclass_id}">
			<b>Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_id {$fielddispclass_id}">
			{$id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END id_fieldblock}
	{BEGIN tahun_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tahun {$fielddispclass_tahun}">
			<b>Tahun</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tahun {$fielddispclass_tahun}">
			{$tahun_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tahun_fieldblock}
	{BEGIN stpdno_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_stpdno {$fielddispclass_stpdno}">
			<b>Stpdno</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_stpdno {$fielddispclass_stpdno}">
			{$stpdno_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END stpdno_fieldblock}
	{BEGIN stpdtgl_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_stpdtgl {$fielddispclass_stpdtgl}">
			<b>Stpdtgl</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_stpdtgl {$fielddispclass_stpdtgl}">
			{$stpdtgl_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END stpdtgl_fieldblock}
	{BEGIN spt_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_spt_id {$fielddispclass_spt_id}">
			<b>Spt Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_spt_id {$fielddispclass_spt_id}">
			{$spt_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END spt_id_fieldblock}
	{BEGIN jatuhtempotgl_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_jatuhtempotgl {$fielddispclass_jatuhtempotgl}">
			<b>Jatuhtempotgl</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_jatuhtempotgl {$fielddispclass_jatuhtempotgl}">
			{$jatuhtempotgl_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END jatuhtempotgl_fieldblock}
	{BEGIN printed_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_printed {$fielddispclass_printed}">
			<b>Printed</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_printed {$fielddispclass_printed}">
			{$printed_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END printed_fieldblock}
	{BEGIN stpdcount_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_stpdcount {$fielddispclass_stpdcount}">
			<b>Stpdcount</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_stpdcount {$fielddispclass_stpdcount}">
			{$stpdcount_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END stpdcount_fieldblock}
	{BEGIN bunga_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_bunga {$fielddispclass_bunga}">
			<b>Bunga</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_bunga {$fielddispclass_bunga}">
			{$bunga_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END bunga_fieldblock}
	{BEGIN enabled_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_enabled {$fielddispclass_enabled}">
			<b>Enabled</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_enabled {$fielddispclass_enabled}">
			{$enabled_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END enabled_fieldblock}
	{BEGIN created_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_created {$fielddispclass_created}">
			<b>Created</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_created {$fielddispclass_created}">
			{$created_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END created_fieldblock}
	{BEGIN create_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
			<b>Create Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_create_uid {$fielddispclass_create_uid}">
			{$create_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}
	{BEGIN write_date_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_write_date {$fielddispclass_write_date}">
			<b>Write Date</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_write_date {$fielddispclass_write_date}">
			{$write_date_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END write_date_fieldblock}
	{BEGIN write_uid_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_write_uid {$fielddispclass_write_uid}">
			<b>Write Uid</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_write_uid {$fielddispclass_write_uid}">
			{$write_uid_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END write_uid_fieldblock}
	{BEGIN petugas_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_petugas_id {$fielddispclass_petugas_id}">
			<b>Petugas Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_petugas_id {$fielddispclass_petugas_id}">
			{$petugas_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END petugas_id_fieldblock}
	{BEGIN pejabat_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_pejabat_id {$fielddispclass_pejabat_id}">
			<b>Pejabat Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_pejabat_id {$fielddispclass_pejabat_id}">
			{$pejabat_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pejabat_id_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
