<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="konterid">
	{$konterid_editcontrol}
	</control>
	<control field="reg_date">
	{$reg_date_editcontrol}
	</control>
	<control field="customer_id">
	{$customer_id_editcontrol}
	</control>
	<control field="usaha_id">
	{$usaha_id_editcontrol}
	</control>
	<control field="so">
	{$so_editcontrol}
	</control>
	<control field="kecamatan_id">
	{$kecamatan_id_editcontrol}
	</control>
	<control field="kelurahan_id">
	{$kelurahan_id_editcontrol}
	</control>
	<control field="notes">
	{$notes_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="customer_status_id">
	{$customer_status_id_editcontrol}
	</control>
	<control field="aktifnotes">
	{$aktifnotes_editcontrol}
	</control>
	<control field="tmt">
	{$tmt_editcontrol}
	</control>
	<control field="air_zona_id">
	{$air_zona_id_editcontrol}
	</control>
	<control field="air_manfaat_id">
	{$air_manfaat_id_editcontrol}
	</control>
	<control field="def_pajak_id">
	{$def_pajak_id_editcontrol}
	</control>
	<control field="opnm">
	{$opnm_editcontrol}
	</control>
	<control field="opalamat">
	{$opalamat_editcontrol}
	</control>
	<control field="latitude">
	{$latitude_editcontrol}
	</control>
	<control field="longitude">
	{$longitude_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="kd_restojmlmeja">
	{$kd_restojmlmeja_editcontrol}
	</control>
	<control field="kd_restojmlkursi">
	{$kd_restojmlkursi_editcontrol}
	</control>
	<control field="kd_restojmltamu">
	{$kd_restojmltamu_editcontrol}
	</control>
	<control field="kd_filmkursi">
	{$kd_filmkursi_editcontrol}
	</control>
	<control field="kd_filmpertunjukan">
	{$kd_filmpertunjukan_editcontrol}
	</control>
	<control field="kd_filmtarif">
	{$kd_filmtarif_editcontrol}
	</control>
	<control field="kd_bilyarmeja">
	{$kd_bilyarmeja_editcontrol}
	</control>
	<control field="kd_bilyartarif">
	{$kd_bilyartarif_editcontrol}
	</control>
	<control field="kd_bilyarkegiatan">
	{$kd_bilyarkegiatan_editcontrol}
	</control>
	<control field="kd_diskopengunjung">
	{$kd_diskopengunjung_editcontrol}
	</control>
	<control field="kd_diskotarif">
	{$kd_diskotarif_editcontrol}
	</control>
	<control field="mall_id">
	{$mall_id_editcontrol}
	</control>
	<control field="cash_register">
	{$cash_register_editcontrol}
	</control>
	<control field="pelaporan">
	{$pelaporan_editcontrol}
	</control>
	<control field="pembukuan">
	{$pembukuan_editcontrol}
	</control>
	<control field="bandara">
	{$bandara_editcontrol}
	</control>
	<control field="wajib_pajak">
	{$wajib_pajak_editcontrol}
	</control>
	<control field="jumlah_karyawan">
	{$jumlah_karyawan_editcontrol}
	</control>
	<control field="tanggal_tutup">
	{$tanggal_tutup_editcontrol}
	</control>
	<control field="parkir_luas">
	{$parkir_luas_editcontrol}
	</control>
	<control field="parkir_masuk">
	{$parkir_masuk_editcontrol}
	</control>
	<control field="parkir_tarif_mobil">
	{$parkir_tarif_mobil_editcontrol}
	</control>
	<control field="parkir_tambahan">
	{$parkir_tambahan_editcontrol}
	</control>
	<control field="parkir_kapasitas_mobil">
	{$parkir_kapasitas_mobil_editcontrol}
	</control>
	<control field="parkir_mobil_hari">
	{$parkir_mobil_hari_editcontrol}
	</control>
	<control field="parkir_keluar">
	{$parkir_keluar_editcontrol}
	</control>
	<control field="parkir_motor_luas">
	{$parkir_motor_luas_editcontrol}
	</control>
	<control field="parkir_motor_masuk">
	{$parkir_motor_masuk_editcontrol}
	</control>
	<control field="parkir_motor_keluar">
	{$parkir_motor_keluar_editcontrol}
	</control>
	<control field="parkir_tarif_motor">
	{$parkir_tarif_motor_editcontrol}
	</control>
	<control field="parkir_motor_tambahan">
	{$parkir_motor_tambahan_editcontrol}
	</control>
	<control field="parkir_kapasitas_motor">
	{$parkir_kapasitas_motor_editcontrol}
	</control>
	<control field="parkir_motor_hari">
	{$parkir_motor_hari_editcontrol}
	</control>
	<control field="kelompok_usaha_id">
	{$kelompok_usaha_id_editcontrol}
	</control>
	<control field="zona_id">
	{$zona_id_editcontrol}
	</control>
	<control field="manfaat_id">
	{$manfaat_id_editcontrol}
	</control>
	<control field="golongan_id">
	{$golongan_id_editcontrol}
	</control>
	<control field="id_old">
	{$id_old_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>