<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="tahun">
	{$tahun_editcontrol}
	</control>
	<control field="terimano">
	{$terimano_editcontrol}
	</control>
	<control field="terimatgl">
	{$terimatgl_editcontrol}
	</control>
	<control field="jmlterima">
	{$jmlterima_editcontrol}
	</control>
	<control field="customer_id">
	{$customer_id_editcontrol}
	</control>
	<control field="npwpd">
	{$npwpd_editcontrol}
	</control>
	<control field="nobukti">
	{$nobukti_editcontrol}
	</control>
	<control field="notes">
	{$notes_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="create_date">
	{$create_date_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="write_date">
	{$write_date_editcontrol}
	</control>
	<control field="write_uid">
	{$write_uid_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>