<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="kelas_jalan_id">
	{$kelas_jalan_id_editcontrol}
	</control>
	<control 
	field="media_id">
	{$media_id_editcontrol}
	</control>
	<control 
	field="satuan">
	{$satuan_editcontrol}
	</control>
	<control 
	field="njopr">
	{$njopr_editcontrol}
	</control>
	<control 
	field="nspr">
	{$nspr_editcontrol}
	</control>
	<control 
	field="nsr">
	{$nsr_editcontrol}
	</control>
	<control 
	field="tmt">
	{$tmt_editcontrol}
	</control>
	<control 
	field="enabled">
	{$enabled_editcontrol}
	</control>
	<control 
	field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control 
	field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control 
	field="updated">
	{$updated_editcontrol}
	</control>
	<control 
	field="created">
	{$created_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
