<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="kode">
	{$kode_editcontrol}
	</control>
	<control field="kecamatan_id">
	{$kecamatan_id_editcontrol}
	</control>
	<control field="kelurahan_id">
	{$kelurahan_id_editcontrol}
	</control>
	<control field="latitude">
	{$latitude_editcontrol}
	</control>
	<control field="longitude">
	{$longitude_editcontrol}
	</control>
	<control field="pemilik_nama">
	{$pemilik_nama_editcontrol}
	</control>
	<control field="pemilik_alamat">
	{$pemilik_alamat_editcontrol}
	</control>
	<control field="pemilik_kecamatan">
	{$pemilik_kecamatan_editcontrol}
	</control>
	<control field="pemilik_kelurahan">
	{$pemilik_kelurahan_editcontrol}
	</control>
	<control field="pemilik_kota">
	{$pemilik_kota_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>