<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="tahun">
	{$tahun_editcontrol}
	</control>
	<control field="sptno">
	{$sptno_editcontrol}
	</control>
	<control field="customer_id">
	{$customer_id_editcontrol}
	</control>
	<control field="customer_usaha_id">
	{$customer_usaha_id_editcontrol}
	</control>
	<control field="rekening_id">
	{$rekening_id_editcontrol}
	</control>
	<control field="pajak_id">
	{$pajak_id_editcontrol}
	</control>
	<control field="type_id">
	{$type_id_editcontrol}
	</control>
	<control field="so">
	{$so_editcontrol}
	</control>
	<control field="masadari">
	{$masadari_editcontrol}
	</control>
	<control field="masasd">
	{$masasd_editcontrol}
	</control>
	<control field="jatuhtempotgl">
	{$jatuhtempotgl_editcontrol}
	</control>
	<control field="r_bayarid">
	{$r_bayarid_editcontrol}
	</control>
	<control field="minimal_omset">
	{$minimal_omset_editcontrol}
	</control>
	<control field="dasar">
	{$dasar_editcontrol}
	</control>
	<control field="tarif">
	{$tarif_editcontrol}
	</control>
	<control field="denda">
	{$denda_editcontrol}
	</control>
	<control field="bunga">
	{$bunga_editcontrol}
	</control>
	<control field="setoran">
	{$setoran_editcontrol}
	</control>
	<control field="kenaikan">
	{$kenaikan_editcontrol}
	</control>
	<control field="kompensasi">
	{$kompensasi_editcontrol}
	</control>
	<control field="lain2">
	{$lain2_editcontrol}
	</control>
	<control field="pajak_terhutang">
	{$pajak_terhutang_editcontrol}
	</control>
	<control field="air_manfaat_id">
	{$air_manfaat_id_editcontrol}
	</control>
	<control field="air_zona_id">
	{$air_zona_id_editcontrol}
	</control>
	<control field="meteran_awal">
	{$meteran_awal_editcontrol}
	</control>
	<control field="meteran_akhir">
	{$meteran_akhir_editcontrol}
	</control>
	<control field="volume">
	{$volume_editcontrol}
	</control>
	<control field="satuan">
	{$satuan_editcontrol}
	</control>
	<control field="r_panjang">
	{$r_panjang_editcontrol}
	</control>
	<control field="r_lebar">
	{$r_lebar_editcontrol}
	</control>
	<control field="r_muka">
	{$r_muka_editcontrol}
	</control>
	<control field="r_banyak">
	{$r_banyak_editcontrol}
	</control>
	<control field="r_luas">
	{$r_luas_editcontrol}
	</control>
	<control field="r_tarifid">
	{$r_tarifid_editcontrol}
	</control>
	<control field="r_kontrak">
	{$r_kontrak_editcontrol}
	</control>
	<control field="r_lama">
	{$r_lama_editcontrol}
	</control>
	<control field="r_jalan_id">
	{$r_jalan_id_editcontrol}
	</control>
	<control field="r_jalanklas_id">
	{$r_jalanklas_id_editcontrol}
	</control>
	<control field="r_lokasi">
	{$r_lokasi_editcontrol}
	</control>
	<control field="r_judul">
	{$r_judul_editcontrol}
	</control>
	<control field="r_kelurahan_id">
	{$r_kelurahan_id_editcontrol}
	</control>
	<control field="r_lokasi_id">
	{$r_lokasi_id_editcontrol}
	</control>
	<control field="r_calculated">
	{$r_calculated_editcontrol}
	</control>
	<control field="r_nsr">
	{$r_nsr_editcontrol}
	</control>
	<control field="r_nsrno">
	{$r_nsrno_editcontrol}
	</control>
	<control field="r_nsrtgl">
	{$r_nsrtgl_editcontrol}
	</control>
	<control field="r_nsl_kecamatan_id">
	{$r_nsl_kecamatan_id_editcontrol}
	</control>
	<control field="r_nsl_type_id">
	{$r_nsl_type_id_editcontrol}
	</control>
	<control field="r_nsl_nilai">
	{$r_nsl_nilai_editcontrol}
	</control>
	<control field="notes">
	{$notes_editcontrol}
	</control>
	<control field="unit_id">
	{$unit_id_editcontrol}
	</control>
	<control field="enabled">
	{$enabled_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control field="terimanip">
	{$terimanip_editcontrol}
	</control>
	<control field="terimatgl">
	{$terimatgl_editcontrol}
	</control>
	<control field="kirimtgl">
	{$kirimtgl_editcontrol}
	</control>
	<control field="isprint_dc">
	{$isprint_dc_editcontrol}
	</control>
	<control field="r_nsr_id">
	{$r_nsr_id_editcontrol}
	</control>
	<control field="r_lokasi_pasang_id">
	{$r_lokasi_pasang_id_editcontrol}
	</control>
	<control field="r_lokasi_pasang_val">
	{$r_lokasi_pasang_val_editcontrol}
	</control>
	<control field="r_jalanklas_val">
	{$r_jalanklas_val_editcontrol}
	</control>
	<control field="r_sudut_pandang_id">
	{$r_sudut_pandang_id_editcontrol}
	</control>
	<control field="r_sudut_pandang_val">
	{$r_sudut_pandang_val_editcontrol}
	</control>
	<control field="r_tinggi">
	{$r_tinggi_editcontrol}
	</control>
	<control field="r_njop">
	{$r_njop_editcontrol}
	</control>
	<control field="r_status">
	{$r_status_editcontrol}
	</control>
	<control field="r_njop_ketinggian">
	{$r_njop_ketinggian_editcontrol}
	</control>
	<control field="status_pembayaran">
	{$status_pembayaran_editcontrol}
	</control>
	<control field="rek_no_paneng">
	{$rek_no_paneng_editcontrol}
	</control>
	<control field="sptno_lengkap">
	{$sptno_lengkap_editcontrol}
	</control>
	<control field="sptno_lama">
	{$sptno_lama_editcontrol}
	</control>
	<control field="r_nama">
	{$r_nama_editcontrol}
	</control>
	<control field="r_alamat">
	{$r_alamat_editcontrol}
	</control>
	<control field="omset1">
	{$omset1_editcontrol}
	</control>
	<control field="omset2">
	{$omset2_editcontrol}
	</control>
	<control field="omset3">
	{$omset3_editcontrol}
	</control>
	<control field="omset4">
	{$omset4_editcontrol}
	</control>
	<control field="omset5">
	{$omset5_editcontrol}
	</control>
	<control field="omset6">
	{$omset6_editcontrol}
	</control>
	<control field="omset7">
	{$omset7_editcontrol}
	</control>
	<control field="omset8">
	{$omset8_editcontrol}
	</control>
	<control field="omset9">
	{$omset9_editcontrol}
	</control>
	<control field="omset10">
	{$omset10_editcontrol}
	</control>
	<control field="omset11">
	{$omset11_editcontrol}
	</control>
	<control field="omset12">
	{$omset12_editcontrol}
	</control>
	<control field="omset13">
	{$omset13_editcontrol}
	</control>
	<control field="omset14">
	{$omset14_editcontrol}
	</control>
	<control field="omset15">
	{$omset15_editcontrol}
	</control>
	<control field="omset16">
	{$omset16_editcontrol}
	</control>
	<control field="omset17">
	{$omset17_editcontrol}
	</control>
	<control field="omset18">
	{$omset18_editcontrol}
	</control>
	<control field="omset19">
	{$omset19_editcontrol}
	</control>
	<control field="omset20">
	{$omset20_editcontrol}
	</control>
	<control field="omset21">
	{$omset21_editcontrol}
	</control>
	<control field="omset22">
	{$omset22_editcontrol}
	</control>
	<control field="omset23">
	{$omset23_editcontrol}
	</control>
	<control field="omset24">
	{$omset24_editcontrol}
	</control>
	<control field="omset25">
	{$omset25_editcontrol}
	</control>
	<control field="omset26">
	{$omset26_editcontrol}
	</control>
	<control field="omset27">
	{$omset27_editcontrol}
	</control>
	<control field="omset28">
	{$omset28_editcontrol}
	</control>
	<control field="omset29">
	{$omset29_editcontrol}
	</control>
	<control field="omset30">
	{$omset30_editcontrol}
	</control>
	<control field="omset31">
	{$omset31_editcontrol}
	</control>
	<control field="keterangan1">
	{$keterangan1_editcontrol}
	</control>
	<control field="keterangan2">
	{$keterangan2_editcontrol}
	</control>
	<control field="keterangan3">
	{$keterangan3_editcontrol}
	</control>
	<control field="keterangan4">
	{$keterangan4_editcontrol}
	</control>
	<control field="keterangan5">
	{$keterangan5_editcontrol}
	</control>
	<control field="keterangan6">
	{$keterangan6_editcontrol}
	</control>
	<control field="keterangan7">
	{$keterangan7_editcontrol}
	</control>
	<control field="keterangan8">
	{$keterangan8_editcontrol}
	</control>
	<control field="keterangan9">
	{$keterangan9_editcontrol}
	</control>
	<control field="keterangan10">
	{$keterangan10_editcontrol}
	</control>
	<control field="keterangan11">
	{$keterangan11_editcontrol}
	</control>
	<control field="keterangan12">
	{$keterangan12_editcontrol}
	</control>
	<control field="keterangan13">
	{$keterangan13_editcontrol}
	</control>
	<control field="keterangan14">
	{$keterangan14_editcontrol}
	</control>
	<control field="keterangan15">
	{$keterangan15_editcontrol}
	</control>
	<control field="keterangan16">
	{$keterangan16_editcontrol}
	</control>
	<control field="keterangan17">
	{$keterangan17_editcontrol}
	</control>
	<control field="keterangan18">
	{$keterangan18_editcontrol}
	</control>
	<control field="keterangan19">
	{$keterangan19_editcontrol}
	</control>
	<control field="keterangan20">
	{$keterangan20_editcontrol}
	</control>
	<control field="keterangan21">
	{$keterangan21_editcontrol}
	</control>
	<control field="keterangan22">
	{$keterangan22_editcontrol}
	</control>
	<control field="keterangan23">
	{$keterangan23_editcontrol}
	</control>
	<control field="keterangan24">
	{$keterangan24_editcontrol}
	</control>
	<control field="keterangan25">
	{$keterangan25_editcontrol}
	</control>
	<control field="keterangan26">
	{$keterangan26_editcontrol}
	</control>
	<control field="keterangan27">
	{$keterangan27_editcontrol}
	</control>
	<control field="keterangan28">
	{$keterangan28_editcontrol}
	</control>
	<control field="keterangan29">
	{$keterangan29_editcontrol}
	</control>
	<control field="keterangan30">
	{$keterangan30_editcontrol}
	</control>
	<control field="keterangan31">
	{$keterangan31_editcontrol}
	</control>
	<control field="doc_no">
	{$doc_no_editcontrol}
	</control>
	<control field="cara_bayar">
	{$cara_bayar_editcontrol}
	</control>
	<control field="kelompok_usaha_id">
	{$kelompok_usaha_id_editcontrol}
	</control>
	<control field="zona_id">
	{$zona_id_editcontrol}
	</control>
	<control field="manfaat_id">
	{$manfaat_id_editcontrol}
	</control>
	<control field="golongan">
	{$golongan_editcontrol}
	</control>
	<control field="omset_lain">
	{$omset_lain_editcontrol}
	</control>
	<control field="keterangan_lain">
	{$keterangan_lain_editcontrol}
	</control>
	<control field="ijin_no">
	{$ijin_no_editcontrol}
	</control>
	<control field="jenis_masa">
	{$jenis_masa_editcontrol}
	</control>
	<control field="skpd_lama">
	{$skpd_lama_editcontrol}
	</control>
	<control field="proses">
	{$proses_editcontrol}
	</control>
	<control field="tanggal_validasi">
	{$tanggal_validasi_editcontrol}
	</control>
	<control field="bulan">
	{$bulan_editcontrol}
	</control>
	<control field="no_telp">
	{$no_telp_editcontrol}
	</control>
	<control field="usaha_id">
	{$usaha_id_editcontrol}
	</control>
	<control field="multiple">
	{$multiple_editcontrol}
	</control>
	<control field="bulan_telat">
	{$bulan_telat_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>