<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_edit}
<table class="runner-c runner-c-edit" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-editheader {$brickclass_editheader}">Pad Terima Line, Edit record [
Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN message_block}
<tr  class="runner-row style1 runner-b-message {$brickclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><div class="runner-message">{$message}</div></td><td class="runner-cr"></td></tr>{END message_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN terima_id_fieldblock}
	<tr class="runner-toprow header style1 runner-b-editfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_terima_id {$fielddispclass_terima_id}">
				{BEGIN terima_id_label}Terima Id{END terima_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_terima_id {$fielddispclass_terima_id}">
				{$terima_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END terima_id_fieldblock}
	{BEGIN spt_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_spt_id {$fielddispclass_spt_id}">
				{BEGIN spt_id_label}Spt Id{END spt_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_spt_id {$fielddispclass_spt_id}">
				{$spt_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END spt_id_fieldblock}
	{BEGIN rekening_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_rekening_id {$fielddispclass_rekening_id}">
				{BEGIN rekening_id_label}Rekening Id{END rekening_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_rekening_id {$fielddispclass_rekening_id}">
				{$rekening_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END rekening_id_fieldblock}
	{BEGIN pajak_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pajak_id {$fielddispclass_pajak_id}">
				{BEGIN pajak_id_label}Pajak Id{END pajak_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_pajak_id {$fielddispclass_pajak_id}">
				{$pajak_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pajak_id_fieldblock}
	{BEGIN amount_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_amount {$fielddispclass_amount}">
				{BEGIN amount_label}Amount{END amount_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_amount {$fielddispclass_amount}">
				{$amount_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END amount_fieldblock}
	{BEGIN enabled_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_enabled {$fielddispclass_enabled}">
				{BEGIN enabled_label}Enabled{END enabled_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_enabled {$fielddispclass_enabled}">
				{$enabled_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END enabled_fieldblock}
	{BEGIN create_date_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_create_date {$fielddispclass_create_date}">
				{BEGIN create_date_label}Create Date{END create_date_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_create_date {$fielddispclass_create_date}">
				{$create_date_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_date_fieldblock}
	{BEGIN create_uid_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
				{BEGIN create_uid_label}Create Uid{END create_uid_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_create_uid {$fielddispclass_create_uid}">
				{$create_uid_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}
	{BEGIN write_date_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_write_date {$fielddispclass_write_date}">
				{BEGIN write_date_label}Write Date{END write_date_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_write_date {$fielddispclass_write_date}">
				{$write_date_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END write_date_fieldblock}
	{BEGIN write_uid_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_write_uid {$fielddispclass_write_uid}">
				{BEGIN write_uid_label}Write Uid{END write_uid_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_write_uid {$fielddispclass_write_uid}">
				{$write_uid_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END write_uid_fieldblock}



{BEGIN legend}
<tr  class="runner-row style3 runner-b-legend {$brickclass_legend}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><span id="required_block{$id}">
<img src="images/icon_required.gif" alt="bullet"> - Required field
</span>
</td><td class="runner-cr"></td></tr>{END legend}



<tr  class="runner-row style2 runner-b-editbuttons {$brickclass_editbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN save_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$savebutton_attrs}>Save</a>
</span>
{END save_button}
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&nbsp;<<<&nbsp;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&nbsp;>>>&nbsp;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_edit}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_edit}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
