<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Pad Spt: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Id</th>
			<th class="runner-cc ">Tahun</th>
			<th class="runner-cc ">Sptno</th>
			<th class="runner-cc ">Customer Id</th>
			<th class="runner-cc ">Customer Usaha Id</th>
			<th class="runner-cc ">Rekening Id</th>
			<th class="runner-cc ">Pajak Id</th>
			<th class="runner-cc ">Type Id</th>
			<th class="runner-cc ">So</th>
			<th class="runner-cc ">Masadari</th>
			<th class="runner-cc ">Masasd</th>
			<th class="runner-cc ">Jatuhtempotgl</th>
			<th class="runner-cc ">R Bayarid</th>
			<th class="runner-cc ">Minimal Omset</th>
			<th class="runner-cc ">Dasar</th>
			<th class="runner-cc ">Tarif</th>
			<th class="runner-cc ">Denda</th>
			<th class="runner-cc ">Bunga</th>
			<th class="runner-cc ">Setoran</th>
			<th class="runner-cc ">Kenaikan</th>
			<th class="runner-cc ">Kompensasi</th>
			<th class="runner-cc ">Lain2</th>
			<th class="runner-cc ">Pajak Terhutang</th>
			<th class="runner-cc ">Air Manfaat Id</th>
			<th class="runner-cc ">Air Zona Id</th>
			<th class="runner-cc ">Meteran Awal</th>
			<th class="runner-cc ">Meteran Akhir</th>
			<th class="runner-cc ">Volume</th>
			<th class="runner-cc ">Satuan</th>
			<th class="runner-cc ">R Panjang</th>
			<th class="runner-cc ">R Lebar</th>
			<th class="runner-cc ">R Muka</th>
			<th class="runner-cc ">R Banyak</th>
			<th class="runner-cc ">R Luas</th>
			<th class="runner-cc ">R Tarifid</th>
			<th class="runner-cc ">R Kontrak</th>
			<th class="runner-cc ">R Lama</th>
			<th class="runner-cc ">R Jalan Id</th>
			<th class="runner-cc ">R Jalanklas Id</th>
			<th class="runner-cc ">R Lokasi</th>
			<th class="runner-cc ">R Judul</th>
			<th class="runner-cc ">R Kelurahan Id</th>
			<th class="runner-cc ">R Lokasi Id</th>
			<th class="runner-cc ">R Calculated</th>
			<th class="runner-cc ">R Nsr</th>
			<th class="runner-cc ">R Nsrno</th>
			<th class="runner-cc ">R Nsrtgl</th>
			<th class="runner-cc ">R Nsl Kecamatan Id</th>
			<th class="runner-cc ">R Nsl Type Id</th>
			<th class="runner-cc ">R Nsl Nilai</th>
			<th class="runner-cc ">Notes</th>
			<th class="runner-cc ">Unit Id</th>
			<th class="runner-cc ">Enabled</th>
			<th class="runner-cc ">Created</th>
			<th class="runner-cc ">Create Uid</th>
			<th class="runner-cc ">Updated</th>
			<th class="runner-cc ">Update Uid</th>
			<th class="runner-cc ">Terimanip</th>
			<th class="runner-cc ">Terimatgl</th>
			<th class="runner-cc ">Kirimtgl</th>
			<th class="runner-cc ">Isprint Dc</th>
			<th class="runner-cc ">R Nsr Id</th>
			<th class="runner-cc ">R Lokasi Pasang Id</th>
			<th class="runner-cc ">R Lokasi Pasang Val</th>
			<th class="runner-cc ">R Jalanklas Val</th>
			<th class="runner-cc ">R Sudut Pandang Id</th>
			<th class="runner-cc ">R Sudut Pandang Val</th>
			<th class="runner-cc ">R Tinggi</th>
			<th class="runner-cc ">R Njop</th>
			<th class="runner-cc ">R Status</th>
			<th class="runner-cc ">R Njop Ketinggian</th>
			<th class="runner-cc ">Status Pembayaran</th>
			<th class="runner-cc ">Rek No Paneng</th>
			<th class="runner-cc ">Sptno Lengkap</th>
			<th class="runner-cc ">Sptno Lama</th>
			<th class="runner-cc ">R Nama</th>
			<th class="runner-cc ">R Alamat</th>
			<th class="runner-cc ">Omset1</th>
			<th class="runner-cc ">Omset2</th>
			<th class="runner-cc ">Omset3</th>
			<th class="runner-cc ">Omset4</th>
			<th class="runner-cc ">Omset5</th>
			<th class="runner-cc ">Omset6</th>
			<th class="runner-cc ">Omset7</th>
			<th class="runner-cc ">Omset8</th>
			<th class="runner-cc ">Omset9</th>
			<th class="runner-cc ">Omset10</th>
			<th class="runner-cc ">Omset11</th>
			<th class="runner-cc ">Omset12</th>
			<th class="runner-cc ">Omset13</th>
			<th class="runner-cc ">Omset14</th>
			<th class="runner-cc ">Omset15</th>
			<th class="runner-cc ">Omset16</th>
			<th class="runner-cc ">Omset17</th>
			<th class="runner-cc ">Omset18</th>
			<th class="runner-cc ">Omset19</th>
			<th class="runner-cc ">Omset20</th>
			<th class="runner-cc ">Omset21</th>
			<th class="runner-cc ">Omset22</th>
			<th class="runner-cc ">Omset23</th>
			<th class="runner-cc ">Omset24</th>
			<th class="runner-cc ">Omset25</th>
			<th class="runner-cc ">Omset26</th>
			<th class="runner-cc ">Omset27</th>
			<th class="runner-cc ">Omset28</th>
			<th class="runner-cc ">Omset29</th>
			<th class="runner-cc ">Omset30</th>
			<th class="runner-cc ">Omset31</th>
			<th class="runner-cc ">Keterangan1</th>
			<th class="runner-cc ">Keterangan2</th>
			<th class="runner-cc ">Keterangan3</th>
			<th class="runner-cc ">Keterangan4</th>
			<th class="runner-cc ">Keterangan5</th>
			<th class="runner-cc ">Keterangan6</th>
			<th class="runner-cc ">Keterangan7</th>
			<th class="runner-cc ">Keterangan8</th>
			<th class="runner-cc ">Keterangan9</th>
			<th class="runner-cc ">Keterangan10</th>
			<th class="runner-cc ">Keterangan11</th>
			<th class="runner-cc ">Keterangan12</th>
			<th class="runner-cc ">Keterangan13</th>
			<th class="runner-cc ">Keterangan14</th>
			<th class="runner-cc ">Keterangan15</th>
			<th class="runner-cc ">Keterangan16</th>
			<th class="runner-cc ">Keterangan17</th>
			<th class="runner-cc ">Keterangan18</th>
			<th class="runner-cc ">Keterangan19</th>
			<th class="runner-cc ">Keterangan20</th>
			<th class="runner-cc ">Keterangan21</th>
			<th class="runner-cc ">Keterangan22</th>
			<th class="runner-cc ">Keterangan23</th>
			<th class="runner-cc ">Keterangan24</th>
			<th class="runner-cc ">Keterangan25</th>
			<th class="runner-cc ">Keterangan26</th>
			<th class="runner-cc ">Keterangan27</th>
			<th class="runner-cc ">Keterangan28</th>
			<th class="runner-cc ">Keterangan29</th>
			<th class="runner-cc ">Keterangan30</th>
			<th class="runner-cc ">Keterangan31</th>
			<th class="runner-cc ">Doc No</th>
			<th class="runner-cc ">Cara Bayar</th>
			<th class="runner-cc ">Kelompok Usaha Id</th>
			<th class="runner-cc ">Zona Id</th>
			<th class="runner-cc ">Manfaat Id</th>
			<th class="runner-cc ">Golongan</th>
			<th class="runner-cc ">Omset Lain</th>
			<th class="runner-cc ">Keterangan Lain</th>
			<th class="runner-cc ">Ijin No</th>
			<th class="runner-cc ">Jenis Masa</th>
			<th class="runner-cc ">Skpd Lama</th>
			<th class="runner-cc ">Proses</th>
			<th class="runner-cc ">Tanggal Validasi</th>
			<th class="runner-cc ">Bulan</th>
			<th class="runner-cc ">No Telp</th>
			<th class="runner-cc ">Usaha Id</th>
			<th class="runner-cc ">Multiple</th>
			<th class="runner-cc runner-clast">Bulan Telat</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$id_mastervalue}</td>
			<td class="runner-cc ">{$tahun_mastervalue}</td>
			<td class="runner-cc ">{$sptno_mastervalue}</td>
			<td class="runner-cc ">{$customer_id_mastervalue}</td>
			<td class="runner-cc ">{$customer_usaha_id_mastervalue}</td>
			<td class="runner-cc ">{$rekening_id_mastervalue}</td>
			<td class="runner-cc ">{$pajak_id_mastervalue}</td>
			<td class="runner-cc ">{$type_id_mastervalue}</td>
			<td class="runner-cc ">{$so_mastervalue}</td>
			<td class="runner-cc ">{$masadari_mastervalue}</td>
			<td class="runner-cc ">{$masasd_mastervalue}</td>
			<td class="runner-cc ">{$jatuhtempotgl_mastervalue}</td>
			<td class="runner-cc ">{$r_bayarid_mastervalue}</td>
			<td class="runner-cc ">{$minimal_omset_mastervalue}</td>
			<td class="runner-cc ">{$dasar_mastervalue}</td>
			<td class="runner-cc ">{$tarif_mastervalue}</td>
			<td class="runner-cc ">{$denda_mastervalue}</td>
			<td class="runner-cc ">{$bunga_mastervalue}</td>
			<td class="runner-cc ">{$setoran_mastervalue}</td>
			<td class="runner-cc ">{$kenaikan_mastervalue}</td>
			<td class="runner-cc ">{$kompensasi_mastervalue}</td>
			<td class="runner-cc ">{$lain2_mastervalue}</td>
			<td class="runner-cc ">{$pajak_terhutang_mastervalue}</td>
			<td class="runner-cc ">{$air_manfaat_id_mastervalue}</td>
			<td class="runner-cc ">{$air_zona_id_mastervalue}</td>
			<td class="runner-cc ">{$meteran_awal_mastervalue}</td>
			<td class="runner-cc ">{$meteran_akhir_mastervalue}</td>
			<td class="runner-cc ">{$volume_mastervalue}</td>
			<td class="runner-cc ">{$satuan_mastervalue}</td>
			<td class="runner-cc ">{$r_panjang_mastervalue}</td>
			<td class="runner-cc ">{$r_lebar_mastervalue}</td>
			<td class="runner-cc ">{$r_muka_mastervalue}</td>
			<td class="runner-cc ">{$r_banyak_mastervalue}</td>
			<td class="runner-cc ">{$r_luas_mastervalue}</td>
			<td class="runner-cc ">{$r_tarifid_mastervalue}</td>
			<td class="runner-cc ">{$r_kontrak_mastervalue}</td>
			<td class="runner-cc ">{$r_lama_mastervalue}</td>
			<td class="runner-cc ">{$r_jalan_id_mastervalue}</td>
			<td class="runner-cc ">{$r_jalanklas_id_mastervalue}</td>
			<td class="runner-cc ">{$r_lokasi_mastervalue}</td>
			<td class="runner-cc ">{$r_judul_mastervalue}</td>
			<td class="runner-cc ">{$r_kelurahan_id_mastervalue}</td>
			<td class="runner-cc ">{$r_lokasi_id_mastervalue}</td>
			<td class="runner-cc ">{$r_calculated_mastervalue}</td>
			<td class="runner-cc ">{$r_nsr_mastervalue}</td>
			<td class="runner-cc ">{$r_nsrno_mastervalue}</td>
			<td class="runner-cc ">{$r_nsrtgl_mastervalue}</td>
			<td class="runner-cc ">{$r_nsl_kecamatan_id_mastervalue}</td>
			<td class="runner-cc ">{$r_nsl_type_id_mastervalue}</td>
			<td class="runner-cc ">{$r_nsl_nilai_mastervalue}</td>
			<td class="runner-cc ">{$notes_mastervalue}</td>
			<td class="runner-cc ">{$unit_id_mastervalue}</td>
			<td class="runner-cc ">{$enabled_mastervalue}</td>
			<td class="runner-cc ">{$created_mastervalue}</td>
			<td class="runner-cc ">{$create_uid_mastervalue}</td>
			<td class="runner-cc ">{$updated_mastervalue}</td>
			<td class="runner-cc ">{$update_uid_mastervalue}</td>
			<td class="runner-cc ">{$terimanip_mastervalue}</td>
			<td class="runner-cc ">{$terimatgl_mastervalue}</td>
			<td class="runner-cc ">{$kirimtgl_mastervalue}</td>
			<td class="runner-cc ">{$isprint_dc_mastervalue}</td>
			<td class="runner-cc ">{$r_nsr_id_mastervalue}</td>
			<td class="runner-cc ">{$r_lokasi_pasang_id_mastervalue}</td>
			<td class="runner-cc ">{$r_lokasi_pasang_val_mastervalue}</td>
			<td class="runner-cc ">{$r_jalanklas_val_mastervalue}</td>
			<td class="runner-cc ">{$r_sudut_pandang_id_mastervalue}</td>
			<td class="runner-cc ">{$r_sudut_pandang_val_mastervalue}</td>
			<td class="runner-cc ">{$r_tinggi_mastervalue}</td>
			<td class="runner-cc ">{$r_njop_mastervalue}</td>
			<td class="runner-cc ">{$r_status_mastervalue}</td>
			<td class="runner-cc ">{$r_njop_ketinggian_mastervalue}</td>
			<td class="runner-cc ">{$status_pembayaran_mastervalue}</td>
			<td class="runner-cc ">{$rek_no_paneng_mastervalue}</td>
			<td class="runner-cc ">{$sptno_lengkap_mastervalue}</td>
			<td class="runner-cc ">{$sptno_lama_mastervalue}</td>
			<td class="runner-cc ">{$r_nama_mastervalue}</td>
			<td class="runner-cc ">{$r_alamat_mastervalue}</td>
			<td class="runner-cc ">{$omset1_mastervalue}</td>
			<td class="runner-cc ">{$omset2_mastervalue}</td>
			<td class="runner-cc ">{$omset3_mastervalue}</td>
			<td class="runner-cc ">{$omset4_mastervalue}</td>
			<td class="runner-cc ">{$omset5_mastervalue}</td>
			<td class="runner-cc ">{$omset6_mastervalue}</td>
			<td class="runner-cc ">{$omset7_mastervalue}</td>
			<td class="runner-cc ">{$omset8_mastervalue}</td>
			<td class="runner-cc ">{$omset9_mastervalue}</td>
			<td class="runner-cc ">{$omset10_mastervalue}</td>
			<td class="runner-cc ">{$omset11_mastervalue}</td>
			<td class="runner-cc ">{$omset12_mastervalue}</td>
			<td class="runner-cc ">{$omset13_mastervalue}</td>
			<td class="runner-cc ">{$omset14_mastervalue}</td>
			<td class="runner-cc ">{$omset15_mastervalue}</td>
			<td class="runner-cc ">{$omset16_mastervalue}</td>
			<td class="runner-cc ">{$omset17_mastervalue}</td>
			<td class="runner-cc ">{$omset18_mastervalue}</td>
			<td class="runner-cc ">{$omset19_mastervalue}</td>
			<td class="runner-cc ">{$omset20_mastervalue}</td>
			<td class="runner-cc ">{$omset21_mastervalue}</td>
			<td class="runner-cc ">{$omset22_mastervalue}</td>
			<td class="runner-cc ">{$omset23_mastervalue}</td>
			<td class="runner-cc ">{$omset24_mastervalue}</td>
			<td class="runner-cc ">{$omset25_mastervalue}</td>
			<td class="runner-cc ">{$omset26_mastervalue}</td>
			<td class="runner-cc ">{$omset27_mastervalue}</td>
			<td class="runner-cc ">{$omset28_mastervalue}</td>
			<td class="runner-cc ">{$omset29_mastervalue}</td>
			<td class="runner-cc ">{$omset30_mastervalue}</td>
			<td class="runner-cc ">{$omset31_mastervalue}</td>
			<td class="runner-cc ">{$keterangan1_mastervalue}</td>
			<td class="runner-cc ">{$keterangan2_mastervalue}</td>
			<td class="runner-cc ">{$keterangan3_mastervalue}</td>
			<td class="runner-cc ">{$keterangan4_mastervalue}</td>
			<td class="runner-cc ">{$keterangan5_mastervalue}</td>
			<td class="runner-cc ">{$keterangan6_mastervalue}</td>
			<td class="runner-cc ">{$keterangan7_mastervalue}</td>
			<td class="runner-cc ">{$keterangan8_mastervalue}</td>
			<td class="runner-cc ">{$keterangan9_mastervalue}</td>
			<td class="runner-cc ">{$keterangan10_mastervalue}</td>
			<td class="runner-cc ">{$keterangan11_mastervalue}</td>
			<td class="runner-cc ">{$keterangan12_mastervalue}</td>
			<td class="runner-cc ">{$keterangan13_mastervalue}</td>
			<td class="runner-cc ">{$keterangan14_mastervalue}</td>
			<td class="runner-cc ">{$keterangan15_mastervalue}</td>
			<td class="runner-cc ">{$keterangan16_mastervalue}</td>
			<td class="runner-cc ">{$keterangan17_mastervalue}</td>
			<td class="runner-cc ">{$keterangan18_mastervalue}</td>
			<td class="runner-cc ">{$keterangan19_mastervalue}</td>
			<td class="runner-cc ">{$keterangan20_mastervalue}</td>
			<td class="runner-cc ">{$keterangan21_mastervalue}</td>
			<td class="runner-cc ">{$keterangan22_mastervalue}</td>
			<td class="runner-cc ">{$keterangan23_mastervalue}</td>
			<td class="runner-cc ">{$keterangan24_mastervalue}</td>
			<td class="runner-cc ">{$keterangan25_mastervalue}</td>
			<td class="runner-cc ">{$keterangan26_mastervalue}</td>
			<td class="runner-cc ">{$keterangan27_mastervalue}</td>
			<td class="runner-cc ">{$keterangan28_mastervalue}</td>
			<td class="runner-cc ">{$keterangan29_mastervalue}</td>
			<td class="runner-cc ">{$keterangan30_mastervalue}</td>
			<td class="runner-cc ">{$keterangan31_mastervalue}</td>
			<td class="runner-cc ">{$doc_no_mastervalue}</td>
			<td class="runner-cc ">{$cara_bayar_mastervalue}</td>
			<td class="runner-cc ">{$kelompok_usaha_id_mastervalue}</td>
			<td class="runner-cc ">{$zona_id_mastervalue}</td>
			<td class="runner-cc ">{$manfaat_id_mastervalue}</td>
			<td class="runner-cc ">{$golongan_mastervalue}</td>
			<td class="runner-cc ">{$omset_lain_mastervalue}</td>
			<td class="runner-cc ">{$keterangan_lain_mastervalue}</td>
			<td class="runner-cc ">{$ijin_no_mastervalue}</td>
			<td class="runner-cc ">{$jenis_masa_mastervalue}</td>
			<td class="runner-cc ">{$skpd_lama_mastervalue}</td>
			<td class="runner-cc ">{$proses_mastervalue}</td>
			<td class="runner-cc ">{$tanggal_validasi_mastervalue}</td>
			<td class="runner-cc ">{$bulan_mastervalue}</td>
			<td class="runner-cc ">{$no_telp_mastervalue}</td>
			<td class="runner-cc ">{$usaha_id_mastervalue}</td>
			<td class="runner-cc ">{$multiple_mastervalue}</td>
			<td class="runner-cc runner-clast">{$bulan_telat_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>