<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_edit}
<table class="runner-c runner-c-edit" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-editheader {$brickclass_editheader}">Pad Daftar, Edit record [
Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN message_block}
<tr  class="runner-row style1 runner-b-message {$brickclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><div class="runner-message">{$message}</div></td><td class="runner-cr"></td></tr>{END message_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN rp_fieldblock}
	<tr class="runner-toprow header style1 runner-b-editfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_rp {$fielddispclass_rp}">
				{BEGIN rp_label}Rp{END rp_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_rp {$fielddispclass_rp}">
				{$rp_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END rp_fieldblock}
	{BEGIN pb_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pb {$fielddispclass_pb}">
				{BEGIN pb_label}Pb{END pb_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_pb {$fielddispclass_pb}">
				{$pb_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pb_fieldblock}
	{BEGIN formno_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_formno {$fielddispclass_formno}">
				{BEGIN formno_label}Formno{END formno_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_formno {$fielddispclass_formno}">
				{$formno_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END formno_fieldblock}
	{BEGIN reg_date_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_reg_date {$fielddispclass_reg_date}">
				{BEGIN reg_date_label}Reg Date{END reg_date_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_reg_date {$fielddispclass_reg_date}">
				{$reg_date_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END reg_date_fieldblock}
	{BEGIN customernm_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_customernm {$fielddispclass_customernm}">
				{BEGIN customernm_label}Customernm{END customernm_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_customernm {$fielddispclass_customernm}">
				{$customernm_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END customernm_fieldblock}
	{BEGIN kecamatan_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kecamatan_id {$fielddispclass_kecamatan_id}">
				{BEGIN kecamatan_id_label}Kecamatan Id{END kecamatan_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kecamatan_id {$fielddispclass_kecamatan_id}">
				{$kecamatan_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kecamatan_id_fieldblock}
	{BEGIN kelurahan_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kelurahan_id {$fielddispclass_kelurahan_id}">
				{BEGIN kelurahan_id_label}Kelurahan Id{END kelurahan_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kelurahan_id {$fielddispclass_kelurahan_id}">
				{$kelurahan_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kelurahan_id_fieldblock}
	{BEGIN kabupaten_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kabupaten {$fielddispclass_kabupaten}">
				{BEGIN kabupaten_label}Kabupaten{END kabupaten_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kabupaten {$fielddispclass_kabupaten}">
				{$kabupaten_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kabupaten_fieldblock}
	{BEGIN alamat_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_alamat {$fielddispclass_alamat}">
				{BEGIN alamat_label}Alamat{END alamat_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_alamat {$fielddispclass_alamat}">
				{$alamat_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END alamat_fieldblock}
	{BEGIN kodepos_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kodepos {$fielddispclass_kodepos}">
				{BEGIN kodepos_label}Kodepos{END kodepos_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kodepos {$fielddispclass_kodepos}">
				{$kodepos_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kodepos_fieldblock}
	{BEGIN telphone_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_telphone {$fielddispclass_telphone}">
				{BEGIN telphone_label}Telphone{END telphone_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_telphone {$fielddispclass_telphone}">
				{$telphone_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END telphone_fieldblock}
	{BEGIN wpnama_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_wpnama {$fielddispclass_wpnama}">
				{BEGIN wpnama_label}Wpnama{END wpnama_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_wpnama {$fielddispclass_wpnama}">
				{$wpnama_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END wpnama_fieldblock}
	{BEGIN wpalamat_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_wpalamat {$fielddispclass_wpalamat}">
				{BEGIN wpalamat_label}Wpalamat{END wpalamat_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_wpalamat {$fielddispclass_wpalamat}">
				{$wpalamat_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END wpalamat_fieldblock}
	{BEGIN wpkelurahan_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_wpkelurahan {$fielddispclass_wpkelurahan}">
				{BEGIN wpkelurahan_label}Wpkelurahan{END wpkelurahan_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_wpkelurahan {$fielddispclass_wpkelurahan}">
				{$wpkelurahan_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END wpkelurahan_fieldblock}
	{BEGIN wpkecamatan_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_wpkecamatan {$fielddispclass_wpkecamatan}">
				{BEGIN wpkecamatan_label}Wpkecamatan{END wpkecamatan_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_wpkecamatan {$fielddispclass_wpkecamatan}">
				{$wpkecamatan_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END wpkecamatan_fieldblock}
	{BEGIN wpkabupaten_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_wpkabupaten {$fielddispclass_wpkabupaten}">
				{BEGIN wpkabupaten_label}Wpkabupaten{END wpkabupaten_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_wpkabupaten {$fielddispclass_wpkabupaten}">
				{$wpkabupaten_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END wpkabupaten_fieldblock}
	{BEGIN wptelp_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_wptelp {$fielddispclass_wptelp}">
				{BEGIN wptelp_label}Wptelp{END wptelp_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_wptelp {$fielddispclass_wptelp}">
				{$wptelp_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END wptelp_fieldblock}
	{BEGIN wpkodepos_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_wpkodepos {$fielddispclass_wpkodepos}">
				{BEGIN wpkodepos_label}Wpkodepos{END wpkodepos_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_wpkodepos {$fielddispclass_wpkodepos}">
				{$wpkodepos_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END wpkodepos_fieldblock}
	{BEGIN pnama_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pnama {$fielddispclass_pnama}">
				{BEGIN pnama_label}Pnama{END pnama_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_pnama {$fielddispclass_pnama}">
				{$pnama_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pnama_fieldblock}
	{BEGIN palamat_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_palamat {$fielddispclass_palamat}">
				{BEGIN palamat_label}Palamat{END palamat_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_palamat {$fielddispclass_palamat}">
				{$palamat_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END palamat_fieldblock}
	{BEGIN pkelurahan_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pkelurahan {$fielddispclass_pkelurahan}">
				{BEGIN pkelurahan_label}Pkelurahan{END pkelurahan_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_pkelurahan {$fielddispclass_pkelurahan}">
				{$pkelurahan_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pkelurahan_fieldblock}
	{BEGIN pkecamatan_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pkecamatan {$fielddispclass_pkecamatan}">
				{BEGIN pkecamatan_label}Pkecamatan{END pkecamatan_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_pkecamatan {$fielddispclass_pkecamatan}">
				{$pkecamatan_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pkecamatan_fieldblock}
	{BEGIN pkabupaten_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pkabupaten {$fielddispclass_pkabupaten}">
				{BEGIN pkabupaten_label}Pkabupaten{END pkabupaten_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_pkabupaten {$fielddispclass_pkabupaten}">
				{$pkabupaten_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pkabupaten_fieldblock}
	{BEGIN ptelp_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ptelp {$fielddispclass_ptelp}">
				{BEGIN ptelp_label}Ptelp{END ptelp_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ptelp {$fielddispclass_ptelp}">
				{$ptelp_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ptelp_fieldblock}
	{BEGIN pkodepos_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pkodepos {$fielddispclass_pkodepos}">
				{BEGIN pkodepos_label}Pkodepos{END pkodepos_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_pkodepos {$fielddispclass_pkodepos}">
				{$pkodepos_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END pkodepos_fieldblock}
	{BEGIN ijin1_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin1 {$fielddispclass_ijin1}">
				{BEGIN ijin1_label}Ijin1{END ijin1_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin1 {$fielddispclass_ijin1}">
				{$ijin1_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin1_fieldblock}
	{BEGIN ijin1no_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin1no {$fielddispclass_ijin1no}">
				{BEGIN ijin1no_label}Ijin1no{END ijin1no_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin1no {$fielddispclass_ijin1no}">
				{$ijin1no_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin1no_fieldblock}
	{BEGIN ijin1tgl_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin1tgl {$fielddispclass_ijin1tgl}">
				{BEGIN ijin1tgl_label}Ijin1tgl{END ijin1tgl_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin1tgl {$fielddispclass_ijin1tgl}">
				{$ijin1tgl_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin1tgl_fieldblock}
	{BEGIN ijin1tglakhir_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin1tglakhir {$fielddispclass_ijin1tglakhir}">
				{BEGIN ijin1tglakhir_label}Ijin1tglakhir{END ijin1tglakhir_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin1tglakhir {$fielddispclass_ijin1tglakhir}">
				{$ijin1tglakhir_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin1tglakhir_fieldblock}
	{BEGIN ijin2_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin2 {$fielddispclass_ijin2}">
				{BEGIN ijin2_label}Ijin2{END ijin2_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin2 {$fielddispclass_ijin2}">
				{$ijin2_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin2_fieldblock}
	{BEGIN ijin2no_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin2no {$fielddispclass_ijin2no}">
				{BEGIN ijin2no_label}Ijin2no{END ijin2no_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin2no {$fielddispclass_ijin2no}">
				{$ijin2no_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin2no_fieldblock}
	{BEGIN ijin2tgl_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin2tgl {$fielddispclass_ijin2tgl}">
				{BEGIN ijin2tgl_label}Ijin2tgl{END ijin2tgl_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin2tgl {$fielddispclass_ijin2tgl}">
				{$ijin2tgl_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin2tgl_fieldblock}
	{BEGIN ijin2tglakhir_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin2tglakhir {$fielddispclass_ijin2tglakhir}">
				{BEGIN ijin2tglakhir_label}Ijin2tglakhir{END ijin2tglakhir_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin2tglakhir {$fielddispclass_ijin2tglakhir}">
				{$ijin2tglakhir_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin2tglakhir_fieldblock}
	{BEGIN ijin3_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin3 {$fielddispclass_ijin3}">
				{BEGIN ijin3_label}Ijin3{END ijin3_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin3 {$fielddispclass_ijin3}">
				{$ijin3_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin3_fieldblock}
	{BEGIN ijin3no_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin3no {$fielddispclass_ijin3no}">
				{BEGIN ijin3no_label}Ijin3no{END ijin3no_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin3no {$fielddispclass_ijin3no}">
				{$ijin3no_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin3no_fieldblock}
	{BEGIN ijin3tgl_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin3tgl {$fielddispclass_ijin3tgl}">
				{BEGIN ijin3tgl_label}Ijin3tgl{END ijin3tgl_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin3tgl {$fielddispclass_ijin3tgl}">
				{$ijin3tgl_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin3tgl_fieldblock}
	{BEGIN ijin3tglakhir_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin3tglakhir {$fielddispclass_ijin3tglakhir}">
				{BEGIN ijin3tglakhir_label}Ijin3tglakhir{END ijin3tglakhir_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin3tglakhir {$fielddispclass_ijin3tglakhir}">
				{$ijin3tglakhir_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin3tglakhir_fieldblock}
	{BEGIN ijin4_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin4 {$fielddispclass_ijin4}">
				{BEGIN ijin4_label}Ijin4{END ijin4_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin4 {$fielddispclass_ijin4}">
				{$ijin4_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin4_fieldblock}
	{BEGIN ijin4no_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin4no {$fielddispclass_ijin4no}">
				{BEGIN ijin4no_label}Ijin4no{END ijin4no_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin4no {$fielddispclass_ijin4no}">
				{$ijin4no_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin4no_fieldblock}
	{BEGIN ijin4tgl_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin4tgl {$fielddispclass_ijin4tgl}">
				{BEGIN ijin4tgl_label}Ijin4tgl{END ijin4tgl_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin4tgl {$fielddispclass_ijin4tgl}">
				{$ijin4tgl_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin4tgl_fieldblock}
	{BEGIN ijin4tglakhir_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ijin4tglakhir {$fielddispclass_ijin4tglakhir}">
				{BEGIN ijin4tglakhir_label}Ijin4tglakhir{END ijin4tglakhir_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_ijin4tglakhir {$fielddispclass_ijin4tglakhir}">
				{$ijin4tglakhir_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ijin4tglakhir_fieldblock}
	{BEGIN enabled_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_enabled {$fielddispclass_enabled}">
				{BEGIN enabled_label}Enabled{END enabled_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_enabled {$fielddispclass_enabled}">
				{$enabled_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END enabled_fieldblock}
	{BEGIN create_date_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_create_date {$fielddispclass_create_date}">
				{BEGIN create_date_label}Create Date{END create_date_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_create_date {$fielddispclass_create_date}">
				{$create_date_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_date_fieldblock}
	{BEGIN create_uid_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
				{BEGIN create_uid_label}Create Uid{END create_uid_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_create_uid {$fielddispclass_create_uid}">
				{$create_uid_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}
	{BEGIN write_date_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_write_date {$fielddispclass_write_date}">
				{BEGIN write_date_label}Write Date{END write_date_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_write_date {$fielddispclass_write_date}">
				{$write_date_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END write_date_fieldblock}
	{BEGIN write_uid_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_write_uid {$fielddispclass_write_uid}">
				{BEGIN write_uid_label}Write Uid{END write_uid_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_write_uid {$fielddispclass_write_uid}">
				{$write_uid_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END write_uid_fieldblock}
	{BEGIN op_nm_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_nm {$fielddispclass_op_nm}">
				{BEGIN op_nm_label}Op Nm{END op_nm_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_nm {$fielddispclass_op_nm}">
				{$op_nm_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_nm_fieldblock}
	{BEGIN op_alamat_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_alamat {$fielddispclass_op_alamat}">
				{BEGIN op_alamat_label}Op Alamat{END op_alamat_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_alamat {$fielddispclass_op_alamat}">
				{$op_alamat_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_alamat_fieldblock}
	{BEGIN op_usaha_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_usaha_id {$fielddispclass_op_usaha_id}">
				{BEGIN op_usaha_id_label}Op Usaha Id{END op_usaha_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_usaha_id {$fielddispclass_op_usaha_id}">
				{$op_usaha_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_usaha_id_fieldblock}
	{BEGIN op_so_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_so {$fielddispclass_op_so}">
				{BEGIN op_so_label}Op So{END op_so_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_so {$fielddispclass_op_so}">
				{$op_so_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_so_fieldblock}
	{BEGIN op_kecamatan_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_kecamatan_id {$fielddispclass_op_kecamatan_id}">
				{BEGIN op_kecamatan_id_label}Op Kecamatan Id{END op_kecamatan_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_kecamatan_id {$fielddispclass_op_kecamatan_id}">
				{$op_kecamatan_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_kecamatan_id_fieldblock}
	{BEGIN op_kelurahan_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_kelurahan_id {$fielddispclass_op_kelurahan_id}">
				{BEGIN op_kelurahan_id_label}Op Kelurahan Id{END op_kelurahan_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_kelurahan_id {$fielddispclass_op_kelurahan_id}">
				{$op_kelurahan_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_kelurahan_id_fieldblock}
	{BEGIN op_latitude_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_latitude {$fielddispclass_op_latitude}">
				{BEGIN op_latitude_label}Op Latitude{END op_latitude_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_latitude {$fielddispclass_op_latitude}">
				{$op_latitude_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_latitude_fieldblock}
	{BEGIN op_longitude_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_longitude {$fielddispclass_op_longitude}">
				{BEGIN op_longitude_label}Op Longitude{END op_longitude_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_longitude {$fielddispclass_op_longitude}">
				{$op_longitude_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_longitude_fieldblock}
	{BEGIN kd_restojmlmeja_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_restojmlmeja {$fielddispclass_kd_restojmlmeja}">
				{BEGIN kd_restojmlmeja_label}Kd Restojmlmeja{END kd_restojmlmeja_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_restojmlmeja {$fielddispclass_kd_restojmlmeja}">
				{$kd_restojmlmeja_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_restojmlmeja_fieldblock}
	{BEGIN kd_restojmlkursi_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_restojmlkursi {$fielddispclass_kd_restojmlkursi}">
				{BEGIN kd_restojmlkursi_label}Kd Restojmlkursi{END kd_restojmlkursi_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_restojmlkursi {$fielddispclass_kd_restojmlkursi}">
				{$kd_restojmlkursi_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_restojmlkursi_fieldblock}
	{BEGIN kd_restojmltamu_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_restojmltamu {$fielddispclass_kd_restojmltamu}">
				{BEGIN kd_restojmltamu_label}Kd Restojmltamu{END kd_restojmltamu_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_restojmltamu {$fielddispclass_kd_restojmltamu}">
				{$kd_restojmltamu_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_restojmltamu_fieldblock}
	{BEGIN kd_filmkursi_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_filmkursi {$fielddispclass_kd_filmkursi}">
				{BEGIN kd_filmkursi_label}Kd Filmkursi{END kd_filmkursi_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_filmkursi {$fielddispclass_kd_filmkursi}">
				{$kd_filmkursi_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_filmkursi_fieldblock}
	{BEGIN kd_filmpertunjukan_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_filmpertunjukan {$fielddispclass_kd_filmpertunjukan}">
				{BEGIN kd_filmpertunjukan_label}Kd Filmpertunjukan{END kd_filmpertunjukan_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_filmpertunjukan {$fielddispclass_kd_filmpertunjukan}">
				{$kd_filmpertunjukan_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_filmpertunjukan_fieldblock}
	{BEGIN kd_filmtarif_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_filmtarif {$fielddispclass_kd_filmtarif}">
				{BEGIN kd_filmtarif_label}Kd Filmtarif{END kd_filmtarif_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_filmtarif {$fielddispclass_kd_filmtarif}">
				{$kd_filmtarif_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_filmtarif_fieldblock}
	{BEGIN kd_bilyarmeja_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_bilyarmeja {$fielddispclass_kd_bilyarmeja}">
				{BEGIN kd_bilyarmeja_label}Kd Bilyarmeja{END kd_bilyarmeja_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_bilyarmeja {$fielddispclass_kd_bilyarmeja}">
				{$kd_bilyarmeja_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_bilyarmeja_fieldblock}
	{BEGIN kd_bilyartarif_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_bilyartarif {$fielddispclass_kd_bilyartarif}">
				{BEGIN kd_bilyartarif_label}Kd Bilyartarif{END kd_bilyartarif_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_bilyartarif {$fielddispclass_kd_bilyartarif}">
				{$kd_bilyartarif_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_bilyartarif_fieldblock}
	{BEGIN kd_bilyarkegiatan_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_bilyarkegiatan {$fielddispclass_kd_bilyarkegiatan}">
				{BEGIN kd_bilyarkegiatan_label}Kd Bilyarkegiatan{END kd_bilyarkegiatan_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_bilyarkegiatan {$fielddispclass_kd_bilyarkegiatan}">
				{$kd_bilyarkegiatan_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_bilyarkegiatan_fieldblock}
	{BEGIN kd_diskopengunjung_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_diskopengunjung {$fielddispclass_kd_diskopengunjung}">
				{BEGIN kd_diskopengunjung_label}Kd Diskopengunjung{END kd_diskopengunjung_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_diskopengunjung {$fielddispclass_kd_diskopengunjung}">
				{$kd_diskopengunjung_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_diskopengunjung_fieldblock}
	{BEGIN kd_diskotarif_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_diskotarif {$fielddispclass_kd_diskotarif}">
				{BEGIN kd_diskotarif_label}Kd Diskotarif{END kd_diskotarif_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_diskotarif {$fielddispclass_kd_diskotarif}">
				{$kd_diskotarif_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_diskotarif_fieldblock}
	{BEGIN kd_waletvolume_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_kd_waletvolume {$fielddispclass_kd_waletvolume}">
				{BEGIN kd_waletvolume_label}Kd Waletvolume{END kd_waletvolume_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_kd_waletvolume {$fielddispclass_kd_waletvolume}">
				{$kd_waletvolume_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END kd_waletvolume_fieldblock}
	{BEGIN email_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_email {$fielddispclass_email}">
				{BEGIN email_label}Email{END email_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_email {$fielddispclass_email}">
				{$email_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END email_fieldblock}
	{BEGIN op_pajak_id_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_op_pajak_id {$fielddispclass_op_pajak_id}">
				{BEGIN op_pajak_id_label}Op Pajak Id{END op_pajak_id_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_op_pajak_id {$fielddispclass_op_pajak_id}">
				{$op_pajak_id_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END op_pajak_id_fieldblock}
	{BEGIN npwpd_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_npwpd {$fielddispclass_npwpd}">
				{BEGIN npwpd_label}Npwpd{END npwpd_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_npwpd {$fielddispclass_npwpd}">
				{$npwpd_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END npwpd_fieldblock}
	{BEGIN passwd_fieldblock}
	<tr class="runner-row style1 runner-b-editfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_passwd {$fielddispclass_passwd}">
				{BEGIN passwd_label}Passwd{END passwd_label}
			</div>
		</td>
		<td class="runner-cc alt runner-fixedcell">
			<div class="fieldcontrol_passwd {$fielddispclass_passwd}">
				{$passwd_editcontrol}&nbsp;
			</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END passwd_fieldblock}



{BEGIN legend}
<tr  class="runner-row style3 runner-b-legend {$brickclass_legend}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><span id="required_block{$id}">
<img src="images/icon_required.gif" alt="bullet"> - Required field
</span>
</td><td class="runner-cr"></td></tr>{END legend}



<tr  class="runner-row style2 runner-b-editbuttons {$brickclass_editbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN save_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$savebutton_attrs}>Save</a>
</span>
{END save_button}
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&nbsp;<<<&nbsp;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&nbsp;>>>&nbsp;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_edit}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_edit}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
