<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="parent">
	{$parent_editcontrol}
	</control>
	<control 
	field="npwpd">
	{$npwpd_editcontrol}
	</control>
	<control 
	field="rp">
	{$rp_editcontrol}
	</control>
	<control 
	field="pb">
	{$pb_editcontrol}
	</control>
	<control 
	field="formno">
	{$formno_editcontrol}
	</control>
	<control 
	field="reg_date">
	{$reg_date_editcontrol}
	</control>
	<control 
	field="nama">
	{$nama_editcontrol}
	</control>
	<control 
	field="kecamatan_id">
	{$kecamatan_id_editcontrol}
	</control>
	<control 
	field="kelurahan_id">
	{$kelurahan_id_editcontrol}
	</control>
	<control 
	field="kabupaten">
	{$kabupaten_editcontrol}
	</control>
	<control 
	field="alamat">
	{$alamat_editcontrol}
	</control>
	<control 
	field="kodepos">
	{$kodepos_editcontrol}
	</control>
	<control 
	field="telphone">
	{$telphone_editcontrol}
	</control>
	<control 
	field="wpnama">
	{$wpnama_editcontrol}
	</control>
	<control 
	field="wpalamat">
	{$wpalamat_editcontrol}
	</control>
	<control 
	field="wpkelurahan">
	{$wpkelurahan_editcontrol}
	</control>
	<control 
	field="wpkecamatan">
	{$wpkecamatan_editcontrol}
	</control>
	<control 
	field="wpkabupaten">
	{$wpkabupaten_editcontrol}
	</control>
	<control 
	field="wptelp">
	{$wptelp_editcontrol}
	</control>
	<control 
	field="wpkodepos">
	{$wpkodepos_editcontrol}
	</control>
	<control 
	field="pnama">
	{$pnama_editcontrol}
	</control>
	<control 
	field="palamat">
	{$palamat_editcontrol}
	</control>
	<control 
	field="pkelurahan">
	{$pkelurahan_editcontrol}
	</control>
	<control 
	field="pkecamatan">
	{$pkecamatan_editcontrol}
	</control>
	<control 
	field="pkabupaten">
	{$pkabupaten_editcontrol}
	</control>
	<control 
	field="ptelp">
	{$ptelp_editcontrol}
	</control>
	<control 
	field="pkodepos">
	{$pkodepos_editcontrol}
	</control>
	<control 
	field="ijin1">
	{$ijin1_editcontrol}
	</control>
	<control 
	field="ijin1no">
	{$ijin1no_editcontrol}
	</control>
	<control 
	field="ijin1tgl">
	{$ijin1tgl_editcontrol}
	</control>
	<control 
	field="ijin1tglakhir">
	{$ijin1tglakhir_editcontrol}
	</control>
	<control 
	field="ijin2">
	{$ijin2_editcontrol}
	</control>
	<control 
	field="ijin2no">
	{$ijin2no_editcontrol}
	</control>
	<control 
	field="ijin2tgl">
	{$ijin2tgl_editcontrol}
	</control>
	<control 
	field="ijin2tglakhir">
	{$ijin2tglakhir_editcontrol}
	</control>
	<control 
	field="ijin3">
	{$ijin3_editcontrol}
	</control>
	<control 
	field="ijin3no">
	{$ijin3no_editcontrol}
	</control>
	<control 
	field="ijin3tgl">
	{$ijin3tgl_editcontrol}
	</control>
	<control 
	field="ijin3tglakhir">
	{$ijin3tglakhir_editcontrol}
	</control>
	<control 
	field="ijin4">
	{$ijin4_editcontrol}
	</control>
	<control 
	field="ijin4no">
	{$ijin4no_editcontrol}
	</control>
	<control 
	field="ijin4tgl">
	{$ijin4tgl_editcontrol}
	</control>
	<control 
	field="ijin4tglakhir">
	{$ijin4tglakhir_editcontrol}
	</control>
	<control 
	field="kukuhno">
	{$kukuhno_editcontrol}
	</control>
	<control 
	field="kukuhnip">
	{$kukuhnip_editcontrol}
	</control>
	<control 
	field="kukuhtgl">
	{$kukuhtgl_editcontrol}
	</control>
	<control 
	field="kukuh_jabat_id">
	{$kukuh_jabat_id_editcontrol}
	</control>
	<control 
	field="kukuhprinted">
	{$kukuhprinted_editcontrol}
	</control>
	<control 
	field="enabled">
	{$enabled_editcontrol}
	</control>
	<control 
	field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control 
	field="tmt">
	{$tmt_editcontrol}
	</control>
	<control 
	field="customer_status_id">
	{$customer_status_id_editcontrol}
	</control>
	<control 
	field="kembalitgl">
	{$kembalitgl_editcontrol}
	</control>
	<control 
	field="kembalioleh">
	{$kembalioleh_editcontrol}
	</control>
	<control 
	field="kartuprinted">
	{$kartuprinted_editcontrol}
	</control>
	<control 
	field="kembalinip">
	{$kembalinip_editcontrol}
	</control>
	<control 
	field="penerimanm">
	{$penerimanm_editcontrol}
	</control>
	<control 
	field="penerimaalamat">
	{$penerimaalamat_editcontrol}
	</control>
	<control 
	field="penerimatgl">
	{$penerimatgl_editcontrol}
	</control>
	<control 
	field="catatnip">
	{$catatnip_editcontrol}
	</control>
	<control 
	field="kirimtgl">
	{$kirimtgl_editcontrol}
	</control>
	<control 
	field="batastgl">
	{$batastgl_editcontrol}
	</control>
	<control 
	field="petugas_jabat_id">
	{$petugas_jabat_id_editcontrol}
	</control>
	<control 
	field="pencatat_jabat_id">
	{$pencatat_jabat_id_editcontrol}
	</control>
	<control 
	field="created">
	{$created_editcontrol}
	</control>
	<control 
	field="updated">
	{$updated_editcontrol}
	</control>
	<control 
	field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<control 
	field="npwpd_old">
	{$npwpd_old_editcontrol}
	</control>
	<control 
	field="id_old">
	{$id_old_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
