<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterlistheader" {$brickclass_masterlistheader}><span><b><span dir="LTR">Pad Customer: [{$showKeys}]</span></b></span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



	<table class="runner-c runner-c-mastergrid runner-b-masterlistfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Id</th>
			<th class="runner-cc ">Parent</th>
			<th class="runner-cc ">Npwpd</th>
			<th class="runner-cc ">Rp</th>
			<th class="runner-cc ">Pb</th>
			<th class="runner-cc ">Formno</th>
			<th class="runner-cc ">Reg Date</th>
			<th class="runner-cc ">Nama</th>
			<th class="runner-cc ">Kecamatan Id</th>
			<th class="runner-cc ">Kelurahan Id</th>
			<th class="runner-cc ">Kabupaten</th>
			<th class="runner-cc ">Alamat</th>
			<th class="runner-cc ">Kodepos</th>
			<th class="runner-cc ">Telphone</th>
			<th class="runner-cc ">Wpnama</th>
			<th class="runner-cc ">Wpalamat</th>
			<th class="runner-cc ">Wpkelurahan</th>
			<th class="runner-cc ">Wpkecamatan</th>
			<th class="runner-cc ">Wpkabupaten</th>
			<th class="runner-cc ">Wptelp</th>
			<th class="runner-cc ">Wpkodepos</th>
			<th class="runner-cc ">Pnama</th>
			<th class="runner-cc ">Palamat</th>
			<th class="runner-cc ">Pkelurahan</th>
			<th class="runner-cc ">Pkecamatan</th>
			<th class="runner-cc ">Pkabupaten</th>
			<th class="runner-cc ">Ptelp</th>
			<th class="runner-cc ">Pkodepos</th>
			<th class="runner-cc ">Ijin1</th>
			<th class="runner-cc ">Ijin1no</th>
			<th class="runner-cc ">Ijin1tgl</th>
			<th class="runner-cc ">Ijin1tglakhir</th>
			<th class="runner-cc ">Ijin2</th>
			<th class="runner-cc ">Ijin2no</th>
			<th class="runner-cc ">Ijin2tgl</th>
			<th class="runner-cc ">Ijin2tglakhir</th>
			<th class="runner-cc ">Ijin3</th>
			<th class="runner-cc ">Ijin3no</th>
			<th class="runner-cc ">Ijin3tgl</th>
			<th class="runner-cc ">Ijin3tglakhir</th>
			<th class="runner-cc ">Ijin4</th>
			<th class="runner-cc ">Ijin4no</th>
			<th class="runner-cc ">Ijin4tgl</th>
			<th class="runner-cc ">Ijin4tglakhir</th>
			<th class="runner-cc ">Kukuhno</th>
			<th class="runner-cc ">Kukuhnip</th>
			<th class="runner-cc ">Kukuhtgl</th>
			<th class="runner-cc ">Kukuh Jabat Id</th>
			<th class="runner-cc ">Kukuhprinted</th>
			<th class="runner-cc ">Enabled</th>
			<th class="runner-cc ">Create Uid</th>
			<th class="runner-cc ">Tmt</th>
			<th class="runner-cc ">Customer Status Id</th>
			<th class="runner-cc ">Kembalitgl</th>
			<th class="runner-cc ">Kembalioleh</th>
			<th class="runner-cc ">Kartuprinted</th>
			<th class="runner-cc ">Kembalinip</th>
			<th class="runner-cc ">Penerimanm</th>
			<th class="runner-cc ">Penerimaalamat</th>
			<th class="runner-cc ">Penerimatgl</th>
			<th class="runner-cc ">Catatnip</th>
			<th class="runner-cc ">Kirimtgl</th>
			<th class="runner-cc ">Batastgl</th>
			<th class="runner-cc ">Petugas Jabat Id</th>
			<th class="runner-cc ">Pencatat Jabat Id</th>
			<th class="runner-cc ">Created</th>
			<th class="runner-cc ">Updated</th>
			<th class="runner-cc ">Update Uid</th>
			<th class="runner-cc ">Npwpd Old</th>
			<th class="runner-cc runner-clast">Id Old</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$id_mastervalue}</td>
			<td class="runner-cc ">{$parent_mastervalue}</td>
			<td class="runner-cc ">{$npwpd_mastervalue}</td>
			<td class="runner-cc ">{$rp_mastervalue}</td>
			<td class="runner-cc ">{$pb_mastervalue}</td>
			<td class="runner-cc ">{$formno_mastervalue}</td>
			<td class="runner-cc ">{$reg_date_mastervalue}</td>
			<td class="runner-cc ">{$nama_mastervalue}</td>
			<td class="runner-cc ">{$kecamatan_id_mastervalue}</td>
			<td class="runner-cc ">{$kelurahan_id_mastervalue}</td>
			<td class="runner-cc ">{$kabupaten_mastervalue}</td>
			<td class="runner-cc ">{$alamat_mastervalue}</td>
			<td class="runner-cc ">{$kodepos_mastervalue}</td>
			<td class="runner-cc ">{$telphone_mastervalue}</td>
			<td class="runner-cc ">{$wpnama_mastervalue}</td>
			<td class="runner-cc ">{$wpalamat_mastervalue}</td>
			<td class="runner-cc ">{$wpkelurahan_mastervalue}</td>
			<td class="runner-cc ">{$wpkecamatan_mastervalue}</td>
			<td class="runner-cc ">{$wpkabupaten_mastervalue}</td>
			<td class="runner-cc ">{$wptelp_mastervalue}</td>
			<td class="runner-cc ">{$wpkodepos_mastervalue}</td>
			<td class="runner-cc ">{$pnama_mastervalue}</td>
			<td class="runner-cc ">{$palamat_mastervalue}</td>
			<td class="runner-cc ">{$pkelurahan_mastervalue}</td>
			<td class="runner-cc ">{$pkecamatan_mastervalue}</td>
			<td class="runner-cc ">{$pkabupaten_mastervalue}</td>
			<td class="runner-cc ">{$ptelp_mastervalue}</td>
			<td class="runner-cc ">{$pkodepos_mastervalue}</td>
			<td class="runner-cc ">{$ijin1_mastervalue}</td>
			<td class="runner-cc ">{$ijin1no_mastervalue}</td>
			<td class="runner-cc ">{$ijin1tgl_mastervalue}</td>
			<td class="runner-cc ">{$ijin1tglakhir_mastervalue}</td>
			<td class="runner-cc ">{$ijin2_mastervalue}</td>
			<td class="runner-cc ">{$ijin2no_mastervalue}</td>
			<td class="runner-cc ">{$ijin2tgl_mastervalue}</td>
			<td class="runner-cc ">{$ijin2tglakhir_mastervalue}</td>
			<td class="runner-cc ">{$ijin3_mastervalue}</td>
			<td class="runner-cc ">{$ijin3no_mastervalue}</td>
			<td class="runner-cc ">{$ijin3tgl_mastervalue}</td>
			<td class="runner-cc ">{$ijin3tglakhir_mastervalue}</td>
			<td class="runner-cc ">{$ijin4_mastervalue}</td>
			<td class="runner-cc ">{$ijin4no_mastervalue}</td>
			<td class="runner-cc ">{$ijin4tgl_mastervalue}</td>
			<td class="runner-cc ">{$ijin4tglakhir_mastervalue}</td>
			<td class="runner-cc ">{$kukuhno_mastervalue}</td>
			<td class="runner-cc ">{$kukuhnip_mastervalue}</td>
			<td class="runner-cc ">{$kukuhtgl_mastervalue}</td>
			<td class="runner-cc ">{$kukuh_jabat_id_mastervalue}</td>
			<td class="runner-cc ">{$kukuhprinted_mastervalue}</td>
			<td class="runner-cc ">{$enabled_mastervalue}</td>
			<td class="runner-cc ">{$create_uid_mastervalue}</td>
			<td class="runner-cc ">{$tmt_mastervalue}</td>
			<td class="runner-cc ">{$customer_status_id_mastervalue}</td>
			<td class="runner-cc ">{$kembalitgl_mastervalue}</td>
			<td class="runner-cc ">{$kembalioleh_mastervalue}</td>
			<td class="runner-cc ">{$kartuprinted_mastervalue}</td>
			<td class="runner-cc ">{$kembalinip_mastervalue}</td>
			<td class="runner-cc ">{$penerimanm_mastervalue}</td>
			<td class="runner-cc ">{$penerimaalamat_mastervalue}</td>
			<td class="runner-cc ">{$penerimatgl_mastervalue}</td>
			<td class="runner-cc ">{$catatnip_mastervalue}</td>
			<td class="runner-cc ">{$kirimtgl_mastervalue}</td>
			<td class="runner-cc ">{$batastgl_mastervalue}</td>
			<td class="runner-cc ">{$petugas_jabat_id_mastervalue}</td>
			<td class="runner-cc ">{$pencatat_jabat_id_mastervalue}</td>
			<td class="runner-cc ">{$created_mastervalue}</td>
			<td class="runner-cc ">{$updated_mastervalue}</td>
			<td class="runner-cc ">{$update_uid_mastervalue}</td>
			<td class="runner-cc ">{$npwpd_old_mastervalue}</td>
			<td class="runner-cc runner-clast">{$id_old_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
 




{END container_mastergrid}

</div>