<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_add}
<table class="runner-c runner-c-add" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-addheader {$brickclass_addheader}">Tmp Bank2, Add new record</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN message_block}
<tr  class="runner-row style1 runner-b-message {$brickclass_message}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><div class="runner-message">{$message}</div></td><td class="runner-cr"></td></tr>{END message_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >
<tr class="{$cheaderclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>


	{BEGIN nama_wp_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_nama_wp {$fielddispclass_nama_wp}">
			{BEGIN nama_wp_label}Nama Wp{END nama_wp_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_nama_wp {$fielddispclass_nama_wp}">
			{$nama_wp_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nama_wp_fieldblock}
	{BEGIN alamat_wp_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_alamat_wp {$fielddispclass_alamat_wp}">
			{BEGIN alamat_wp_label}Alamat Wp{END alamat_wp_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_alamat_wp {$fielddispclass_alamat_wp}">
			{$alamat_wp_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END alamat_wp_fieldblock}
	{BEGIN npwpd_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_npwpd {$fielddispclass_npwpd}">
			{BEGIN npwpd_label}Npwpd{END npwpd_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_npwpd {$fielddispclass_npwpd}">
			{$npwpd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END npwpd_fieldblock}
	{BEGIN bayar_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_bayar {$fielddispclass_bayar}">
			{BEGIN bayar_label}Bayar{END bayar_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_bayar {$fielddispclass_bayar}">
			{$bayar_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END bayar_fieldblock}
	{BEGIN periode_1_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_periode_1 {$fielddispclass_periode_1}">
			{BEGIN periode_1_label}Periode 1{END periode_1_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_periode_1 {$fielddispclass_periode_1}">
			{$periode_1_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END periode_1_fieldblock}
	{BEGIN periode_2_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_periode_2 {$fielddispclass_periode_2}">
			{BEGIN periode_2_label}Periode 2{END periode_2_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_periode_2 {$fielddispclass_periode_2}">
			{$periode_2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END periode_2_fieldblock}
	{BEGIN keterangan_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_keterangan {$fielddispclass_keterangan}">
			{BEGIN keterangan_label}Keterangan{END keterangan_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_keterangan {$fielddispclass_keterangan}">
			{$keterangan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END keterangan_fieldblock}
	{BEGIN spt_id_old_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_spt_id_old {$fielddispclass_spt_id_old}">
			{BEGIN spt_id_old_label}Spt Id Old{END spt_id_old_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_spt_id_old {$fielddispclass_spt_id_old}">
			{$spt_id_old_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END spt_id_old_fieldblock}
	{BEGIN judul_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_judul {$fielddispclass_judul}">
			{BEGIN judul_label}Judul{END judul_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_judul {$fielddispclass_judul}">
			{$judul_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END judul_fieldblock}
	{BEGIN lokasi_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_lokasi {$fielddispclass_lokasi}">
			{BEGIN lokasi_label}Lokasi{END lokasi_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_lokasi {$fielddispclass_lokasi}">
			{$lokasi_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END lokasi_fieldblock}
	{BEGIN j_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_j {$fielddispclass_j}">
			{BEGIN j_label}J{END j_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_j {$fielddispclass_j}">
			{$j_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END j_fieldblock}
	{BEGIN p_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_p {$fielddispclass_p}">
			{BEGIN p_label}P{END p_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_p {$fielddispclass_p}">
			{$p_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END p_fieldblock}
	{BEGIN l_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_l {$fielddispclass_l}">
			{BEGIN l_label}L{END l_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_l {$fielddispclass_l}">
			{$l_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END l_fieldblock}
	{BEGIN t_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_t {$fielddispclass_t}">
			{BEGIN t_label}T{END t_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_t {$fielddispclass_t}">
			{$t_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END t_fieldblock}
	{BEGIN sspd_id_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_sspd_id {$fielddispclass_sspd_id}">
			{BEGIN sspd_id_label}Sspd Id{END sspd_id_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_sspd_id {$fielddispclass_sspd_id}">
			{$sspd_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END sspd_id_fieldblock}
	{BEGIN tanggal_fieldblock}
	<tr class="runner-row style1 runner-b-addfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tanggal {$fielddispclass_tanggal}">
			{BEGIN tanggal_label}Tanggal{END tanggal_label}
		</div>
	</td>
	<td class="runner-cc alt runner-fixedcell">
		<div class="fieldcontrol_tanggal {$fielddispclass_tanggal}">
			{$tanggal_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tanggal_fieldblock}



{BEGIN legend}
<tr  class="runner-row style3 runner-b-legend {$brickclass_legend}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2><span id="required_block{$id}">
<img src="images/icon_required.gif" alt="bullet"> - Required field
</span>
</td><td class="runner-cr"></td></tr>{END legend}



<tr  class="runner-row style2 runner-b-addbuttons {$brickclass_addbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN save_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$savebutton_attrs}>Save</a>
</span>
{END save_button}
{BEGIN cancel_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$cancelbutton_attrs}>Cancel</a>
</span>
{END cancel_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN backToMenu_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backToMenubutton_attrs}>Back to menu</a>
</span>
{END backToMenu_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_add}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_add}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
