<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id">
	{$id_editcontrol}
	</control>
	<control field="invoice_id">
	{$invoice_id_editcontrol}
	</control>
	<control field="tgl">
	{$tgl_editcontrol}
	</control>
	<control field="tagihan">
	{$tagihan_editcontrol}
	</control>
	<control field="denda">
	{$denda_editcontrol}
	</control>
	<control field="total_bayar">
	{$total_bayar_editcontrol}
	</control>
	<control field="iso_request">
	{$iso_request_editcontrol}
	</control>
	<control field="transmission">
	{$transmission_editcontrol}
	</control>
	<control field="settlement">
	{$settlement_editcontrol}
	</control>
	<control field="stan">
	{$stan_editcontrol}
	</control>
	<control field="ntb">
	{$ntb_editcontrol}
	</control>
	<control field="ntp">
	{$ntp_editcontrol}
	</control>
	<control field="bank_id">
	{$bank_id_editcontrol}
	</control>
	<control field="channel_id">
	{$channel_id_editcontrol}
	</control>
	<control field="bank_ip">
	{$bank_ip_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>