<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Tblpejabat2 - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN id2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_id2 {$fielddispclass_id2}">
				Id2
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id2 {$fielddispclass_id2}">
			<input type="checkbox" {$id2_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id2 {$fielddispclass_id2}">
			{$searchtype_id2}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id2 {$fielddispclass_id2}">
			{$id2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id2 {$fielddispclass_id2}">
			{$id2_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id2_fieldblock}
	{BEGIN nip2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nip2 {$fielddispclass_nip2}">
				Nip2
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nip2 {$fielddispclass_nip2}">
			<input type="checkbox" {$nip2_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nip2 {$fielddispclass_nip2}">
			{$searchtype_nip2}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nip2 {$fielddispclass_nip2}">
			{$nip2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nip2 {$fielddispclass_nip2}">
			{$nip2_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nip2_fieldblock}
	{BEGIN pejabatnm2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pejabatnm2 {$fielddispclass_pejabatnm2}">
				Pejabatnm2
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pejabatnm2 {$fielddispclass_pejabatnm2}">
			<input type="checkbox" {$pejabatnm2_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pejabatnm2 {$fielddispclass_pejabatnm2}">
			{$searchtype_pejabatnm2}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pejabatnm2 {$fielddispclass_pejabatnm2}">
			{$pejabatnm2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pejabatnm2 {$fielddispclass_pejabatnm2}">
			{$pejabatnm2_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pejabatnm2_fieldblock}
	{BEGIN jabatan2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_jabatan2 {$fielddispclass_jabatan2}">
				Jabatan2
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jabatan2 {$fielddispclass_jabatan2}">
			<input type="checkbox" {$jabatan2_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jabatan2 {$fielddispclass_jabatan2}">
			{$searchtype_jabatan2}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jabatan2 {$fielddispclass_jabatan2}">
			{$jabatan2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jabatan2 {$fielddispclass_jabatan2}">
			{$jabatan2_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END jabatan2_fieldblock}
	{BEGIN golongan2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_golongan2 {$fielddispclass_golongan2}">
				Golongan2
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_golongan2 {$fielddispclass_golongan2}">
			<input type="checkbox" {$golongan2_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_golongan2 {$fielddispclass_golongan2}">
			{$searchtype_golongan2}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_golongan2 {$fielddispclass_golongan2}">
			{$golongan2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_golongan2 {$fielddispclass_golongan2}">
			{$golongan2_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END golongan2_fieldblock}
	{BEGIN pangkat2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pangkat2 {$fielddispclass_pangkat2}">
				Pangkat2
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pangkat2 {$fielddispclass_pangkat2}">
			<input type="checkbox" {$pangkat2_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pangkat2 {$fielddispclass_pangkat2}">
			{$searchtype_pangkat2}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pangkat2 {$fielddispclass_pangkat2}">
			{$pangkat2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pangkat2 {$fielddispclass_pangkat2}">
			{$pangkat2_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pangkat2_fieldblock}
	{BEGIN tmt2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_tmt2 {$fielddispclass_tmt2}">
				Tmt2
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tmt2 {$fielddispclass_tmt2}">
			<input type="checkbox" {$tmt2_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tmt2 {$fielddispclass_tmt2}">
			{$searchtype_tmt2}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tmt2 {$fielddispclass_tmt2}">
			{$tmt2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tmt2 {$fielddispclass_tmt2}">
			{$tmt2_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tmt2_fieldblock}
	{BEGIN enabled2_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_enabled2 {$fielddispclass_enabled2}">
				Enabled2
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_enabled2 {$fielddispclass_enabled2}">
			<input type="checkbox" {$enabled2_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_enabled2 {$fielddispclass_enabled2}">
			{$searchtype_enabled2}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_enabled2 {$fielddispclass_enabled2}">
			{$enabled2_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_enabled2 {$fielddispclass_enabled2}">
			{$enabled2_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END enabled2_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
