<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="nama_wp">
	{$nama_wp_editcontrol}
	</control>
	<control field="alamat_wp">
	{$alamat_wp_editcontrol}
	</control>
	<control field="npwpd">
	{$npwpd_editcontrol}
	</control>
	<control field="bayar">
	{$bayar_editcontrol}
	</control>
	<control field="periode_1">
	{$periode_1_editcontrol}
	</control>
	<control field="periode_2">
	{$periode_2_editcontrol}
	</control>
	<control field="keterangan">
	{$keterangan_editcontrol}
	</control>
	<control field="spt_id_old">
	{$spt_id_old_editcontrol}
	</control>
	<control field="judul">
	{$judul_editcontrol}
	</control>
	<control field="lokasi">
	{$lokasi_editcontrol}
	</control>
	<control field="j">
	{$j_editcontrol}
	</control>
	<control field="p">
	{$p_editcontrol}
	</control>
	<control field="l">
	{$l_editcontrol}
	</control>
	<control field="t">
	{$t_editcontrol}
	</control>
	<control field="sspd_id">
	{$sspd_id_editcontrol}
	</control>
	<control field="tanggal">
	{$tanggal_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>