<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Pad Payment, View record [
Id: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN id_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_id {$fielddispclass_id}">
			<b>Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_id {$fielddispclass_id}">
			{$id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END id_fieldblock}
	{BEGIN invoice_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_invoice_id {$fielddispclass_invoice_id}">
			<b>Invoice Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_invoice_id {$fielddispclass_invoice_id}">
			{$invoice_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END invoice_id_fieldblock}
	{BEGIN tgl_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tgl {$fielddispclass_tgl}">
			<b>Tgl</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tgl {$fielddispclass_tgl}">
			{$tgl_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tgl_fieldblock}
	{BEGIN tagihan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_tagihan {$fielddispclass_tagihan}">
			<b>Tagihan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_tagihan {$fielddispclass_tagihan}">
			{$tagihan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END tagihan_fieldblock}
	{BEGIN denda_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_denda {$fielddispclass_denda}">
			<b>Denda</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_denda {$fielddispclass_denda}">
			{$denda_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END denda_fieldblock}
	{BEGIN total_bayar_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_total_bayar {$fielddispclass_total_bayar}">
			<b>Total Bayar</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_total_bayar {$fielddispclass_total_bayar}">
			{$total_bayar_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END total_bayar_fieldblock}
	{BEGIN iso_request_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_iso_request {$fielddispclass_iso_request}">
			<b>Iso Request</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_iso_request {$fielddispclass_iso_request}">
			{$iso_request_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END iso_request_fieldblock}
	{BEGIN transmission_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_transmission {$fielddispclass_transmission}">
			<b>Transmission</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_transmission {$fielddispclass_transmission}">
			{$transmission_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END transmission_fieldblock}
	{BEGIN settlement_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_settlement {$fielddispclass_settlement}">
			<b>Settlement</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_settlement {$fielddispclass_settlement}">
			{$settlement_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END settlement_fieldblock}
	{BEGIN stan_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_stan {$fielddispclass_stan}">
			<b>Stan</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_stan {$fielddispclass_stan}">
			{$stan_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END stan_fieldblock}
	{BEGIN ntb_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ntb {$fielddispclass_ntb}">
			<b>Ntb</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_ntb {$fielddispclass_ntb}">
			{$ntb_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ntb_fieldblock}
	{BEGIN ntp_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ntp {$fielddispclass_ntp}">
			<b>Ntp</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_ntp {$fielddispclass_ntp}">
			{$ntp_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ntp_fieldblock}
	{BEGIN bank_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_bank_id {$fielddispclass_bank_id}">
			<b>Bank Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_bank_id {$fielddispclass_bank_id}">
			{$bank_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END bank_id_fieldblock}
	{BEGIN channel_id_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_channel_id {$fielddispclass_channel_id}">
			<b>Channel Id</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_channel_id {$fielddispclass_channel_id}">
			{$channel_id_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END channel_id_fieldblock}
	{BEGIN bank_ip_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_bank_ip {$fielddispclass_bank_ip}">
			<b>Bank Ip</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_bank_ip {$fielddispclass_bank_ip}">
			{$bank_ip_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END bank_ip_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
