<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="source_id">
	{$source_id_editcontrol}
	</control>
	<control field="source_nama">
	{$source_nama_editcontrol}
	</control>
	<control field="tahun">
	{$tahun_editcontrol}
	</control>
	<control field="usaha_id">
	{$usaha_id_editcontrol}
	</control>
	<control field="invoice_no">
	{$invoice_no_editcontrol}
	</control>
	<control field="jenis_usaha">
	{$jenis_usaha_editcontrol}
	</control>
	<control field="jenis_pajak">
	{$jenis_pajak_editcontrol}
	</control>
	<control field="npwpd">
	{$npwpd_editcontrol}
	</control>
	<control field="nama_wp">
	{$nama_wp_editcontrol}
	</control>
	<control field="alamat_wp">
	{$alamat_wp_editcontrol}
	</control>
	<control field="nama_op">
	{$nama_op_editcontrol}
	</control>
	<control field="alamat_op">
	{$alamat_op_editcontrol}
	</control>
	<control field="nomor_tagihan">
	{$nomor_tagihan_editcontrol}
	</control>
	<control field="pokok">
	{$pokok_editcontrol}
	</control>
	<control field="denda">
	{$denda_editcontrol}
	</control>
	<control field="bunga">
	{$bunga_editcontrol}
	</control>
	<control field="total">
	{$total_editcontrol}
	</control>
	<control field="status_bayar">
	{$status_bayar_editcontrol}
	</control>
	<control field="jatuh_tempo">
	{$jatuh_tempo_editcontrol}
	</control>
	<control field="periode">
	{$periode_editcontrol}
	</control>
	<control field="rekening_pokok">
	{$rekening_pokok_editcontrol}
	</control>
	<control field="rekening_denda">
	{$rekening_denda_editcontrol}
	</control>
	<control field="nama_pokok">
	{$nama_pokok_editcontrol}
	</control>
	<control field="nama_denda">
	{$nama_denda_editcontrol}
	</control>
	<control field="created">
	{$created_editcontrol}
	</control>
	<control field="updated">
	{$updated_editcontrol}
	</control>
	<control field="create_uid">
	{$create_uid_editcontrol}
	</control>
	<control field="update_uid">
	{$update_uid_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>