<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Pad Invoice - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_id {$fielddispclass_id}">
				Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id {$fielddispclass_id}">
			<input type="checkbox" {$id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_id {$fielddispclass_id}">
			{$searchtype_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id {$fielddispclass_id}">
			{$id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_id {$fielddispclass_id}">
			{$id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END id_fieldblock}
	{BEGIN source_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_source_id {$fielddispclass_source_id}">
				Source Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_source_id {$fielddispclass_source_id}">
			<input type="checkbox" {$source_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_source_id {$fielddispclass_source_id}">
			{$searchtype_source_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_source_id {$fielddispclass_source_id}">
			{$source_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_source_id {$fielddispclass_source_id}">
			{$source_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END source_id_fieldblock}
	{BEGIN source_nama_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_source_nama {$fielddispclass_source_nama}">
				Source Nama
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_source_nama {$fielddispclass_source_nama}">
			<input type="checkbox" {$source_nama_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_source_nama {$fielddispclass_source_nama}">
			{$searchtype_source_nama}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_source_nama {$fielddispclass_source_nama}">
			{$source_nama_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_source_nama {$fielddispclass_source_nama}">
			{$source_nama_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END source_nama_fieldblock}
	{BEGIN tahun_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_tahun {$fielddispclass_tahun}">
				Tahun
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tahun {$fielddispclass_tahun}">
			<input type="checkbox" {$tahun_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_tahun {$fielddispclass_tahun}">
			{$searchtype_tahun}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tahun {$fielddispclass_tahun}">
			{$tahun_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_tahun {$fielddispclass_tahun}">
			{$tahun_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END tahun_fieldblock}
	{BEGIN usaha_id_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_usaha_id {$fielddispclass_usaha_id}">
				Usaha Id
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_usaha_id {$fielddispclass_usaha_id}">
			<input type="checkbox" {$usaha_id_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_usaha_id {$fielddispclass_usaha_id}">
			{$searchtype_usaha_id}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_usaha_id {$fielddispclass_usaha_id}">
			{$usaha_id_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_usaha_id {$fielddispclass_usaha_id}">
			{$usaha_id_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END usaha_id_fieldblock}
	{BEGIN invoice_no_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_invoice_no {$fielddispclass_invoice_no}">
				Invoice No
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_invoice_no {$fielddispclass_invoice_no}">
			<input type="checkbox" {$invoice_no_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_invoice_no {$fielddispclass_invoice_no}">
			{$searchtype_invoice_no}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_invoice_no {$fielddispclass_invoice_no}">
			{$invoice_no_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_invoice_no {$fielddispclass_invoice_no}">
			{$invoice_no_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END invoice_no_fieldblock}
	{BEGIN jenis_usaha_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_jenis_usaha {$fielddispclass_jenis_usaha}">
				Jenis Usaha
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jenis_usaha {$fielddispclass_jenis_usaha}">
			<input type="checkbox" {$jenis_usaha_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jenis_usaha {$fielddispclass_jenis_usaha}">
			{$searchtype_jenis_usaha}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jenis_usaha {$fielddispclass_jenis_usaha}">
			{$jenis_usaha_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jenis_usaha {$fielddispclass_jenis_usaha}">
			{$jenis_usaha_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END jenis_usaha_fieldblock}
	{BEGIN jenis_pajak_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_jenis_pajak {$fielddispclass_jenis_pajak}">
				Jenis Pajak
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jenis_pajak {$fielddispclass_jenis_pajak}">
			<input type="checkbox" {$jenis_pajak_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jenis_pajak {$fielddispclass_jenis_pajak}">
			{$searchtype_jenis_pajak}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jenis_pajak {$fielddispclass_jenis_pajak}">
			{$jenis_pajak_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jenis_pajak {$fielddispclass_jenis_pajak}">
			{$jenis_pajak_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END jenis_pajak_fieldblock}
	{BEGIN npwpd_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_npwpd {$fielddispclass_npwpd}">
				Npwpd
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_npwpd {$fielddispclass_npwpd}">
			<input type="checkbox" {$npwpd_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_npwpd {$fielddispclass_npwpd}">
			{$searchtype_npwpd}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_npwpd {$fielddispclass_npwpd}">
			{$npwpd_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_npwpd {$fielddispclass_npwpd}">
			{$npwpd_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END npwpd_fieldblock}
	{BEGIN nama_wp_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nama_wp {$fielddispclass_nama_wp}">
				Nama Wp
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama_wp {$fielddispclass_nama_wp}">
			<input type="checkbox" {$nama_wp_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama_wp {$fielddispclass_nama_wp}">
			{$searchtype_nama_wp}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama_wp {$fielddispclass_nama_wp}">
			{$nama_wp_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama_wp {$fielddispclass_nama_wp}">
			{$nama_wp_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nama_wp_fieldblock}
	{BEGIN alamat_wp_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_alamat_wp {$fielddispclass_alamat_wp}">
				Alamat Wp
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_alamat_wp {$fielddispclass_alamat_wp}">
			<input type="checkbox" {$alamat_wp_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_alamat_wp {$fielddispclass_alamat_wp}">
			{$searchtype_alamat_wp}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_alamat_wp {$fielddispclass_alamat_wp}">
			{$alamat_wp_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_alamat_wp {$fielddispclass_alamat_wp}">
			{$alamat_wp_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END alamat_wp_fieldblock}
	{BEGIN nama_op_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nama_op {$fielddispclass_nama_op}">
				Nama Op
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama_op {$fielddispclass_nama_op}">
			<input type="checkbox" {$nama_op_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama_op {$fielddispclass_nama_op}">
			{$searchtype_nama_op}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama_op {$fielddispclass_nama_op}">
			{$nama_op_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama_op {$fielddispclass_nama_op}">
			{$nama_op_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nama_op_fieldblock}
	{BEGIN alamat_op_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_alamat_op {$fielddispclass_alamat_op}">
				Alamat Op
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_alamat_op {$fielddispclass_alamat_op}">
			<input type="checkbox" {$alamat_op_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_alamat_op {$fielddispclass_alamat_op}">
			{$searchtype_alamat_op}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_alamat_op {$fielddispclass_alamat_op}">
			{$alamat_op_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_alamat_op {$fielddispclass_alamat_op}">
			{$alamat_op_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END alamat_op_fieldblock}
	{BEGIN nomor_tagihan_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nomor_tagihan {$fielddispclass_nomor_tagihan}">
				Nomor Tagihan
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nomor_tagihan {$fielddispclass_nomor_tagihan}">
			<input type="checkbox" {$nomor_tagihan_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nomor_tagihan {$fielddispclass_nomor_tagihan}">
			{$searchtype_nomor_tagihan}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nomor_tagihan {$fielddispclass_nomor_tagihan}">
			{$nomor_tagihan_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nomor_tagihan {$fielddispclass_nomor_tagihan}">
			{$nomor_tagihan_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nomor_tagihan_fieldblock}
	{BEGIN pokok_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_pokok {$fielddispclass_pokok}">
				Pokok
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pokok {$fielddispclass_pokok}">
			<input type="checkbox" {$pokok_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_pokok {$fielddispclass_pokok}">
			{$searchtype_pokok}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pokok {$fielddispclass_pokok}">
			{$pokok_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_pokok {$fielddispclass_pokok}">
			{$pokok_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END pokok_fieldblock}
	{BEGIN denda_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_denda {$fielddispclass_denda}">
				Denda
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_denda {$fielddispclass_denda}">
			<input type="checkbox" {$denda_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_denda {$fielddispclass_denda}">
			{$searchtype_denda}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_denda {$fielddispclass_denda}">
			{$denda_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_denda {$fielddispclass_denda}">
			{$denda_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END denda_fieldblock}
	{BEGIN bunga_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_bunga {$fielddispclass_bunga}">
				Bunga
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_bunga {$fielddispclass_bunga}">
			<input type="checkbox" {$bunga_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_bunga {$fielddispclass_bunga}">
			{$searchtype_bunga}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_bunga {$fielddispclass_bunga}">
			{$bunga_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_bunga {$fielddispclass_bunga}">
			{$bunga_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END bunga_fieldblock}
	{BEGIN total_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_total {$fielddispclass_total}">
				Total
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_total {$fielddispclass_total}">
			<input type="checkbox" {$total_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_total {$fielddispclass_total}">
			{$searchtype_total}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_total {$fielddispclass_total}">
			{$total_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_total {$fielddispclass_total}">
			{$total_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END total_fieldblock}
	{BEGIN status_bayar_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_status_bayar {$fielddispclass_status_bayar}">
				Status Bayar
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_status_bayar {$fielddispclass_status_bayar}">
			<input type="checkbox" {$status_bayar_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_status_bayar {$fielddispclass_status_bayar}">
			{$searchtype_status_bayar}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_status_bayar {$fielddispclass_status_bayar}">
			{$status_bayar_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_status_bayar {$fielddispclass_status_bayar}">
			{$status_bayar_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END status_bayar_fieldblock}
	{BEGIN jatuh_tempo_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_jatuh_tempo {$fielddispclass_jatuh_tempo}">
				Jatuh Tempo
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jatuh_tempo {$fielddispclass_jatuh_tempo}">
			<input type="checkbox" {$jatuh_tempo_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_jatuh_tempo {$fielddispclass_jatuh_tempo}">
			{$searchtype_jatuh_tempo}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jatuh_tempo {$fielddispclass_jatuh_tempo}">
			{$jatuh_tempo_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_jatuh_tempo {$fielddispclass_jatuh_tempo}">
			{$jatuh_tempo_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END jatuh_tempo_fieldblock}
	{BEGIN periode_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_periode {$fielddispclass_periode}">
				Periode
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_periode {$fielddispclass_periode}">
			<input type="checkbox" {$periode_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_periode {$fielddispclass_periode}">
			{$searchtype_periode}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_periode {$fielddispclass_periode}">
			{$periode_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_periode {$fielddispclass_periode}">
			{$periode_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END periode_fieldblock}
	{BEGIN rekening_pokok_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_rekening_pokok {$fielddispclass_rekening_pokok}">
				Rekening Pokok
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_rekening_pokok {$fielddispclass_rekening_pokok}">
			<input type="checkbox" {$rekening_pokok_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_rekening_pokok {$fielddispclass_rekening_pokok}">
			{$searchtype_rekening_pokok}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_rekening_pokok {$fielddispclass_rekening_pokok}">
			{$rekening_pokok_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_rekening_pokok {$fielddispclass_rekening_pokok}">
			{$rekening_pokok_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END rekening_pokok_fieldblock}
	{BEGIN rekening_denda_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_rekening_denda {$fielddispclass_rekening_denda}">
				Rekening Denda
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_rekening_denda {$fielddispclass_rekening_denda}">
			<input type="checkbox" {$rekening_denda_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_rekening_denda {$fielddispclass_rekening_denda}">
			{$searchtype_rekening_denda}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_rekening_denda {$fielddispclass_rekening_denda}">
			{$rekening_denda_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_rekening_denda {$fielddispclass_rekening_denda}">
			{$rekening_denda_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END rekening_denda_fieldblock}
	{BEGIN nama_pokok_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nama_pokok {$fielddispclass_nama_pokok}">
				Nama Pokok
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama_pokok {$fielddispclass_nama_pokok}">
			<input type="checkbox" {$nama_pokok_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama_pokok {$fielddispclass_nama_pokok}">
			{$searchtype_nama_pokok}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama_pokok {$fielddispclass_nama_pokok}">
			{$nama_pokok_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama_pokok {$fielddispclass_nama_pokok}">
			{$nama_pokok_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nama_pokok_fieldblock}
	{BEGIN nama_denda_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_nama_denda {$fielddispclass_nama_denda}">
				Nama Denda
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama_denda {$fielddispclass_nama_denda}">
			<input type="checkbox" {$nama_denda_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_nama_denda {$fielddispclass_nama_denda}">
			{$searchtype_nama_denda}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama_denda {$fielddispclass_nama_denda}">
			{$nama_denda_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_nama_denda {$fielddispclass_nama_denda}">
			{$nama_denda_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END nama_denda_fieldblock}
	{BEGIN created_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_created {$fielddispclass_created}">
				Created
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_created {$fielddispclass_created}">
			<input type="checkbox" {$created_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_created {$fielddispclass_created}">
			{$searchtype_created}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_created {$fielddispclass_created}">
			{$created_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_created {$fielddispclass_created}">
			{$created_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END created_fieldblock}
	{BEGIN updated_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_updated {$fielddispclass_updated}">
				Updated
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_updated {$fielddispclass_updated}">
			<input type="checkbox" {$updated_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_updated {$fielddispclass_updated}">
			{$searchtype_updated}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_updated {$fielddispclass_updated}">
			{$updated_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_updated {$fielddispclass_updated}">
			{$updated_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END updated_fieldblock}
	{BEGIN create_uid_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_create_uid {$fielddispclass_create_uid}">
				Create Uid
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_create_uid {$fielddispclass_create_uid}">
			<input type="checkbox" {$create_uid_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_create_uid {$fielddispclass_create_uid}">
			{$searchtype_create_uid}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_create_uid {$fielddispclass_create_uid}">
			{$create_uid_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_create_uid {$fielddispclass_create_uid}">
			{$create_uid_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END create_uid_fieldblock}
	{BEGIN update_uid_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_update_uid {$fielddispclass_update_uid}">
				Update Uid
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_update_uid {$fielddispclass_update_uid}">
			<input type="checkbox" {$update_uid_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_update_uid {$fielddispclass_update_uid}">
			{$searchtype_update_uid}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_update_uid {$fielddispclass_update_uid}">
			{$update_uid_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_update_uid {$fielddispclass_update_uid}">
			{$update_uid_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END update_uid_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
